Repository openvinotoolkit/openvino.genai, changes with the labels that .github/labeler.yml gives for each.
All labels: category: GHA, category: tests dependencies, category: samples dependencies, category: tokenizers, category: text streamer, category: LLM, category: visual language, category: RAG, category: sampling, category: LoRA, category: LLM samples, category: Whisper samples, category: Image generation samples, category: VLM samples, category: RAG samples, category: structured output generation, category: whisper, category: image generation, category: speech generation, category: Speech generation samples, category: speculative decoding, category: prompt lookup, category: continuous batching, category: GGUF, category: Structured Output samples, category: cmake / build, category: Python API, category: CPP API, category: C API, category: JS API, category: llm_bench, category: WWB, category: GH Pages Docs

1) remove unused code block; 2) reduce the unnecessary copy; 3) merge loop
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language

Update src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

rename according to copilot suggestion
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language

Update classes.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
Labels: category: visual language

Update classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language

add header
  samples/cpp/image_generation/progress_bar.hpp
  samples/cpp/video_generation/text2video.cpp
  src/cpp/include/openvino/genai/video_generation/text2video_pipeline.hpp
  src/cpp/src/video_generation/text2video_pipeline.cpp
Labels: category: Image generation samples, category: CPP API

Add <unordered_map> and <sstream> header
  src/cpp/include/openvino/genai/cache_eviction.hpp
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/include/openvino/genai/sparse_attention.hpp
Labels: category: continuous batching, category: CPP API

VideoGenerationConfig
  samples/cpp/video_generation/text2video.cpp
  src/cpp/include/openvino/genai/video_generation/text2video_pipeline.hpp
  src/cpp/src/video_generation/text2video_pipeline.cpp
Labels: category: CPP API

chang gpu_block_size to 256
  src/cpp/src/continuous_batching/cache_manager.hpp
Labels: category: continuous batching

rm namepsace
  src/cpp/src/video_generation/text2video_pipeline.cpp
Labels: none

line
  samples/CMakeLists.txt
Labels: category: cmake / build

video
  samples/cpp/video_generation/text2video.cpp
Labels: none

rename rgbs to images
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/continuous_batching_adapter.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/pipeline_base.hpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language, category: CPP API

notes
  samples/cpp/video_generation/text2video.cpp
  src/cpp/include/openvino/genai/video_generation/text2video_pipeline.hpp
Labels: category: CPP API

Fixture-based VLM models reusing fixes pt.2
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: GGUF

save
  src/cpp/include/openvino/genai/text_streamer.hpp
  src/cpp/src/text_streamer.cpp
Labels: category: text streamer, category: CPP API

review fixes
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

save
  src/cpp/include/openvino/genai/text_streamer.hpp
  src/cpp/src/text_streamer.cpp
Labels: category: text streamer, category: CPP API

binding
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_streamers.cpp
Labels: category: text streamer, category: Python API

Fixture-based VLM models reusing fixes pt.3
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: GGUF

Fix attention mask pass for whisper (static)
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: whisper

Fix sdpa inputs
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: whisper

run vision embed model on GPU
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

change naming to device_properties from device_propertes
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

codestyle fix
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

[llm_bench] Add reranking pipeline
  tests/python_tests/samples/test_tools_llm_benchmark.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/hook_common.py
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
  tools/llm_bench/prompts/texts_for_rerank.jsonl
  tools/llm_bench/task/pipeline_utils.py
  tools/llm_bench/task/text_reranker.py
Labels: category: GGUF, category: llm_bench

Fixed clearing of kv-cache for GPU (#2717)
  src/cpp/src/continuous_batching/cache_manager.hpp
Labels: category: continuous batching

add total perf_metric printing for eagle pipeline
  samples/cpp/text_generation/eagle_speculative_lm.cpp
  src/cpp/include/openvino/genai/perf_metrics.hpp
Labels: category: LLM samples, category: CPP API

Update tools/continuous_batching/benchmark/continuous_batching_benchmark.cpp
  tools/continuous_batching/benchmark/continuous_batching_benchmark.cpp
Labels: category: continuous batching

fix compilation errors
  samples/cpp/text_generation/eagle_speculative_lm.cpp
Labels: category: LLM samples

.github/labeler.yml:

'category: GHA':
- '.github/**/*'

'category: tests dependencies':
- 'tests/python_tests/requirements.txt'

'category: samples dependencies':
- 'samples/requirements.txt'
- 'samples/deployment-requirements.txt'
- 'samples/export-requirements.txt'

'category: tokenizers':
- 'src/cpp/include/openvino/genai/tokenizer.hpp'
- 'src/cpp/src/tokenizer/**/*'
- 'src/python/py_tokenizer.cpp'
- 'thirdparty/openvino_tokenizers'
- 'tests/python_tests/data/tokenizer_configs.py'
- 'tests/python_tests/test_tokenizer.py'

'category: text streamer':
- 'src/cpp/include/openvino/genai/text_streamer.hpp'
- 'src/cpp/include/openvino/genai/streamer_base.hpp'
- 'src/cpp/src/text_streamer.cpp'
- 'src/cpp/src/continuous_batching/threaded_streamer.hpp'
- 'src/python/py_streamers.cpp'
- 'tests/python_tests/test_text_streamer.py'

'category: LLM':
- 'src/cpp/include/openvino/genai/llm_pipeline.hpp'
- 'src/cpp/src/llm/**/*'
- 'src/cpp/src/lm_encoding.hpp'
- 'src/cpp/src/lm_encoding.cpp'
- 'src/python/py_llm_pipeline.cpp'
- 'tests/python_tests/test_llm_pipeline.py'
- 'tests/python_tests/test_llm_pipeline_static.py'

'category: visual language':
- 'src/include/openvino/genai/visual_language/**/*'
- 'src/cpp/src/visual_language/**/*'
- 'src/cpp/src/lm_encoding.hpp'
- 'src/cpp/src/lm_encoding.cpp'
- 'src/python/py_vlm_pipeline.cpp'
- 'tests/python_tests/test_vlm_pipeline.py'

'category: RAG':
- 'src/cpp/include/openvino/genai/rag/**/*'
- 'src/cpp/src/rag/**/*'
- 'src/python/py_rag.cpp'
- 'tests/python_tests/test_rag.py'

'category: sampling':
- 'src/cpp/include/openvino/genai/generation_config.hpp'
- 'src/cpp/src/generation_config.cpp'
- 'src/cpp/src/sampling/**/*'
- 'src/python/py_generation_config.cpp'
- 'tests/cpp/logit_filtering.cpp'
- 'tests/cpp/generate_config.cpp'
- 'tests/cpp/sampler.cpp'
- 'tests/python_tests/test_sampling.py'
- 'tests/python_tests/test_generation_config.py'

'category: LoRA':
- 'src/cpp/include/openvino/genai/lora_adapter.hpp'
- 'src/cpp/src/lora/**/*'
- 'src/python/py_lora_adapter.cpp'

'category: LLM samples':
- 'samples/c/text_generation/**/*'
- 'samples/cpp/text_generation/**/*'
- 'samples/js/text_generation/**/*'
- 'samples/python/text_generation/**/*'
- 'tests/python_tests/samples/test_beam_search_causal_lm.py'
- 'tests/python_tests/samples/test_benchmark_genai.py'
- 'tests/python_tests/samples/test_chat_sample.py'
- 'tests/python_tests/samples/test_encrypted_model_causal_lm.py'
- 'tests/python_tests/samples/test_greedy_causal_lm.py'
- 'tests/python_tests/samples/test_lora.py'
- 'tests/python_tests/samples/test_multinomial_causal_lm.py'
- 'tests/python_tests/samples/test_prompt_lookup_decoding_lm.py'
- 'tests/python_tests/samples/test_react_sample.py'
- 'tests/python_tests/samples/test_speculative_decoding_lm.py'

'category: Whisper samples':
- 'samples/cpp/whisper_speech_recognition/**/*'
- 'samples/python/whisper_speech_recognition/**/*'

'category: Image generation samples':
- 'samples/cpp/image_generation/**/*'
- 'samples/python/image_generation/**/*'
- 'tests/python_tests/samples/test_benchmark_image_gen.py'
- 'tests/python_tests/samples/test_heterogeneous_stable_diffusion.py'
- 'tests/python_tests/samples/test_text2image.py'
- 'tests/python_tests/samples/test_image2image.py'
- 'tests/python_tests/samples/test_inpainting.py'
- 'tests/python_tests/samples/test_lora_text2image.py'

'category: VLM samples':
- 'samples/cpp/visual_language_chat/**/*'
- 'samples/python/visual_language_chat/**/*'
- 'tests/python_tests/samples/test_benchmark_vlm.py'
- 'tests/python_tests/samples/test_visual_language_chat.py'

'category: RAG samples':
- 'samples/cpp/rag/**/*'
- 'samples/python/rag/**/*'
- 'tests/python_tests/samples/test_rag.py'

'category: structured output generation':
- 'src/cpp/src/sampling/structured_output/*'

'category: whisper':
- 'src/cpp/include/openvino/genai/whisper_generation_config.hpp'
- 'src/cpp/include/openvino/genai/whisper_pipeline.hpp'
- 'src/cpp/src/whisper/**/*'
- 'src/python/py_whisper_pipeline.cpp'
- 'tests/python_tests/test_whisper_pipeline.py'
- 'tests/python_tests/test_whisper_pipeline_static.py'
- 'tests/python_tests/samples/test_whisper_speech_recognition.py'

'category: image generation':
- 'src/include/openvino/genai/image_generation/**/*'
- 'src/cpp/src/image_generation/**/*'
- 'src/python/py_image_generation_models.cpp'
- 'src/python/py_image_generation_pipelines.cpp'

'category: speech generation':
- 'src/include/openvino/genai/speech_generation/**/*'
- 'src/cpp/src/speech_generation/**/*'
- 'src/python/py_speech_generation.cpp'

'category: Speech generation samples':
- 'samples/cpp/speech_generation/**/*'
- 'samples/python/speech_generation/**/*'
- 'tests/python_tests/samples/test_text2speech.py'

'category: speculative decoding':
- 'src/cpp/src/speculative_decoding/**/*'
- 'tests/cpp/speculative_decoding.cpp'

'category: prompt lookup':
- 'src/cpp/src/prompt_lookup/**/*'

'category: continuous batching':
- 'src/cpp/include/openvino/genai/cache_eviction.hpp'
- 'src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp'
- 'src/cpp/include/openvino/genai/generation_handle.hpp'
- 'src/cpp/include/openvino/genai/scheduler_config.hpp'
- 'src/cpp/src/continuous_batching/**/*'
- 'src/python/py_continuous_batching_pipeline.cpp'
- 'tools/continuous_batching/**/*'
- 'tools/cacheviz/**/*'
- 'tests/python_tests/test_continuous_batching.py'
- 'tests/python_tests/test_kv_cache_eviction.py'
- 'tests/cpp/data/**/*'
- 'tests/cpp/block_allocator.cpp'
- 'tests/cpp/block_hash_store.cpp'
- 'tests/cpp/block_manager.cpp'
- 'tests/cpp/cache_eviction.cpp'
- 'tests/cpp/cache_manager.cpp'
- 'tests/cpp/scheduler.cpp'
- 'tests/python_tests/data/long_prompts.txt'
- 'tests/python_tests/data/short_prompts.txt'
- 'tests/python_tests/data/test_dataset.py'
- 'tests/python_tests/models/**/*'
- 'tests/python_tests/samples/test_continuous_batching_tools.py'

'category: GGUF':
- 'src/cpp/src/gguf_utils/**'
- 'tests/python_tests/**'

'category: Structured Output samples':
- 'samples/cpp/text_generation/structured_output_generation'
- 'samples/python/text_generation/structured_output_generation.py'
- 'tests/python_tests/samples/test_structured_output_sample.py'

'category: cmake / build':
- 'cmake/**/*'
- '**/CMakeLists.txt'
- '**/*.cmake'
- 'pyproject.toml'
- 'requirements-build.txt'

'category: Python API':
- 'src/python/**/*'

'category: CPP API':
- 'src/cpp/include/openvino/genai/**/*'

'category: C API':
- 'src/c/**/*'
- 'src/samples/c/**/*'

'category: JS API':
- 'src/js/**/*'
- 'src/samples/js/**/*'

'category: llm_bench':
- 'tools/llm_bench/**/*'
- '.github/workflows/llm_bench-python.yml'
- 'tests/python_tests/samples/test_tools_llm_benchmark.py'

'category: WWB':
- 'tools/who_what_benchmark/**/*'

'category: GH Pages Docs':
- 'site/**/*'
