Repository openvinotoolkit/openvino.genai, pull requests merged in 2023-12, with the labels that each got.

#47 [ChatGLM]set correct batch for beam-search
  llm_bench/python/utils/ov_utils.py
Labels: llm_bench

#51 Use revision for qwen
  llm_bench/python/convert.py
Labels: llm_bench

#56 Add label llm_bench automatically
  .github/workflows/llm_bench-python.yml
  llm_bench/python/README.md
Labels: llm_bench

#54 Add the solution to convert baichuan2-7t-chat to NOTES.md
  llm_bench/python/NOTES.md
Labels: llm_bench

#50 Add num_beans and batch_size to csv and json file
  llm_bench/python/benchmark.py
  llm_bench/python/utils/output_csv.py
  llm_bench/python/utils/output_json.py
Labels: llm_bench

#44 Measure unet and vae decoder perf separately
  llm_bench/python/benchmark.py
  llm_bench/python/utils/hook_forward.py
  llm_bench/python/utils/metrics_print.py
  llm_bench/python/utils/output_csv.py
  llm_bench/python/utils/ov_model_classes.py
Labels: llm_bench

#53 Add time measurement for beam search
  llm_bench/python/benchmark.py
  llm_bench/python/utils/hook_beam_search.py
  llm_bench/python/utils/hook_greedy_search.py
  llm_bench/python/utils/hook_transformers.py
Labels: llm_bench

#60 Changed stablelm-3b model parameters.
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#64 [ChatGLM2/3]Simplify the attention_mask to make stateful model correct
  llm_bench/python/utils/conversion_utils/convert_patch.py
Labels: llm_bench

#68 Simple test for llm_bench on linux
  .github/workflows/llm_bench-python.yml
  llm_bench/python/llm_run_on_linux.sh
Labels: llm_bench

#70 update openvino tokenizers according the latest changes
  llm_bench/python/utils/ov_utils.py
Labels: llm_bench

#65 Add method to find use case from config.json in addition to model name
  llm_bench/python/utils/model_utils.py
Labels: llm_bench

#52 Move stateful model preparation to optimum-intel
  .github/workflows/llm_bench-python.yml
  llm_bench/python/benchmark.py
  llm_bench/python/convert.py
  llm_bench/python/requirements-dev.txt
  llm_bench/python/requirements.txt
  llm_bench/python/utils/conversion_utils/better_transformer_patch.py
  llm_bench/python/utils/model_utils.py
  llm_bench/python/utils/ov_model_classes.py
  llm_bench/python/utils/ov_utils.py
Labels: llm_bench

#82 fix _reshape on beam_idx
  llm_bench/python/utils/ov_model_classes.py
Labels: llm_bench

#67 allow llm compress without convert
  llm_bench/python/convert.py
  llm_bench/python/utils/config_class.py
  llm_bench/python/utils/conversion_utils/export_configs.py
  llm_bench/python/utils/conversion_utils/helpers.py
  llm_bench/python/utils/ov_model_classes.py
Labels: llm_bench, Code Freeze

#81 causal_lm: add stateful group beam search
  .github/workflows/causal_lm_cpp.yml
  text_generation/causal_lm/cpp/CMakeLists.txt
  text_generation/causal_lm/cpp/README.md
  text_generation/causal_lm/cpp/beam_search_causal_lm.cpp
  text_generation/causal_lm/cpp/convert_tokenizers.py
  text_generation/causal_lm/cpp/greedy_causal_lm.cpp
  text_generation/causal_lm/cpp/group_beam_searcher.hpp
  text_generation/causal_lm/cpp/set_up_and_run.sh
Labels: Code Freeze

#95 fix aquilachat and codegen2 after rebasing
  llm_bench/python/convert.py
  llm_bench/python/utils/ov_model_classes.py
Labels: Code Freeze

#66 Get params of stable-diffusion and ldm from prompt file
  llm_bench/python/README.md
  llm_bench/python/benchmark.py
  llm_bench/python/doc/IMAGE_GEN.md
  llm_bench/python/doc/NOTES.md
  llm_bench/python/utils/model_utils.py
Labels: enhancement, llm_bench, Code Freeze

#99 stable_diffusion_1_5: refactored LoRA, scripts in SD demo
  .github/workflows/stable_diffusion_1_5_cpp.yml
  image_generation/common/diffusers/CMakeLists.txt
  image_generation/common/diffusers/include/lora.hpp
  image_generation/common/diffusers/src/lora.cpp
  image_generation/common/diffusers/src/safetensors.h
  image_generation/common/diffusers/src/scheduler_lms_discrete.cpp
  image_generation/stable_diffusion_1_5/cpp/.clang-format
  image_generation/stable_diffusion_1_5/cpp/CMakeLists.txt
  image_generation/stable_diffusion_1_5/cpp/LICENSE
  image_generation/stable_diffusion_1_5/cpp/README.md
  image_generation/stable_diffusion_1_5/cpp/models/vocab.txt
  image_generation/stable_diffusion_1_5/cpp/scripts/build_dependencies.sh
  image_generation/stable_diffusion_1_5/cpp/scripts/convert_model.py
  image_generation/stable_diffusion_1_5/cpp/scripts/convert_tokenizer.py
  image_generation/stable_diffusion_1_5/cpp/set_up_and_run.sh
  image_generation/stable_diffusion_1_5/cpp/src/lora_cpp.hpp
  image_generation/stable_diffusion_1_5/cpp/src/main.cpp
Labels: enhancement
