Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-11, with the labels that each got.

#1124 Fix converting clip image f32 to OV tensor in LLaVA processing
  src/cpp/src/visual_language/vision_encoder.cpp
Labels: bug, category: visual language, category: sampling

#1123 Bypass ov_config to GenAI classes
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1121 Simplify clip
  src/cpp/src/visual_language/clip.cpp
  src/cpp/src/visual_language/clip.hpp
Labels: category: visual language, category: sampling

#1125 [Image generation] Fixed SD3 pipeline to use proper tokenizers
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/numpy_utils.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/tokenizer.cpp
Labels: bug, category: text to image, category: tokenizers

#1126 Fix small typo in speculative decoding sample readme
  samples/cpp/speculative_decoding_lm/README.md
  samples/python/speculative_decoding_lm/README.md
Labels: category: samples

#1128 Add text2image notebook link
  README.md
Labels: category: sampling

#1127 Fix fails when calling LLMPipeline.generate without max_new_tokens/max_length
  src/cpp/src/lm_encoding.cpp
Labels: category: LLM

#1130 Update to the latest nightly
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: GHA

#1116 [Speculative decoding] fix the failure when running on different devices
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  samples/python/speculative_decoding_lm/speculative_decoding_lm.py
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: continuous batching, category: sampling, category: speculative decoding, category: samples, category: GenAI C++ API

#1131 [Image generation] Fixed SD3 accuracy issues
  src/cpp/include/openvino/genai/image_generation/autoencoder_kl.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: bug, category: text to image, category: sampling, category: GenAI C++ API

#1133 Move to tiny-random-minicpmv-2_6
  .github/workflows/causal_lm_cpp.yml
Labels: category: sampling, category: GHA

#1137 [Speculative decoding] Add tokenizers check between draft and main models
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: speculative decoding

#1132 Added benchmark_genai sample to installation
  samples/CMakeLists.txt
Labels: category: sampling, category: cmake / build, category: samples

#1138 Fix concatenating image patches for LLaVA Next models
  src/cpp/src/visual_language/vision_encoder.cpp
Labels: bug, category: visual language, category: sampling

#1144 Switch to macos-13
  .github/workflows/causal_lm_cpp.yml
Labels: category: sampling, category: GHA

#1118 exclude prefill from calculating TPOT statistics, docs for RawPerfMetrics
  src/README.md
  src/cpp/src/perf_metrics.cpp
  src/python/py_perf_metrics.cpp
Labels: bug, category: Python API, pr_needs_tests

#1129 Add Text2ImagePipeline to llm bench
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: GHA

#1135 Introduce logprobs parameter and compute logprobs conditionally
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/python/py_generation_config.cpp
Labels: category: sampling, category: Python API, category: GenAI C++ API

#1145 [Continuous batching] Remove `Block size` from scheduler config
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  samples/python/speculative_decoding_lm/speculative_decoding_lm.py
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/device_config.hpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/scheduler.hpp
  src/python/py_continuous_batching_pipeline.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/device_config.cpp
  tests/cpp/scheduler.cpp
  tests/python_tests/test_preemption.py
  tools/continuous_batching/accuracy/continuous_batching_accuracy.cpp
  tools/continuous_batching/accuracy/continuous_batching_speculative_decoding.cpp
  tools/continuous_batching/benchmark/continuous_batching_benchmark.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: continuous batching, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1025 [LLM_BENCH] Whisper pipeline
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
  tools/llm_bench/doc/NOTES.md
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/llm_bench_utils/hook_forward_whisper.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/parse_json_data.py
  tools/llm_bench/requirements.txt
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/super_resolution_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: sampling, category: GHA

#1139 Preserve default config for LLM
  src/python/py_llm_pipeline.cpp
  tests/python_tests/test_chat_generate_api.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: bug, category: WWB, category: LLM, category: sampling, category: Python API

#1151 Fix repetition_penalty for tests
  src/cpp/src/logit_processor.hpp
Labels: bug, category: sampling

#1153 Add commit to WWB version
  tools/who_what_benchmark/setup.py
Labels: category: WWB

#1157 Use 2025.0 nightly
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: sampling, category: GHA

#1154 [VLM] Fixed mismatch between types
  samples/python/visual_language_chat/visual_language_chat.py
  src/cpp/src/visual_language/inputs_embedder.cpp
Labels: bug, category: visual language, category: samples

#1156 Remove failing diff
  .github/workflows/causal_lm_cpp.yml
Labels: category: GHA

#1146 [Image generation] Non public API changes for image generation
  samples/python/visual_language_chat/visual_language_chat.py
  src/cpp/include/openvino/genai/image_generation/autoencoder_kl.hpp
  src/cpp/src/debug_utils.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/schedulers/ddim.cpp
  src/cpp/src/image_generation/schedulers/euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/euler_discrete.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/python/openvino_genai/__init__.py
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: visual language, category: continuous batching, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1155 StaticLLMPipeline: Align MAX_PROMPT_LEN
  src/cpp/src/llm_pipeline_static.cpp
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: LLM, category: sampling

#1147 [GHA] Split VLM job by models
  .github/actions/build_app/action.yml
  .github/actions/install_openvino/action.yml
  .github/actions/install_python_deps/action.yml
  .github/scripts/generate_reference_llava.py
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .gitignore
Labels: category: GHA

#1160 support whisper pipeline
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
  tools/llm_bench/doc/NOTES.md
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/llm_bench_utils/hook_forward_whisper.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/parse_json_data.py
  tools/llm_bench/requirements.txt
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/super_resolution_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: GHA

#1163 LoRA leftovers for 2024.5 release branch
  src/cpp/src/lora_adapter.cpp
Labels: category: LoRA

#1169 Revert "Update .github/workflows/job_vlm_sample_llava.yml"
  .github/workflows/job_vlm_sample_llava.yml
Labels: category: GHA

#1101 text2image: Add pimp approach for unet_2d_condition & batch-size 1 implementation of unet for initial NPU support
  samples/cpp/text2image/CMakeLists.txt
  samples/cpp/text2image/README.md
  samples/cpp/text2image/txt2image_from_subcomponent.cpp
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference.hpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
Labels: category: text to image, category: cmake / build, category: samples, category: GenAI C++ API

#1162 fix perf metrics calculation for genai llm pipeline
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: bug, category: llm_bench, Code Freeze, category: sampling

#1165 Fix keyerror guidance scale
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/prompts/stable-diffusion.jsonl
  tools/llm_bench/task/image_generation.py
Labels: bug, category: llm_bench

#1134 Return diff comparison
  .github/workflows/causal_lm_cpp.yml
  src/cpp/src/visual_language/inputs_embedder.cpp
Labels: category: visual language, category: sampling, category: GHA

#1148 Whisper pipeline: implement chunk streamer for long-form audio processing
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/include/openvino/genai/streamer_base.hpp
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  src/cpp/src/whisper/streamer.cpp
  src/cpp/src/whisper/streamer.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_base.hpp
  src/cpp/src/whisper_pipeline_static.cpp
  src/cpp/src/whisper_pipeline_static.hpp
  src/python/openvino_genai/__init__.py
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: category: whisper, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1168 Merge releases/2024/5 into master
  .github/actions/build_app/action.yml
  .github/actions/install_openvino/action.yml
  .github/actions/install_python_deps/action.yml
  .github/scripts/generate_reference_llava.py
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .gitignore
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lora_adapter.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: LLM, category: sampling, category: GHA

#678 [ CB ] Return only N results from read_all
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/generation_handle.cpp
Labels: category: continuous batching, category: sampling

#1174 Merge releases/2024/5 into master
  .github/workflows/job_vlm_sample_llava.yml
  samples/cpp/text2image/CMakeLists.txt
  samples/cpp/text2image/README.md
  samples/cpp/text2image/txt2image_from_subcomponent.cpp
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference.hpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/prompts/stable-diffusion.jsonl
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: text to image, category: sampling, category: GHA, category: cmake / build, category: samples, category: GenAI C++ API

#1182 Fix batch switch
  src/cpp/src/lm_encoding.cpp
  tests/python_tests/test_generate_api.py
Labels: bug, category: LLM, category: sampling

#1175 Detect older tokenizer
  src/cpp/src/tokenizer.cpp
Labels: bug, category: sampling, category: tokenizers

#1172 txt2image: cleanup & adjustments to batch-size 1 unet, and hetero sample
  .github/workflows/lcm_dreamshaper_cpp.yml
  samples/cpp/text2image/CMakeLists.txt
  samples/cpp/text2image/README.md
  samples/cpp/text2image/heterogeneous_stable_diffusion.cpp
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
Labels: category: text to image, category: GHA, category: cmake / build, category: samples, category: GenAI C++ API

#1185 Fix batch switch (#1182)
  src/cpp/src/lm_encoding.cpp
  tests/python_tests/test_generate_api.py
Labels: category: LLM

#1187 Fixed some tests run locally
  tests/python_tests/test_generate_api.py
Labels: category: LLM

#1184 Fixed passing of generation config params to VLM generate.
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  src/python/py_vlm_pipeline.cpp
Labels: category: visual language, category: Python API

#1192 Shorten the cache optimizations similarity test
  tests/python_tests/data/short_prompts.txt
  tests/python_tests/test_cache_optimizations.py
Labels: category: continuous batching, category: sampling

#1195 pyproject.toml: Updated description for PyPI
  pyproject.toml
Labels: category: cmake / build

#1194 pyproject.toml: Updated description for PyPI
  pyproject.toml
Labels: category: sampling, category: cmake / build

#1179 Fix hidden state size for StaticWhisperPipeline
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: sampling

#1186 Fix hidden state size for StaticWhisperPipeline - propagate releases/2024/5
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: sampling

#1196 CB: fixed test_python_generation_config_validation
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl_interface.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_base.hpp
Labels: bug, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: speculative decoding

#1202 [CB] Fix test valid configs
  .gitignore
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM, category: sampling

#1158 Stubs files for genai bindings
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_generation_config.cpp
  src/python/py_image_generation_models.cpp
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_lora_adapter.cpp
  src/python/py_openvino_genai.cpp
  src/python/py_perf_metrics.cpp
  src/python/py_tokenizer.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: tokenizers, category: Python API, category: GenAI C++ API

#1200 Update onnx requirement from <=1.16.1 to <=1.17.0
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: sampling

#1197 Flux pipeline
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/include/openvino/genai/image_generation/t5_encoder_model.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/numpy_utils.cpp
  src/cpp/src/image_generation/numpy_utils.hpp
  src/cpp/src/image_generation/schedulers/ddim.cpp
  src/cpp/src/image_generation/schedulers/ddim.hpp
  src/cpp/src/image_generation/schedulers/euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/ischeduler.hpp
  src/cpp/src/image_generation/schedulers/lcm.cpp
  src/cpp/src/image_generation/schedulers/lcm.hpp
  src/cpp/src/image_generation/schedulers/lms_discrete.cpp
  src/cpp/src/image_generation/schedulers/lms_discrete.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  src/docs/SUPPORTED_MODELS.md
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: sampling, category: Python API, category: GenAI C++ API

#1205 [WWB]: Changed resolution for test SD model to fix GenAI issue
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB, category: sampling

#1204 Patch user passed chat template
  src/cpp/src/tokenizer.cpp
Labels: bug, category: sampling, category: tokenizers

#1209 Batch1 UNet inference cleanup & python sample
  .github/workflows/lcm_dreamshaper_cpp.yml
  samples/cpp/text2image/CMakeLists.txt
  samples/cpp/text2image/README.md
  samples/cpp/text2image/heterogeneous_stable_diffusion.cpp
  samples/python/text2image/README.md
  samples/python/text2image/heterogenous_stable_diffusion.py
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/python/py_image_generation_models.cpp
Labels: category: text to image, category: sampling, category: GHA, category: cmake / build, category: Python API, category: samples, category: GenAI C++ API

#1210 [Image generation] Fixed SDXL with LCM's Unet
  .github/workflows/lcm_dreamshaper_cpp.yml
  samples/python/text2image/README.md
  samples/python/text2image/heterogeneous_stable_diffusion.py
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/schedulers/lcm.cpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: category: text to image, category: sampling, category: GHA, category: samples, port to LTS

#1207 Fix unsupported scheduler in llm_bench for Text2ImagePipeline
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: sampling

#1212 [GHA]: hardcode OpenVINO commit
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: sampling, category: GHA

#1198 Fix unsupported scheduler in llm_bench for Text2ImagePipeline
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: sampling

#1213 Master optimum-intel for llava (#1076)
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: sampling, category: GHA

#1211 [Image generation] Rework max_sequence_length handling in T5
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/include/openvino/genai/image_generation/t5_encoder_model.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  src/cpp/src/utils.cpp
Labels: category: text to image, category: sampling, category: GenAI C++ API

#958 Build GenAI via OpenVINO wheel
  .github/workflows/windows.yml
  CMakeLists.txt
  pyproject.toml
Labels: category: sampling, category: GHA, category: cmake / build

#1217 Fix wrong logits processing without applying of slice matmul
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: bug, category: visual language, category: LLM, category: sampling, port to LTS

#1214 [Build] Added PYI files check
  CMakeLists.txt
  pyproject.toml
  requirements-build.txt
  src/cpp/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/compare_pyi.cmake
  src/python/openvino_genai/py_openvino_genai.pyi
Labels: category: sampling, category: cmake / build, category: Python API

#1203 Whisper pipeline: filter non segment perf metrics
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/perf_metrics.cpp
  src/cpp/src/whisper/perf_metrics.cpp
  src/cpp/src/whisper/timestamps.cpp
  src/cpp/src/whisper/timestamps.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_perf_metrics.cpp
  src/python/py_utils.hpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: category: whisper, category: sampling, category: Python API, category: GenAI C++ API

#1218 Add export command for compressed VLMs
  README.md
Labels: port to LTS

#1222 llm_pipeline_static: Init eos token from tokenizer if not provided
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, port to LTS

#1229 [WWB]: Added ability to save target model results and use them as a reference
  .github/workflows/llm_bench-python.yml
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/registry.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: sampling, category: GHA

#1228 Add to README a command for export of diffusion models with hybrid quantization
  README.md
Labels: category: sampling, port to LTS

#1232 StaticLLMPipeline: Optimize V-tensors layout by Anatolii Talamanov
  CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM, category: sampling, category: cmake / build, port to LTS

#1221 Add speculative decoding params to lm_bench
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: GHA, port to LTS

#1227 [WWB]: Improved verbose output for Diffusers
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1235 [WWB]: Changed output folder for imaged generated by the target model
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1236 Move hidden states compute to a dedicated method
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: category: text to image

#1177 StaticLLMPipeline: Optimize V-tensors layout
  CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM, category: sampling, category: cmake / build, category: NPU

#1237 Text2Image Readme update: decode method usage
  samples/cpp/text2image/README.md
  samples/python/text2image/README.md
  src/cpp/src/image_generation/flux_pipeline.hpp
Labels: category: text to image, category: samples

#1180 Fixed passing of generation config params to VLM generate.
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/utils.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  src/python/py_tokenizer.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/cpp/utils.cpp
  tests/python_tests/test_generate_api.py
  tests/python_tests/test_sampling.py
Labels: bug, category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1231 Install deployment and export requirements.txt
  samples/CMakeLists.txt
Labels: bug, category: cmake / build, category: samples

#1219 Add multiple EOS support
  src/cpp/include/openvino/genai/generation_config.hpp
  src/python/py_generation_config.cpp
  src/python/py_utils.cpp
  tests/python_tests/test_generate_api.py
Labels: category: LLM, category: sampling, category: Python API, category: GenAI C++ API

#1239 Port fixes from master to 2024.5.1 / 2024.6.0
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .gitignore
  README.md
  samples/python/text2image/README.md
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl_interface.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/schedulers/lcm.cpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_base.hpp
  tests/python_tests/data/short_prompts.txt
  tests/python_tests/test_cache_optimizations.py
  tests/python_tests/test_generate_api.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: speculative decoding, category: GHA, category: tokenizers, category: samples

#1241 Install deployment and export requirements.txt (#1231)
  samples/CMakeLists.txt
Labels: category: cmake / build, category: samples

#1243 Allow missing OpenVINODeveloperPackage
  src/python/CMakeLists.txt
Labels: category: cmake / build, category: Python API, port to LTS

#1244 Fix wrong token latency when batch size is greater than 1
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: bug, category: llm_bench, port to LTS

#1248 [WWB]: Updated readme with the latest information
  tools/who_what_benchmark/README.md
Labels: category: WWB

#1242 Update requirements.txt and add requirements_2024.5.txt
  tools/llm_bench/requirements.txt
  tools/llm_bench/requirements_2024.5.txt
Labels: category: llm_bench, category: sampling

#1249 use genai callback in image gen and switch to genai by default
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: GHA

#1251 Port fix wrong token latency to 2024.5
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: sampling

#1253 [Build] Use officially released py-build-cmake version
  pyproject.toml
Labels: category: cmake / build, port to LTS

#1246 Add parametrization for the detokenization/decoding
  .github/labeler.yml
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/make_combine_segments_stateful.cpp
  src/cpp/src/make_combine_segments_stateful.hpp
  src/cpp/src/make_tokenizer_stateful.cpp
  src/cpp/src/make_tokenizer_stateful.hpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/test_chat_generate_api.py
Labels: enhancement, category: LLM, category: GHA, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1259 NPUW Deref: Baseline - don't hold pointers to the orig models
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM

#1266 Text2Image SDXL fix for GPU
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: category: text to image, port to LTS

#1270 [Samples] Use released version
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: sampling, category: samples

#1269 Try to drop --pre
  .github/actions/install_python_deps/action.yml
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  samples/deployment-requirements.txt
  samples/export-requirements.txt
  src/README.md
Labels: category: GHA, category: samples, no-match-files

#1271 Fixed pyi file build when OpenVINO_DIR is externally defined
  src/python/CMakeLists.txt
Labels: bug, category: cmake / build, category: Python API

#1258 StaticLLMPipeline: Decide when to enable NPUW_DQ_FULL property
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: NPU

#1272 StaticLLMPipeline: Decide when to enable NPUW_DQ_FULL property
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: sampling

#1276 Enable Phi-3.5-vision in HF format. Enable use of LLMs as a text embedding models for similarity compute.
  tools/who_what_benchmark/whowhatbench/whowhat_metrics.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1264 [VLM] Support compile OV model and weight from buffer
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
Labels: category: visual language, category: sampling, category: GenAI C++ API

#1278 [Python] Update docs with str => PathLike
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_models.cpp
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_lora_adapter.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: text to image, category: visual language, category: LLM, category: whisper, category: LoRA, category: Python API, port to LTS

#1279 Txt2img models from buffer
  src/cpp/include/openvino/genai/image_generation/autoencoder_kl.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model_with_projection.hpp
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/sd3_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/t5_encoder_model.hpp
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
Labels: category: text to image, category: GenAI C++ API

#1267 StaticLLMPipeline: Handle CACHE_DIR for NPUW
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: NPU

#1274 StaticLLMPipeline: Handle CACHE_DIR for NPUW
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: sampling, category: NPU
