Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-08, with the labels that each got.

#721 update requirements.txt
  llm_bench/python/requirements.txt
Labels: llm_bench

#723 Use sequence length axis in tensor trim
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.cpp
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
Labels: bug, enhancement

#754 Set onnx version to <=1.16.1
  llm_bench/python/requirements.txt
Labels: llm_bench

#743 Add config for open-llama-3b-v2
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#733 Corrected FDT, SDT metrics in case of empty outputs
  llm_bench/python/who_what_benchmark/whowhatbench/whowhat_metrics.py
Labels: llm_bench

#735 Rename config key according to DLB folder name
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#722 Add test case for native pytorch model
  .github/workflows/llm_bench-python.yml
Labels: llm_bench

#760 Remove dataset parameter for orca-mini-3b
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#768 Remove platform type from the onnx requirement
  llm_bench/python/requirements.txt
Labels: llm_bench

#778 Update config for open-llama-3b-v2
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#779 update optimum commit
  llm_bench/python/requirements.txt
Labels: llm_bench

#688 Partial revert of #616 (#687)
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#762 Add USS metric
  llm_bench/python/benchmark.py
  llm_bench/python/utils/memory_profile.py
  llm_bench/python/utils/metrics_print.py
  llm_bench/python/utils/output_csv.py
  llm_bench/python/utils/output_json.py
Labels: llm_bench

#712 add requirements_2024.3.txt
  llm_bench/python/requirements_2024.3.txt
Labels: llm_bench

#782 update optimum intel to include fp16/bf16 conversion memory optimization
  llm_bench/python/requirements.txt
Labels: llm_bench

#783 handle non unicode prints in llm bench logging
  llm_bench/python/benchmark.py
  llm_bench/python/utils/metrics_print.py
Labels: llm_bench

#454 Update utils path with parent directories
  llm_bench/python/benchmark.py
  llm_bench/python/convert.py
  llm_bench/python/llm_bench_utils/config_class.py
  llm_bench/python/llm_bench_utils/conversion_utils/better_transformer_patch.py
  llm_bench/python/llm_bench_utils/conversion_utils/convert_patch.py
  llm_bench/python/llm_bench_utils/conversion_utils/export_configs.py
  llm_bench/python/llm_bench_utils/conversion_utils/helpers.py
  llm_bench/python/llm_bench_utils/hook_beam_search.py
  llm_bench/python/llm_bench_utils/hook_common.py
  llm_bench/python/llm_bench_utils/hook_forward.py
  llm_bench/python/llm_bench_utils/hook_greedy_search.py
  llm_bench/python/llm_bench_utils/hook_sample.py
  llm_bench/python/llm_bench_utils/memory_profile.py
  llm_bench/python/llm_bench_utils/metrics_print.py
  llm_bench/python/llm_bench_utils/model_utils.py
  llm_bench/python/llm_bench_utils/nncf_utils.py
  llm_bench/python/llm_bench_utils/output_csv.py
  llm_bench/python/llm_bench_utils/output_file.py
  llm_bench/python/llm_bench_utils/output_json.py
  llm_bench/python/llm_bench_utils/ov_model_classes.py
  llm_bench/python/llm_bench_utils/ov_utils.py
  llm_bench/python/llm_bench_utils/pt_utils.py
Labels: llm_bench

#689 Transition to default int4 compression configs from optimum-intel
  llm_bench/python/convert.py
  llm_bench/python/llm_bench_utils/conversion_utils/helpers.py
  llm_bench/python/llm_bench_utils/nncf_utils.py
Labels: llm_bench

#796 update readme to use optimum-cli for conversion
  llm_bench/python/README.md
Labels: llm_bench

#795 Control KV-cache size for StaticLLMPipeline
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: Code Freeze
