Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-07, with the labels that each got.

#563 fix infinite generation
  src/README.md
  src/python/py_generate_pipeline.cpp
Labels: bug

#561 benchmark supports instruct-gpt-j
  llm_bench/python/utils/config_class.py
Labels: llm_bench

#389 Throw exception when MD5 is not aligned instead of warning
  llm_bench/python/benchmark.py
  llm_bench/python/utils/model_utils.py
Labels: llm_bench

#570 update requirements in llm bench
  llm_bench/python/requirements.txt
  llm_bench/python/utils/config_class.py
Labels: llm_bench

#575 Enabled scale estimation in compression.
  llm_bench/python/convert.py
  llm_bench/python/utils/conversion_utils/helpers.py
Labels: llm_bench

#584 fix compress only codegen2
  llm_bench/python/convert.py
Labels: llm_bench

#583 Update requirements.txt to include open llama weights compression fix
  llm_bench/python/requirements.txt
Labels: llm_bench

#577 Set default 4bit compression to INT4_ASYM
  llm_bench/python/utils/conversion_utils/helpers.py
Labels: llm_bench

#594 align default int4 config for optimum cli and convert.py
  llm_bench/python/requirements.txt
Labels: llm_bench

#588 Added conversion to new mxfp4 type: e2m1 weights with e8m0 scale.
  llm_bench/python/convert.py
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#599 Remove restrictions on transformers
  llm_bench/python/requirements.txt
Labels: llm_bench

#600 Resolve switching chatglm benchmarking class
  llm_bench/python/utils/ov_model_classes.py
Labels: llm_bench

#605 update optimum in llm bench
  llm_bench/python/requirements.txt
Labels: llm_bench

#606 Add end_token_stopping option
  llm_bench/python/benchmark.py
  llm_bench/python/utils/model_utils.py
Labels: llm_bench

#616 Update nncf_utils.py
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#633 Update nncf_utils.py (#616)
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#668 Set torchvision to < 0.19.0
  llm_bench/python/requirements.txt
Labels: llm_bench

#687 Partial revert of #616
  llm_bench/python/utils/nncf_utils.py
Labels: llm_bench

#691 Revert torchvision constraint
  llm_bench/python/requirements.txt
Labels: llm_bench

#710 update optimum commit for master
  llm_bench/python/requirements.txt
Labels: llm_bench

#711 update optimum commit for releases/2024/3
  llm_bench/python/requirements.txt
Labels: llm_bench

#698 Update _check_default_4bit_configs usage
  llm_bench/python/utils/conversion_utils/helpers.py
Labels: llm_bench

#714 change commit for optimum
  llm_bench/python/requirements.txt
Labels: llm_bench

#715 change commit for optimum
  llm_bench/python/requirements.txt
Labels: llm_bench

#713 Add perf metric docstrings
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/python/py_generate_pipeline.cpp
Labels: documentation
