Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-10, with the labels that each got.

#916 convert.py script deprecation and llm-bench README update
  llm_bench/python/README.md
  llm_bench/python/convert.py
Labels: llm_bench

#901 WWB: Add comparison for SD models
  .github/workflows/llm_bench-python.yml
  llm_bench/python/convert.py
  llm_bench/python/llm_bench_utils/ov_utils.py
  llm_bench/python/who_what_benchmark/examples/openvino_batched_eval.py
  llm_bench/python/who_what_benchmark/tests/test_cli_image.py
  llm_bench/python/who_what_benchmark/tests/test_cli_text.py
  llm_bench/python/who_what_benchmark/whowhatbench/__init__.py
  llm_bench/python/who_what_benchmark/whowhatbench/registry.py
  llm_bench/python/who_what_benchmark/whowhatbench/text2image_evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/text_evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/whowhat_metrics.py
  llm_bench/python/who_what_benchmark/whowhatbench/wwb.py
  tests/python_tests/test_cache_optimizations.py
Labels: llm_bench, WWB

#932 fix linting issue in llm bench
  llm_bench/python/llm_bench_utils/model_utils.py
Labels: llm_bench

#933 disable md5 check assert for CB
  llm_bench/python/benchmark.py
Labels: llm_bench

#945 Update optimum-intel
  .github/workflows/llm_bench-python.yml
  llm_bench/python/requirements.txt
  llm_bench/python/who_what_benchmark/requirements.txt
Labels: llm_bench, WWB

#949 disable assert for nonequal output for cb
  llm_bench/python/benchmark.py
Labels: llm_bench

#814 Slice the last matmull in stateful llm pipeline
  src/cpp/src/greedy_decoding.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: Code Freeze

#944 Some updates to Text 2 image pipeline
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/text2image/README.md
  samples/cpp/text2image/imwrite.cpp
  samples/cpp/text2image/imwrite.hpp
  samples/cpp/text2image/main.cpp
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/text2image/pipeline.hpp
  src/cpp/src/text2image/diffusion_pipeline.hpp
  src/cpp/src/text2image/models/clip_text_model.cpp
  src/cpp/src/text2image/models/clip_text_model_with_projection.cpp
  src/cpp/src/text2image/schedulers/lcm.cpp
  src/cpp/src/text2image/schedulers/lcm.hpp
  src/cpp/src/text2image/stable_diffusion_pipeline.hpp
  src/cpp/src/text2image/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/text2image/text2image_pipeline.cpp
  src/docs/SUPPORTED_MODELS.md
Labels: Code Freeze

#922 VLM pipeline test
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/python/visual_language_chat/visual_language_chat.py
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/requirements.txt
  tests/python_tests/test_vlm_api.py
Labels: Code Freeze

#965 Fixed misprint
  llm_bench/python/llm_bench_utils/metrics_print.py
  llm_bench/python/llm_bench_utils/output_csv.py
Labels: llm_bench

#956 Update Stable Diffusion models comparison
  .github/workflows/llm_bench-python.yml
  llm_bench/python/who_what_benchmark/README.md
  llm_bench/python/who_what_benchmark/tests/test_cli_image.py
  llm_bench/python/who_what_benchmark/whowhatbench/registry.py
  llm_bench/python/who_what_benchmark/whowhatbench/text2image_evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/wwb.py
Labels: llm_bench, WWB

#801 Add hook sample for new transformers
  llm_bench/python/README.md
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/hook_greedy_search.py
  llm_bench/python/llm_bench_utils/hook_sample_v43.py
  llm_bench/python/llm_bench_utils/hook_sample_v45.py
Labels: llm_bench

#941 Whisper pipeline: support long-form audio
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  samples/requirements.txt
  src/cpp/src/whisper/logit_processor.cpp
  src/cpp/src/whisper/timestamps.cpp
  src/cpp/src/whisper/timestamps.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper_feature_extractor.cpp
  src/cpp/src/whisper/whisper_feature_extractor.hpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_whisper_generate_api.py
Labels: Code Freeze

#959 Reduce test time
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: Code Freeze, category: GHA

#971 Whisper pipeline: add perf metrics
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  src/cpp/src/perf_metrics.cpp
  src/cpp/src/whisper/timestamps.cpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/cpp/src/whisper_pipeline.cpp
  src/python/py_generate_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: Code Freeze, category: Whisper

#972 Fixed compilation warnings
  src/cpp/CMakeLists.txt
Labels: Code Freeze, dependencies, category: cmake / build

#977 VLM: add get_tokenizer()
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_api.py
Labels: category: visual language

#979 Create README.md for c++ demo folder
  samples/cpp/README.md
Labels: category: samples

#967 move llm_bench and wwb to tools
  .github/label_config.yml
  .github/workflows/labeler.yml
  .github/workflows/llm_bench-python.yml
  bandit.yml
  llm_bench/python/README.md
  llm_bench/python/doc/IMAGE_GEN.md
  llm_bench/python/doc/NOTES.md
  llm_bench/python/who_what_bench/README.md
  pyproject.toml
  src/docs/HOW_IT_WORKS.md
  tests/python_tests/requirements.txt
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
  tools/llm_bench/convert.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/conversion_utils/better_transformer_patch.py
  tools/llm_bench/llm_bench_utils/conversion_utils/convert_patch.py
  tools/llm_bench/llm_bench_utils/conversion_utils/export_configs.py
  tools/llm_bench/llm_bench_utils/conversion_utils/helpers.py
  tools/llm_bench/llm_bench_utils/hook_beam_search.py
  tools/llm_bench/llm_bench_utils/hook_common.py
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/hook_greedy_search.py
  tools/llm_bench/llm_bench_utils/hook_sample.py
  tools/llm_bench/llm_bench_utils/hook_sample_v43.py
  tools/llm_bench/llm_bench_utils/hook_sample_v45.py
  tools/llm_bench/llm_bench_utils/memory_profile.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/nncf_utils.py
  tools/llm_bench/llm_bench_utils/output_csv.py
  tools/llm_bench/llm_bench_utils/output_file.py
  tools/llm_bench/llm_bench_utils/output_json.py
  tools/llm_bench/llm_bench_utils/ov_model_classes.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
  tools/llm_bench/prompts/llama-2-7b-chat_l.jsonl
  tools/llm_bench/prompts/stable-diffusion.jsonl
  tools/llm_bench/requirements.txt
  tools/llm_bench/setup.cfg
  tools/who_what_benchmark/README.md
  tools/who_what_benchmark/examples/gptq_eval.py
  tools/who_what_benchmark/examples/huggingface_eval.py
  tools/who_what_benchmark/examples/openvino_batched_eval.py
  tools/who_what_benchmark/examples/openvino_eval.py
  tools/who_what_benchmark/requirements.txt
  tools/who_what_benchmark/setup.py
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/__init__.py
  tools/who_what_benchmark/whowhatbench/registry.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/whowhat_metrics.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, Code Freeze, category: WWB

#982 Migrate to official jinjaCpp
  src/cpp/CMakeLists.txt
Labels: Code Freeze, category: cmake / build

#984 Labeler config
  .github/label_config.yml
  .github/labeler.yml
  .github/workflows/assign_issue.yml
  .github/workflows/bandit.yml
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: llm_bench

#992 [README] Add the links to the notebook pages
  README.md
Labels: category: sampling

#995 GHA: reverted checked for repo owner
  .github/workflows/assign_issue.yml
  .github/workflows/bandit.yml
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: sampling, category: GHA

#997 disable torch.compile when beckend is not specified
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench, category: sampling

#976 convert image to RGB before submit in python vlm sample
  samples/python/visual_language_chat/visual_language_chat.py
Labels: Code Freeze, category: visual language, category: samples

#999 Increase timeout for mac
  .github/workflows/mac.yml
Labels: category: sampling, category: GHA

#981 Enable LLaVA-Next in VLM pipeline
  .github/workflows/causal_lm_cpp.yml
  src/cpp/src/visual_language/clip.cpp
  src/cpp/src/visual_language/clip.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
  src/docs/SUPPORTED_MODELS.md
Labels: Code Freeze, category: visual language, category: sampling, category: GHA

#1005 Increase timeout for mac
  .github/workflows/mac.yml
Labels: category: GHA

#990 OV Core fix for text2image
  src/cpp/include/openvino/genai/text2image/unet2d_condition_model.hpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/text2image/models/autoencoder_kl.cpp
  src/cpp/src/text2image/models/clip_text_model.cpp
  src/cpp/src/text2image/models/clip_text_model_with_projection.cpp
  src/cpp/src/text2image/models/unet2d_condition_model.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: Code Freeze, category: text to image, category: sampling, category: GenAI C++ API

#994 Handle chat and general modes for LLaVa and LLaVa-Next models
  src/cpp/src/visual_language/pipeline.cpp
Labels: Code Freeze, category: visual language, category: sampling

#983 [WWB]: Some fixes
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/llm_bench-python.yml
  llm_bench/python/who_what_benchmark/README.md
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: sampling, category: GHA

#950 Add sampling to vlm pipeline by Sampler
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/visual_language_chat/load_image.cpp
  samples/cpp/visual_language_chat/load_image.hpp
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/vlm_sampling.hpp
Labels: Code Freeze, category: visual language, category: sampling, category: GHA, category: samples

#1008 Remove 'head size must be multiple of 16' xfail
  tests/python_tests/test_sampling.py
Labels: category: continuous batching, category: sampling

#1002 Fix AnyMap pop
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#998 handle division by zero error
  tools/llm_bench/benchmark.py
Labels: bug, category: llm_bench

#996 Update requirements for WWB
  tools/who_what_benchmark/requirements.txt
Labels: category: WWB

#1012 Install python/visual_language_chat
  samples/CMakeLists.txt
Labels: category: cmake / build, category: samples

#974 Remove classification from benchmarking
  tools/llm_bench/benchmark.py
Labels: category: llm_bench, category: sampling

#985 [VLM] Extracted Input Embedder from VLM Pipeline
  .github/workflows/causal_lm_cpp.yml
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/visual_language/image_embedder.hpp
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
Labels: Code Freeze, category: visual language, category: LLM, category: sampling, category: GHA

#1013 Don't update missing requirements.txt
  .github/dependabot.yml
Labels: category: sampling, category: GHA

#1014 Align visual_language_chat samples
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/visual_language_chat/load_image.cpp
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/python/visual_language_chat/visual_language_chat.py
Labels: Code Freeze, category: GHA, category: samples

#1018 Add VLMPipeline to root README
  README.md
Labels: category: sampling

#1003 StaticLLMPipeline: Enable conditional L0 allocation
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: sampling

#1019 LoRA for SDXL
  samples/cpp/lora_greedy_causal_lm/lora_greedy_causal_lm.cpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/include/openvino/genai/text2image/clip_text_model_with_projection.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/lora_helper.cpp
  src/cpp/src/lora_helper.hpp
  src/cpp/src/lora_names_mapping.cpp
  src/cpp/src/lora_names_mapping.hpp
  src/cpp/src/text2image/models/clip_text_model.cpp
  src/cpp/src/text2image/models/clip_text_model_with_projection.cpp
  src/cpp/src/text2image/models/unet2d_condition_model.cpp
  src/cpp/src/text2image/stable_diffusion_xl_pipeline.hpp
Labels: Code Freeze, category: text to image, category: LLM, category: samples, category: GenAI C++ API

#1010 Create recorder.py helper for getting audio clips
  samples/python/whisper_speech_recognition/recorder.py
Labels: category: samples

#1007 [CB] Align the speculative decoding sample with other ones
  .github/workflows/causal_lm_cpp.yml
  samples/CMakeLists.txt
  samples/cpp/continuous_batching_accuracy/CMakeLists.txt
  samples/cpp/continuous_batching_accuracy/continuous_batching_speculative_decoding.cpp
  samples/cpp/speculative_decoding_lm/CMakeLists.txt
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/src/continuous_batching_impl_interface.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/timer.hpp
  tests/cpp/speculative_decoding.cpp
Labels: Code Freeze, category: continuous batching, category: LLM, category: sampling, category: speculative decoding, category: GHA, category: cmake / build, category: samples, category: GenAI C++ API

#1020 StaticLLMPipeline: Fix MAX_PROMPT_LEN / MIN_RESPONSE_LEN access
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1022 [GHA] Use latest nightly for Windows and Linux
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: GHA

#966 Optimize the code of benchmark.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/super_resolution_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: sampling

#1024 Added genai_python_lib_vlm to status
  .github/workflows/windows.yml
Labels: category: GHA

#1027 StaticLLMPipeline: Options cleanup
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: sampling

#993 [CB] Python Speculative decoding
  .github/workflows/causal_lm_cpp.yml
  samples/CMakeLists.txt
  samples/python/speculative_decoding_lm/README.md
  samples/python/speculative_decoding_lm/speculative_decoding_lm.py
  src/python/openvino_genai/__init__.py
  src/python/py_generate_pipeline.cpp
Labels: Code Freeze, category: sampling, category: GHA, category: cmake / build, category: Python API, category: samples

#1011 Update README.md on Whisper Python Demo
  samples/python/whisper_speech_recognition/README.md
Labels: category: sampling, category: samples

#1026 Move CB benchmarking and accuracy from the 'samples' to 'tools'
  .github/workflows/causal_lm_cpp.yml
  CMakeLists.txt
  samples/CMakeLists.txt
  tools/continuous_batching/CMakeLists.txt
  tools/continuous_batching/accuracy/CMakeLists.txt
  tools/continuous_batching/accuracy/continuous_batching_accuracy.cpp
  tools/continuous_batching/accuracy/continuous_batching_speculative_decoding.cpp
  tools/continuous_batching/benchmark/CMakeLists.txt
  tools/continuous_batching/benchmark/continuous_batching_benchmark.cpp
Labels: category: sampling, category: GHA, category: cmake / build, category: samples

#1028 Speed up tests
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/cpp/visual_language_chat/visual_language_chat.cpp
Labels: category: sampling, category: GHA, category: samples

#1000 Use tiny-random-minicpmv-2_6
  tests/python_tests/test_vlm_api.py
Labels: category: visual language, category: sampling

#1029 Align VLM samples
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/python/visual_language_chat/visual_language_chat.py
  src/cpp/src/visual_language/pipeline.cpp
Labels: Code Freeze, category: visual language, category: sampling, category: GHA, category: samples

#1032 Fix fails in vlm pipeline on sampling with repetition_penalty
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_api.py
Labels: Code Freeze, category: visual language, category: sampling

#1030 [GHA] Small improvements
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
Labels: category: llm_bench, Code Freeze, category: sampling, category: GHA

#986 Whisper pipeline: fix timestamps extract
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/src/whisper/timestamps.cpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper_generation_config.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_whisper_generate_api.py
Labels: bug, Code Freeze, category: whisper, category: sampling, category: GHA, category: Python API, category: samples, category: GenAI C++ API

#1033 Add kwargs to init() in all Python pipelines.
  samples/python/visual_language_chat/visual_language_chat.py
  src/python/py_generate_pipeline.cpp
  src/python/py_text2image_pipeline.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_whisper_generate_api.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, Code Freeze, category: LLM, category: whisper, category: sampling, category: Python API, category: samples

#1039 Revert "Add kwargs to init() in all Python pipelines."
  samples/python/visual_language_chat/visual_language_chat.py
  src/python/py_generate_pipeline.cpp
  src/python/py_text2image_pipeline.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_whisper_generate_api.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: LLM, category: whisper, category: sampling, category: Python API, category: samples

#1036 StaticLLMPipeline: Use max tiles for prefill compilation
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM

#1038 [Speculative decoding] Update Speculative decoding metrics to get correct and useful results
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.hpp
  src/cpp/src/timer.hpp
Labels: category: continuous batching, category: speculative decoding

#1040 [GHA] Fixed stable diffusion CI
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: bug, Code Freeze, category: sampling, category: GHA

#1034 [Python] Split Python API into files
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  pyproject.toml
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/python/CMakeLists.txt
  src/python/openvino_genai/__init__.py
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_generate_pipeline.cpp
  src/python/py_generation_config.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_lora_adapter.cpp
  src/python/py_openvino_genai.cpp
  src/python/py_perf_metrics.cpp
  src/python/py_text2image_models.cpp
  src/python/py_text2image_pipeline.cpp
  src/python/py_tokenizer.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: Code Freeze, category: sampling, category: GHA, category: cmake / build, category: Python API, category: GenAI C++ API

#1009 Update whisper_speech_recognition.py
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
Labels: category: sampling, category: samples

#1041 Revert "Update onnx requirement from <=1.16.1 to <=1.17.0 in /tools/llm_bench"
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: sampling

#1043 StaticLLMPipeline: Pad KV cache tensors with zeros
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: sampling

#1044 Fixed LoRA for StableDiffusion
  src/cpp/src/lora_names_mapping.cpp
Labels: Code Freeze, category: LoRA

#1042 Deprecate config in LLMPipeline, add kwargs to other pipelines.
  samples/python/visual_language_chat/visual_language_chat.py
  src/python/py_llm_pipeline.cpp
  src/python/py_text2image_pipeline.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_whisper_generate_api.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, Code Freeze, category: LLM, category: whisper, category: sampling, category: Python API, category: samples

#1051 Fix typos
  samples/cpp/beam_search_causal_lm/README.md
  samples/cpp/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.cpp
  samples/cpp/speculative_decoding_lm/README.md
  samples/cpp/text2image/imwrite.hpp
  samples/python/beam_search_causal_lm/README.md
  samples/python/multinomial_causal_lm/multinomial_causal_lm.py
  samples/python/speculative_decoding_lm/README.md
  samples/requirements.txt
  src/README.md
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/include/openvino/genai/streamer_base.hpp
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/cache_eviction.cpp
  src/cpp/src/cache_eviction.hpp
  src/cpp/src/generation_stream.hpp
  src/cpp/src/group_beam_searcher.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/make_combine_segments_stateful.hpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/perf_metrics.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/clip.hpp
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/whisper/logit_processor.cpp
  src/docs/DOCKER.md
  src/python/CMakeLists.txt
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_openvino_genai.cpp
  src/python/py_utils.cpp
  src/python/py_whisper_pipeline.cpp
  tests/cpp/block_allocator.cpp
  tests/cpp/logit_filtering.cpp
  tests/python_tests/README.md
  tests/python_tests/models/real_models
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_generate_api.py
  tools/cacheviz/cacheviz.py
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/output_csv.py
  tools/who_what_benchmark/README.md
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: speculative decoding, category: cmake / build, category: tokenizers, category: Python API, category: samples, category: GenAI C++ API

#1053 StaticLLMPipeline: Update config (RMSNorm)
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: sampling

#1055 Fixed image size for SDXL
  src/cpp/src/text2image/models/unet2d_condition_model.cpp
Labels: bug, Code Freeze, category: text to image

#1046 Support InternVL2 model in VLM Pipeline
  .github/workflows/causal_lm_cpp.yml
  samples/requirements.txt
  src/cpp/src/visual_language/image_embedder.hpp
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
  src/docs/SUPPORTED_MODELS.md
Labels: Code Freeze, category: visual language, category: sampling, category: GHA, category: samples

#1059 [GHA] Updated labeler config
  .github/labeler.yml
Labels: category: GHA

#1057 Added tokenizer path to text2image
  src/python/py_text2image_models.cpp
  src/python/py_text2image_pipeline.cpp
Labels: bug, Code Freeze, category: text to image, category: Python API

#1058 Separate reset for KV state and LoRA state in LLMPipeline
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lora_adapter.cpp
Labels: bug, Code Freeze, category: LLM, category: LoRA, category: GenAI C++ API

#1045 Whisper pipeline: update readme
  .gitignore
  README.md
  samples/cpp/whisper_speech_recognition/README.md
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/python/whisper_speech_recognition/README.md
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/docs/SUPPORTED_MODELS.md
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: Code Freeze, category: whisper, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1060 Remove workaround for empty LoRA state tensors
  src/cpp/src/lora_adapter.cpp
Labels: Code Freeze, category: LoRA

#1067 [GHA] Updated nightly release
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: sampling, category: GHA

#1052 [WWB]: Add support for text-to-image GenAI pipelines
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/whowhatbench/registry.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB, category: sampling

#1064 Remove bf16/f16 LoRA state workaround
  src/cpp/src/lora_adapter.cpp
Labels: Code Freeze, category: sampling, category: LoRA

#947 add a simple flow
  README.md
  src/docs/openvino_genai.svg
Labels: category: sampling

#1073 Remove unused clip_hparams
  src/cpp/src/visual_language/clip.cpp
Labels: category: visual language

#1074 LoRA LLM sample
  .github/workflows/causal_lm_cpp.yml
  samples/python/greedy_causal_lm/README.md
  samples/python/greedy_causal_lm/lora.py
  src/python/py_generation_config.cpp
  src/python/py_utils.cpp
Labels: Code Freeze, category: sampling, category: GHA, category: Python API, category: samples

#1061 Fix layout
  samples/cpp/visual_language_chat/load_image.cpp
  samples/python/visual_language_chat/visual_language_chat.py
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
Labels: bug, Code Freeze, category: visual language, category: sampling, category: samples, category: GenAI C++ API

#900 [Continuous Batching] Introduce echo parameter
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/sequence_group.hpp
  src/python/py_generation_config.cpp
  tests/python_tests/test_preemption.py
  tests/python_tests/test_sampling.py
Labels: category: continuous batching, category: LLM, category: sampling, category: Python API, category: GenAI C++ API

#1066 Move m_embedding infer and scaling to InputsEmbedder
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/image_embedder.hpp
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: Code Freeze, category: visual language, category: sampling

#1077 StaticLLMPipeline: Update config
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: sampling

#1083 Get the input token size for stable-diffusion
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: sampling

#1062 [WWB]: Improved README
  tools/who_what_benchmark/README.md
  tools/who_what_benchmark/requirements.txt
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB, category: sampling

#1050 Text2Image readme fix.
  samples/python/text2image/README.md
Labels: Code Freeze, category: samples

#1068 [ Speculative decoding ] Split assistant generation and speculative decoding
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  samples/python/speculative_decoding_lm/speculative_decoding_lm.py
  src/cpp/src/generation_config.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/python/openvino_genai/__init__.py
Labels: category: sampling, category: Python API, category: samples

#1080 Support multiple images for LLaVA & LLaVA Next models
  src/cpp/src/visual_language/input_embedder.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
Labels: Code Freeze, category: visual language, category: sampling

#1090 Help message improvement
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1091 Use latest nightly
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: Code Freeze, category: sampling, category: GHA

#1048 Add openvino to requirements for samples
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  samples/cpp/beam_search_causal_lm/README.md
  samples/cpp/benchmark_genai/README.md
  samples/cpp/chat_sample/README.md
  samples/cpp/greedy_causal_lm/README.md
  samples/cpp/multinomial_causal_lm/README.md
  samples/cpp/prompt_lookup_decoding_lm/README.md
  samples/cpp/speculative_decoding_lm/README.md
  samples/cpp/text2image/README.md
  samples/cpp/visual_language_chat/README.md
  samples/cpp/whisper_speech_recognition/README.md
  samples/deployment-requirements.txt
  samples/export-requirements.txt
  samples/python/beam_search_causal_lm/README.md
  samples/python/benchmark_genai/README.md
  samples/python/chat_sample/README.md
  samples/python/greedy_causal_lm/README.md
  samples/python/multinomial_causal_lm/README.md
  samples/python/speculative_decoding_lm/README.md
  samples/python/text2image/README.md
  samples/python/visual_language_chat/README.md
  samples/python/whisper_speech_recognition/README.md
  samples/requirements.txt
Labels: Code Freeze, category: sampling, category: GHA, category: samples

#1097 [Python] Added VLMPipeline::set_chat_template
  src/python/py_vlm_pipeline.cpp
Labels: Code Freeze, category: visual language, category: Python API

#1095 Fix compile error on MSVC on UTF-8 charset
  samples/cpp/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.cpp
  src/cpp/src/text_callback_streamer.cpp
Labels: bug, Code Freeze, category: samples

#1099 Support multiple images for InternVL models
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: Code Freeze, category: visual language

#1070 Add iteration timestamp to CSV and JSON
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/output_csv.py
  tools/llm_bench/llm_bench_utils/output_json.py
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/super_resolution_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: sampling

#1102 Whisper pipeline: reset decoder with past state for each chunk
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/export-requirements.txt
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: category: whisper, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1107 Fixed copy-paste issue
  src/cpp/src/image_generation/schedulers/types.cpp
Labels: category: text to image, category: sampling

#1104 [WWB]: Patch diffusers to align SD results
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/utils.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB, category: sampling

#1105 sd3 guidance_scale < 1 fix
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
Labels: category: text to image, category: sampling

#1063 StaticLLMPipeline: Adding python tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/python_tests/test_llm_pipeline_static.py
Labels: category: sampling, category: GHA

#1108 Added randn_tensor API to Generator to align with HF / Optimum
  samples/cpp/text2image/lora.cpp
  samples/python/text2image/lora.py
  samples/python/text2image/main.py
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/schedulers/ddim.cpp
  src/cpp/src/image_generation/schedulers/ddim.hpp
  src/cpp/src/image_generation/schedulers/euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/ischeduler.hpp
  src/cpp/src/image_generation/schedulers/lcm.cpp
  src/cpp/src/image_generation/schedulers/lcm.hpp
  src/cpp/src/image_generation/schedulers/lms_discrete.cpp
  src/cpp/src/image_generation/schedulers/lms_discrete.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/python/py_image_generation_pipelines.cpp
Labels: Code Freeze, category: text to image, category: sampling, category: Python API, category: samples, category: GenAI C++ API

#1109 Fixed condition for guidance_scale
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: bug, category: text to image, category: sampling

#1110 SDXL guidance_scale fix
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: bug, Code Freeze, category: text to image

#1049 Add option --set_torch_thread to set Torch thread number
  tools/llm_bench/README.md
  tools/llm_bench/benchmark.py
Labels: category: llm_bench, category: sampling

#1047 Move llm sampling on Sampler
  .github/labeler.yml
  src/cpp/src/greedy_decoding.cpp
  src/cpp/src/group_beam_searcher.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/multinomial_decoding.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_generate_api.py
Labels: Code Freeze, category: visual language, category: LLM, category: sampling, category: GHA

#1112 add sd3.5 to supported models
  src/docs/SUPPORTED_MODELS.md
Labels: category: sampling

#1113 Fixed issues with diffusers patching. Use separate PEP8 config for WWB
  .github/workflows/llm_bench-python.yml
  tools/who_what_benchmark/setup.cfg
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: sampling, category: GHA

#1114 [Speculative decoding] Fix draft_model tun in case of long prompt
  src/cpp/src/sampler.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: sampling, category: speculative decoding

#1115 [Image Generation] Supported force_zeros_for_empty_prompt in SDXL
  src/cpp/include/openvino/genai/image_generation/clip_text_model.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model_with_projection.hpp
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/python/py_image_generation_models.cpp
Labels: bug, category: text to image, category: Python API, category: GenAI C++ API
