Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-12, with the labels that each got.

#1263 VLM performance metrics.
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/visual_language_chat/CMakeLists.txt
  samples/cpp/visual_language_chat/README.md
  samples/cpp/visual_language_chat/benchmark_vlm.cpp
  samples/python/visual_language_chat/README.md
  samples/python/visual_language_chat/benchmark_vlm.py
  src/cpp/include/openvino/genai/visual_language/perf_metrics.hpp
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/perf_metrics.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_vlm_api.py
Labels: category: visual language, category: whisper, category: GHA, category: cmake / build, category: Python API, category: samples, category: GenAI C++ API

#1268 Use whole history in case of undetermined tokenization of sequence
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: bug, category: visual language, category: LLM, category: sampling

#1282 Fix for AnyMap properties.
  src/python/py_utils.cpp
Labels: bug, category: Python API, category: NPU

#1288 Introduced NPUW_UNFOLD_IREQ for FAST_COMPILE hint
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: NPU

#1285 Port from master
  .github/labeler.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  README.md
  pyproject.toml
  requirements-build.txt
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/python/CMakeLists.txt
  src/python/compare_pyi.cmake
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_generation_config.cpp
  src/python/py_image_generation_models.cpp
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_lora_adapter.cpp
  src/python/py_openvino_genai.cpp
  src/python/py_perf_metrics.cpp
  src/python/py_tokenizer.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: speculative decoding, category: GHA, category: cmake / build, category: tokenizers, category: Python API, category: GenAI C++ API

#1295 Do not report infer latency for genai for avoid confusion
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1296 [ SD ] Fix Generation for several requests
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: bug, Code Freeze, category: speculative decoding

#1298 make token_inference_duration visible from py api
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_perf_metrics.cpp
Labels: bug, category: Python API, category: GenAI C++ API, port to master

#1293 StaticWhisperPipeline: fix encoder input_features reshape
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: NPU, port to LTS, no-match-files

#1304 StaticWhisperPipeline: fix encoder input_features reshape
  src/cpp/src/whisper_pipeline_static.cpp
Labels: no-match-files

#1262 Accept buffer in LLMPipeline ctor
  .github/workflows/causal_lm_cpp.yml
  samples/CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/encrypted_model_causal_lm.cpp
  samples/cpp/text_generation/greedy_causal_lm.cpp
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/python/text_generation/README.md
  samples/python/text_generation/greedy_causal_lm.py
  samples/python/text_generation/lora.py
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_generate_api.py
Labels: Code Freeze, category: continuous batching, category: LLM, category: speculative decoding, category: GHA, category: cmake / build, category: tokenizers, category: samples, category: GenAI C++ API, no-match-files, port to master

#1301 Fixed import issues for onnx>=1.17
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1302 fix TextCallbackStreamer when characters are eaten by regex
  samples/python/multinomial_causal_lm/multinomial_causal_lm.py
  src/cpp/src/text_callback_streamer.cpp
  tests/python_tests/test_generate_api.py
Labels: bug, Code Freeze, category: LLM, category: samples, no-match-files, port to master

#1306 updated py-build-cmake to 0.3.2 version
  pyproject.toml
Labels: category: cmake / build, port to LTS

#1292 [Samples] Allow all versions from 2024.5.x to 2025.0
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: samples

#1311 Genai/optimum support streaming mode
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1314 Bump product version to 2024.6
  CMakeLists.txt
  pyproject.toml
  src/python/openvino_genai/__init__.pyi
Labels: category: cmake / build, category: Python API

#1310 `create_image_gen_model` for PT framework does not return callback
  tools/llm_bench/llm_bench_utils/pt_utils.py
Labels: category: llm_bench

#1313 Sd3 text encoder refactoring
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/numpy_utils.cpp
  src/cpp/src/image_generation/numpy_utils.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
Labels: category: text to image

#1307 Ported from release
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_perf_metrics.cpp
Labels: category: speculative decoding, category: Python API, category: GenAI C++ API

#1305 Update requirements
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/python_tests/requirements.txt
  tests/python_tests/test_cache_optimizations.py
  tools/who_what_benchmark/README.md
  tools/who_what_benchmark/requirements.txt
Labels: category: llm_bench, category: WWB, category: continuous batching, category: GHA, no-match-files

#1317 Fixed number of input tokens for VLM.
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_api.py
Labels: bug, category: visual language

#1321 Update dependabot.yml
  .github/dependabot.yml
Labels: category: GHA

#1323 GHA: use latest nightly
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
Labels: category: GHA

#1330 Update llm_bench-python.yml
  .github/workflows/llm_bench-python.yml
Labels: category: llm_bench, category: GHA

#1303 [LLMBench] Update Token Counting
  tools/llm_bench/task/text_generation.py
Labels: bug, category: llm_bench, port to LTS

#1342 Update README.md
  tools/llm_bench/README.md
Labels: category: llm_bench

#1319 Use RC1 in releases/2024/6
  .github/actions/install_python_deps/action.yml
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  pyproject.toml
  samples/deployment-requirements.txt
  samples/export-requirements.txt
  src/cpp/src/generation_config.cpp
  tests/python_tests/test_generate_api.py
  tools/llm_bench/requirements.txt
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: LLM, category: sampling, category: GHA, category: cmake / build, category: samples

#1331 Fix the rest
  .github/workflows/llm_bench-python.yml
  src/python/py_llm_pipeline.cpp
Labels: category: llm_bench, category: LLM, category: GHA, category: Python API, port to master

#1340 FLUX dev and lite models support
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/docs/SUPPORTED_MODELS.md
Labels: category: text to image, category: GenAI C++ API, no-match-files

#1336 Add checks when pad/eos/bos tokens are decoded from token ids
  src/cpp/src/tokenizer.cpp
Labels: bug, category: tokenizers, port to master

#1346 Requirements.txt for release 2024.6
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: samples

#1344 Keep requirements.txt in production ready state
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: samples

#1322 Update vision_encoder.cpp for miniCPM
  src/cpp/src/visual_language/vision_encoder.cpp
Labels: category: visual language

#1349 Added Python API for other image generation models
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/sd3_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_models.cpp
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: Python API, category: GenAI C++ API

#1347 Make Sampler a member of the class for llm/vlm pipelines
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_chat_generate_api.py
Labels: bug, Code Freeze, category: visual language, category: LLM, category: sampling, port to master

#1361 Fix trim kv cache for chat vlm
  src/cpp/src/utils.cpp
Labels: bug, category: visual language, no-match-files, port to master

#1351 Enhanced verbose output of text generation models
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1356 Port from 24.6 release to master
  .github/workflows/causal_lm_cpp.yml
  samples/CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/encrypted_model_causal_lm.cpp
  samples/cpp/text_generation/greedy_causal_lm.cpp
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/python/text_generation/README.md
  samples/python/text_generation/greedy_causal_lm.py
  samples/python/text_generation/lora.py
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/python/py_llm_pipeline.cpp
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_generate_api.py
Labels: category: continuous batching, category: LLM, category: speculative decoding, category: GHA, category: cmake / build, category: tokenizers, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1257 [GHA] Linux pipeline refactoring
  .github/actions/install_wheel/.eslintignore
  .github/actions/install_wheel/.node-version
  .github/actions/install_wheel/.prettierignore
  .github/actions/install_wheel/.prettierrc.json
  .github/actions/install_wheel/action.yml
  .github/actions/install_wheel/dist/index.js
  .github/actions/install_wheel/linters/.eslintrc.yml
  .github/actions/install_wheel/linters/.markdown-lint.yml
  .github/actions/install_wheel/linters/.yaml-lint.yml
  .github/actions/install_wheel/src/install_packages.js
  .github/workflows/linux.yml
Labels: category: GHA

#1360 LLM benchmark: Pass config as config not **config
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, port to master

#1359 LLM Bench fix
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  src/cpp/src/sampler.cpp
Labels: bug, category: sampling, category: samples

#1372 [Image generation] Added num_steps to callback
  samples/cpp/image_generation/README.md
  samples/python/image_generation/README.md
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/python/py_utils.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: text to image, category: Python API, category: samples, category: GenAI C++ API

#1380 GHA: use preconverted LCM model
  .github/workflows/lcm_dreamshaper_cpp.yml
Labels: category: GHA

#1385 [GHA] Use the latest stable ov commit
  .github/workflows/linux.yml
Labels: category: GHA

#1375 [Image generation] Added conversion between pipelines
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/cpp/src/image_generation/schedulers/scheduler.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: Python API, category: GenAI C++ API

#1384 Fixed typo in image generation readme
  samples/python/image_generation/README.md
Labels: bug, category: text to image, category: samples

#1376 GHA: use OpenVINO GenAI from PR in LLM bench / WWB tests
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
Labels: category: llm_bench, category: GHA

#1383 LLM Inference Guide -> Generative AI workflow
  README.md
  tools/llm_bench/README.md
Labels: category: llm_bench, no-match-files

#1388 fix some typos in image2image sample readme
  samples/python/image_generation/README.md
Labels: category: samples

#1377 Update streaming in LM Encoding & CB
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: bug, category: continuous batching, category: LLM, category: speculative decoding

#1254 Use whole history in case of undetermined tokenization of sequence
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: LLM, no-match-files

#1379 Image generation: added TorchGenerator and rng_seed
  README.md
  samples/cpp/image_generation/README.md
  samples/cpp/image_generation/lora_text2image.cpp
  samples/python/image_generation/README.md
  samples/python/image_generation/baseline.bmp
  samples/python/image_generation/heterogeneous_stable_diffusion.py
  samples/python/image_generation/lora.bmp
  samples/python/image_generation/lora_text2image.py
  samples/python/image_generation/text2image.bmp
  samples/python/image_generation/text2image.py
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/image_generation/generation_config.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/generation_config.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
Labels: category: WWB, category: text to image, category: sampling, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1391 [llm_bench] add infer latency metrics for genai
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1348 Fix optimum-cli command for VLM example in README
  README.md
Labels: port to LTS, no-match-files

#1392 [llm_bench] enable text2img callback only if supported
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, port to LTS

#1393 [ImageGeneration] PNDMScheduler support
  src/cpp/include/openvino/genai/image_generation/scheduler.hpp
  src/cpp/src/image_generation/schedulers/pndm.cpp
  src/cpp/src/image_generation/schedulers/pndm.hpp
  src/cpp/src/image_generation/schedulers/scheduler.cpp
  src/cpp/src/image_generation/schedulers/types.cpp
  src/docs/SUPPORTED_MODELS.md
Labels: category: text to image, category: GenAI C++ API, no-match-files

#1318 add VLM support in llm bench
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/gen_output_data.py
  tools/llm_bench/llm_bench_utils/hook_beam_search.py
  tools/llm_bench/llm_bench_utils/hook_common.py
  tools/llm_bench/llm_bench_utils/hook_greedy_search.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/parse_json_data.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench, category: GHA

#1367 Add workaround for MSVC mutex constructor issue
  CMakeLists.txt
Labels: category: cmake / build

#1394 [Image to image] PNDM support
  samples/cpp/image_generation/README.md
  samples/cpp/image_generation/inpainting.bmp
  samples/python/image_generation/README.md
  src/cpp/src/image_generation/schedulers/pndm.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: text to image, category: Python API, category: samples

#1398 [Inpainting] Added single channel mask support
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/image_processor.cpp
  src/cpp/src/image_generation/image_processor.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
Labels: category: text to image, category: GenAI C++ API

#1289 Enable print properties of compiled model in genai API
  .github/workflows/llm_bench-python.yml
  src/README.md
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_static.cpp
  src/docs/DEBUG_LOG.md
Labels: category: llm_bench, category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: LoRA, category: GHA, category: tokenizers, no-match-files

#1401 remove test models and fix order of checks
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/task/image_generation.py
  tools/who_what_benchmark/tests/test_cli_text.py
Labels: category: llm_bench, category: WWB, category: GHA

#1245 [Prompt lookup]
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/prompt_lookup_decoding_lm/CMakeLists.txt
  samples/cpp/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.cpp
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  samples/python/prompt_lookup_decoding_lm/README.md
  samples/python/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.py
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_generation_config.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_openvino_genai.cpp
  tests/cpp/CMakeLists.txt
Labels: category: continuous batching, category: LLM, category: sampling, category: speculative decoding, category: GHA, category: cmake / build, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1408 Removed generator patching
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1407 [ImageGeneration] EulerAncestralDiscreteScheduler
  src/cpp/include/openvino/genai/image_generation/scheduler.hpp
  src/cpp/src/image_generation/schedulers/euler_ancestral_discrete.cpp
  src/cpp/src/image_generation/schedulers/euler_ancestral_discrete.hpp
  src/cpp/src/image_generation/schedulers/scheduler.cpp
  src/cpp/src/image_generation/schedulers/types.cpp
  src/docs/SUPPORTED_MODELS.md
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: text to image, category: Python API, category: GenAI C++ API, no-match-files

#1247 fill prompt for sampler analysis with real tokens in VLM pipeline
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, no-match-files

#1378 Whisper pipeline: implement 'initial_prompt' and 'hotwords' parameters
  samples/cpp/whisper_speech_recognition/README.md
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/python/whisper_speech_recognition/README.md
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/src/whisper/context_tokens.cpp
  src/cpp/src/whisper/context_tokens.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/cpp/src/whisper_generation_config.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_static.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_generate_api.py
Labels: category: whisper, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1406 [ SD ] Fix of scheduler config for main_pipeline
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  src/cpp/src/utils/paged_attention_transformations.hpp
Labels: category: speculative decoding, port to LTS, no-match-files

#1413 Fail gracefully when openvino_tokenizer.xml is not available
  src/cpp/src/tokenizer.cpp
Labels: bug, category: tokenizers

#1415 add check that tokenizer is available
  src/cpp/src/tokenizer.cpp
  tests/python_tests/test_generate_api.py
Labels: bug, category: LLM, category: tokenizers

#1412 Make Sampler a member of the class for llm/vlm pipelines
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_chat_generate_api.py
Labels: category: visual language, category: LLM, category: sampling

#1410 [LLM/VLM] Stop generation when streaming callback returns true
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/generation_handle.cpp
  src/cpp/src/generation_stream.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: continuous batching, category: LLM, port to LTS

#1418 llm_pipeline_static: flush streamer after generation loop is complete…
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1409 StaticLLMPipeline: Cherry-pick num_key_value_heads not present in config.json
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: NPU

#1420 Pin optimum-intel commit
  .github/workflows/llm_bench-python.yml
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: GHA, category: samples, no-match-files

#1382 [ CB ][ SD ] Support streaming with using `stop_strings` and `include_stop_strings`
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  tests/python_tests/common.py
  tests/python_tests/test_sampling.py
Labels: category: continuous batching, category: LLM, category: sampling, no-match-files

#1215 Move beam search in case of chat scenario to sampler.cpp
  src/cpp/src/group_beam_searcher.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: LLM, no-match-files

#1419 remove redundant `.tolist()`
  tools/llm_bench/task/text_generation.py
Labels: bug, category: llm_bench

#1424 [Image generation] Added i64 support for text encoders inputs
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
Labels: category: text to image

#1368 [LLM Bench] Allow Image Generation Models to Run in BF16
  tools/llm_bench/llm_bench_utils/pt_utils.py
Labels: category: llm_bench

#1354 [LLM Bench] Defining Framework in Torch Compile Benchmarking
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#1414 [test] Ensure that the first token generation is not included into TPOT
  src/cpp/src/perf_metrics.cpp
  tests/python_tests/conftest.py
  tests/python_tests/test_generate_api.py
Labels: bug, category: LLM, port to LTS, no-match-files

#1337 Add perf metrics support for WhisperStaticPipeline
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper_utils.cpp
  src/cpp/src/whisper/whisper_utils.hpp
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: whisper, category: NPU, no-match-files

#1427 [Inpainting] Update stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: bug, category: text to image

#1428 Fix compile warnings in tokenizer.cpp
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1426 Revert "Pin optimum-intel commit"
  .github/workflows/llm_bench-python.yml
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: GHA, category: samples, no-match-files

#1364 Dynamic KV cache allocation
  samples/cpp/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.cpp
  samples/cpp/speculative_decoding_lm/speculative_decoding_lm.cpp
  samples/python/prompt_lookup_decoding_lm/prompt_lookup_decoding_lm.py
  samples/python/speculative_decoding_lm/speculative_decoding_lm.py
  src/cpp/src/block_manager.hpp
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/device_config.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/scheduler.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_cache_optimizations.py
Labels: category: continuous batching, category: LLM, category: speculative decoding, category: samples, no-match-files

#1433 [GHA] Updated OpenVINO nightly
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  src/cpp/src/tokenizer.cpp
Labels: category: GHA, category: tokenizers

#1432 temporary use num_steps instead of infer_count for image generation
  .github/workflows/llm_bench-python.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: GHA

#1434 [GHA] Use latest OV on macos and windows
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1438 [Text generation] Enable tests with Qwen2-0.5B-Instruct
  .github/workflows/linux.yml
Labels: category: GHA

#1436 Moved tokenizers tests to a dedicated file
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_generation_config.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_cache_optimizations.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_generate_api.py
  tests/python_tests/test_preemption.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_whisper_generate_api.py
  tests/python_tests/tokenizer_configs.py
Labels: category: continuous batching, category: LLM, category: whisper, category: sampling, category: GHA, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1444 Added more FLUX supported models
  src/docs/SUPPORTED_MODELS.md
Labels: no-match-files

#1440 LLM tests restructuring
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/cpp/src/llm_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_vlm_pipeline.py
  tests/python_tests/test_whisper_pipeline.py
Labels: category: continuous batching, category: LLM, category: GHA, no-match-files

#1416 Support unfixed kv heads number
  src/cpp/src/cache_manager.hpp
  src/cpp/src/device_config.hpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/device_config.cpp
  tests/cpp/scheduler.cpp
Labels: category: continuous batching

#1373 [WWB]: Add ImageText-to-Image pipeline validation
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/whowhatbench/__init__.py
  tools/who_what_benchmark/whowhatbench/image2image.py
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1449 Use singleton core for StatefulLLMPipeline
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM

#1450 Fix typo for slice_matmul_stateful_model transformation
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: LLM, no-match-files

#1448 Tests for generation config
  samples/cpp/beam_search_causal_lm/beam_search_causal_lm.cpp
  samples/python/beam_search_causal_lm/beam_search_causal_lm.py
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/json_utils.hpp
  src/cpp/src/llm_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_generation_config.cpp
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_utils.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/cpp/CMakeLists.txt
  tests/cpp/generate_config.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_generation_config.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_tokenizer.py
  tools/continuous_batching/benchmark/continuous_batching_benchmark.cpp
Labels: category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: cmake / build, category: tokenizers, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1452 Added LoRA support to CB, SD, PL
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  tests/cpp/CMakeLists.txt
Labels: category: continuous batching, category: LLM, category: speculative decoding, category: LoRA, category: cmake / build, category: GenAI C++ API, no-match-files, category: prompt lookup

#1454 Split LLMPipeline by several files
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_base.hpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/utils.hpp
Labels: category: LLM, no-match-files

#1456 [CB] Simplify SequenceGroup API
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/cpp/block_manager.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/sampler.cpp
  tests/cpp/scheduler.cpp
  tests/cpp/speculative_decoding.cpp
Labels: category: visual language, category: continuous batching, category: LLM, category: sampling, category: speculative decoding, no-match-files

#1457 [Python API] Clean up utils
  src/python/py_llm_pipeline.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
Labels: category: LLM, category: Python API

#1396 Removed WAs for OpenVINO: pass properties as is
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  samples/export-requirements.txt
  src/cpp/CMakeLists.txt
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/tokenizers_path.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_static.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  tests/python_tests/requirements.txt
Labels: category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: speculative decoding, category: GHA, category: cmake / build, category: tokenizers, category: Python API, category: samples, no-match-files

#1458 Fixed typo
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/lm_encoding.cpp
Labels: category: continuous batching, category: LLM
