Repository openvinotoolkit/openvino.genai, pull requests merged in 2024-09, with the labels that each got.

#812 update optimum-intel version
  llm_bench/python/benchmark.py
  llm_bench/python/requirements.txt
Labels: llm_bench

#816 update optimum-intel commit to include mxfp4
  llm_bench/python/requirements.txt
Labels: llm_bench

#828 [2024.4] update optimum intel commit to include mxfp4 conversion
  llm_bench/python/requirements.txt
Labels: llm_bench

#830 [2024.4] use perf metrics for genai in llm bench
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/ov_utils.py
Labels: llm_bench

#818 use perf metrics genai in llm_bench
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/ov_utils.py
Labels: llm_bench

#829 Fix perf metrics
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/perf_metrics.cpp
  src/python/openvino_genai/__init__.py
  src/python/py_generate_pipeline.cpp
  tests/python_tests/test_generate_api.py
Labels: bug

#837 Improve utf8 handling for DecodedResults in pybind
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/python/py_generate_pipeline.cpp
Labels: bug

#851 Update optimum-intel version
  llm_bench/python/requirements.txt
Labels: llm_bench

#846 Fix Meta-Llama-3.1-8B-Instruct chat template
  src/cpp/src/tokenizer.cpp
  tests/python_tests/test_chat_generate_api.py
  tests/python_tests/tokenizer_configs.py
Labels: bug

#857 WWB: control number of samples. Added verbose mode with diff
  llm_bench/python/who_what_benchmark/README.md
  llm_bench/python/who_what_benchmark/whowhatbench/evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/wwb.py
Labels: llm_bench

#856 Drop Python 3.8
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/llm_bench-python.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  image_generation/lcm_dreamshaper_v7/cpp/README.md
  image_generation/stable_diffusion_1_5/cpp/README.md
  src/docs/BUILD.md
Labels: llm_bench

#860 Remove link from WWB README.md
  llm_bench/python/who_what_benchmark/README.md
Labels: llm_bench

#874 use streamer for metrics calculation
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/ov_utils.py
Labels: llm_bench

#873 WWB: Added Chinese language and language autodetect
  llm_bench/python/who_what_benchmark/whowhatbench/evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/wwb.py
Labels: llm_bench

#863 Support multiple prompt files
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/model_utils.py
Labels: llm_bench

#880 Added WWB tests
  .github/workflows/llm_bench-python.yml
  bandit.yml
  llm_bench/python/who_what_benchmark/tests/test_cli.py
Labels: llm_bench, WWB

#887 Added support of HF and GenAI models into CLI
  .github/workflows/llm_bench-python.yml
  llm_bench/python/who_what_benchmark/README.md
  llm_bench/python/who_what_benchmark/requirements.txt
  llm_bench/python/who_what_benchmark/tests/test_cli.py
  llm_bench/python/who_what_benchmark/whowhatbench/evaluator.py
  llm_bench/python/who_what_benchmark/whowhatbench/wwb.py
Labels: llm_bench, WWB

#893 Update requirements.txt and add requirements_2024.4.txt
  llm_bench/python/requirements.txt
  llm_bench/python/requirements_2024.4.txt
Labels: llm_bench

#902 add support cb
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/model_utils.py
  llm_bench/python/llm_bench_utils/ov_utils.py
Labels: llm_bench

#903 use streaming for cb
  llm_bench/python/benchmark.py
  llm_bench/python/llm_bench_utils/ov_utils.py
Labels: llm_bench

#757 Token eviction
  .github/workflows/linux.yml
  llm_bench/python/who_what_benchmark/examples/openvino_batched_eval.py
  llm_bench/python/who_what_benchmark/requirements.txt
  llm_bench/python/who_what_benchmark/whowhatbench/evaluator.py
  samples/cpp/continuous_batching_benchmark/continuous_batching_benchmark.cpp
  src/cpp/include/openvino/genai/cache_eviction.hpp
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/src/attention_output.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/cache_eviction.cpp
  src/cpp/src/cache_eviction.hpp
  src/cpp/src/cache_manager.hpp
  src/cpp/src/cache_state_dumper.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/paged_attention_transformations.cpp
  src/cpp/src/paged_attention_transformations.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/sequence_group.hpp
  src/python/openvino_genai/__init__.py
  src/python/py_generate_pipeline.cpp
  tests/cpp/CMakeLists.txt
  tests/cpp/block_allocator.cpp
  tests/cpp/block_hash_store.cpp
  tests/cpp/block_manager.cpp
  tests/cpp/cache_eviction.cpp
  tests/cpp/scheduler.cpp
  tests/python_tests/common.py
  tests/python_tests/data/long_prompts.txt
  tests/python_tests/data/short_prompts.txt
  tests/python_tests/requirements.txt
  tests/python_tests/test_cache_optimizations.py
  tests/python_tests/test_sampling.py
  tools/__init__.py
  tools/cacheviz/__init__.py
  tools/cacheviz/cacheviz.py
  tools/cacheviz/requirements.txt
Labels: llm_bench, WWB

#885 Change -1 to N/A
  llm_bench/python/llm_bench_utils/metrics_print.py
  llm_bench/python/llm_bench_utils/output_csv.py
Labels: llm_bench
