Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-02, with the labels that each got.

#1662 CB: remove GenerationHandle:back
  src/cpp/include/openvino/genai/generation_handle.hpp
  src/cpp/src/generation_handle.cpp
  src/cpp/src/generation_stream.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/whisper/whisper.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
Labels: category: continuous batching, category: LLM, category: whisper, category: Python API, category: GenAI C++ API

#1660 Fix tiny-random-llava-next in VLM Pipeline
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  tests/python_tests/test_vlm_pipeline.py
Labels: bug, category: visual language

#1666 [CB] Add KVHeadConfig parameters to PagedAttention's rt_info
  src/cpp/src/paged_attention_transformations.cpp
Labels: category: continuous batching

#1675 pin optimum version
  samples/export-requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: samples

#1455 [LLM] Enabled CB by default
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM

#1681 SAMPLER: fixed hang during destruction of ThreadPool
  src/cpp/src/threadpool.hpp
Labels: bug, category: sampling, no-match-files

#1679 CB: use optimized scheduler config for cases when user explicitly asked CB backend
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: LLM, no-match-files

#1569 [CB] Return Block manager asserts to destructors
  src/cpp/src/block_manager.hpp
  tests/cpp/block_allocator.cpp
  tests/cpp/block_manager.cpp
  tests/cpp/scheduler.cpp
Labels: category: continuous batching

#1670 phi3_v: allow images, remove unused var
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

#1685 [Image Generation] Inpainting for FLUX
  SUPPORTED_MODELS.md
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: Python API, category: GenAI C++ API, no-match-files

#1671 [WWB]: Added support for SchedulerConfig in LLMPipeline
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1220 Add LongBench validation
  tests/python_tests/requirements.txt
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/utils_longbench.py
Labels: category: continuous batching, no-match-files

#1659 Fix Tokenizer for several added special tokens
  src/cpp/src/make_tokenizer_stateful.cpp
  tests/python_tests/common.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_tokenizer.py
Labels: bug, category: sampling, category: tokenizers, no-match-files

#1680 Unpin optimum-intel version
  .github/workflows/genai-tools.yml
  samples/export-requirements.txt
  src/cpp/src/whisper/models/with_past_decoder.cpp
  tests/python_tests/requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: whisper, category: GHA, category: samples, no-match-files

#1683 Image generation: proper error message when encode() is used w/o encoder passed to ctor
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
Labels: category: text to image

#1676 Fix excluding stop str from output for some tokenizer
  src/cpp/src/sampler.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_sampling.py
Labels: bug, category: continuous batching, category: sampling, category: speculative decoding

#1674 [VLM] Fix chat template fallback in chat mode with defined system message
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: bug, category: visual language, category: tokenizers

#1612 Set stop token ids from default generation config
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_base.hpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: visual language, category: continuous batching, category: LLM, category: whisper, no-match-files

#1518 [Tokenizers] add max_lengh parametrisation to encode
  src/README.md
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/make_tokenizer_stateful.cpp
  src/cpp/src/make_tokenizer_stateful.hpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/conftest.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_tokenizer.py
Labels: enhancement, category: continuous batching, category: LLM, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1692 WWB: run FLUX inpainting test
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: text to image

#1687 Whisper pipeline: parallel streaming with async/wait
  src/cpp/src/perf_metrics.cpp
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/decoder.hpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/models/with_past_decoder.cpp
  src/cpp/src/whisper/models/with_past_decoder.hpp
  src/cpp/src/whisper/whisper.cpp
Labels: category: whisper, no-match-files

#1694 GHA: fixed build on Windows
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1664 Fix Falcon validation
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

#1476 Add a choice of how to end streaming from callback: STOP or CANCEL
  samples/cpp/text_generation/chat_sample.cpp
  samples/cpp/text_generation/multinomial_causal_lm.cpp
  samples/cpp/text_generation/prompt_lookup_decoding_lm.cpp
  samples/cpp/text_generation/speculative_decoding_lm.cpp
  samples/python/text_generation/chat_sample.py
  samples/python/text_generation/multinomial_causal_lm.py
  samples/python/text_generation/prompt_lookup_decoding_lm.py
  samples/python/text_generation/speculative_decoding_lm.py
  samples/python/visual_language_chat/visual_language_chat.py
  src/README.md
  src/cpp/include/openvino/genai/generation_handle.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/streamer_base.hpp
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/generation_handle.cpp
  src/cpp/src/generation_stream.hpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/whisper/streamer.cpp
  src/cpp/src/whisper/streamer.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/cpp/src/whisper_pipeline_static.cpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_openvino_genai.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/test_llm_pipeline.py
  tools/continuous_batching/accuracy/continuous_batching_accuracy.cpp
  tools/continuous_batching/accuracy/continuous_batching_speculative_decoding.cpp
Labels: category: visual language, category: continuous batching, category: LLM, category: whisper, category: speculative decoding, category: Python API, category: samples, category: GenAI C++ API, no-match-files, category: prompt lookup

#1703 Add egg package name to avoid issues after pip freeze
  tools/llm_bench/requirements.txt
Labels: category: llm_bench

#1701 fix llm bench config based model search for gptj
  tools/llm_bench/llm_bench_utils/config_class.py
Labels: category: llm_bench

#1708 Fixed typo
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM

#1673 Added GIL release for time consuming methods.
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_models.cpp
  src/python/py_image_generation_pipelines.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: text to image, category: visual language, category: whisper, category: Python API

#1684 Fix error after second start_chat() for StatefulLLMPipeline
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: bug, category: visual language, category: LLM, no-match-files

#1691 [ Test ][ PR1 ] Splitting Common.py
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_vlm_pipeline.py
  tests/python_tests/utils/__init__.py
  tests/python_tests/utils/constants.py
  tests/python_tests/utils/generation_config.py
  tests/python_tests/utils/hugging_face.py
Labels: category: visual language, category: continuous batching, category: LLM, category: sampling, category: tokenizers, no-match-files

#1720 GHA: update workflows
  .github/workflows/bandit.yml
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_openvino_genai.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM, category: GHA, category: Python API

#1702 [ Test ][ PR2 ] Splitting Common.py
  tests/python_tests/common.py
  tests/python_tests/data/__init__.py
  tests/python_tests/data/tokenizer_configs.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_vlm_pipeline.py
  tests/python_tests/utils/comparation.py
  tests/python_tests/utils/longbench.py
Labels: category: visual language, category: continuous batching, category: tokenizers, no-match-files

#1719 [Sampler] Fix stop strings offset for speculative decoding
  src/cpp/src/sampler.cpp
  tests/python_tests/test_continuous_batching.py
Labels: bug, category: continuous batching, category: sampling

#1726 Omit `--trust-remote-code` from export command for whisper in the README
  README.md
Labels: no-match-files

#1712 tokenizer: read simplified_chat_template
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_tokenizer.py
Labels: category: continuous batching, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1690 CB pipelines: use threaded streamer
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  src/cpp/src/threaded_streamer.hpp
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: continuous batching, category: LLM, category: whisper, category: speculative decoding, category: GenAI C++ API, no-match-files, category: prompt lookup

#1710 Remove core_tokenizers unused code
  thirdparty/CMakeLists.txt
Labels: category: cmake / build

#1721 Set default permision for job_vlm
  .github/workflows/job_vlm_sample_llava.yml
Labels: category: GHA

#1714 [GHA] Win pipeline refactoring
  .github/actions/install_wheel/.eslintignore
  .github/actions/install_wheel/dist/index.js
  .github/actions/install_wheel/linters/.eslintrc.yml
  .github/actions/install_wheel/linters/.markdown-lint.yml
  .github/actions/install_wheel/linters/.yaml-lint.yml
  .github/actions/install_wheel/package-lock.json
  .github/actions/install_wheel/package.json
  .github/actions/install_wheel/src/install_packages.js
  .github/workflows/windows.yml
Labels: category: GHA

#1727 [llm bench] fix prompt file parcing for vlm
  .github/workflows/genai-tools.yml
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/parse_json_data.py
  tools/llm_bench/prompts/llava-1.5-7b.jsonl
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench, category: GHA

#1705 CMAKE: use object librry between shared OpenVINO GenAI and tests
  src/cpp/CMakeLists.txt
  tests/cpp/CMakeLists.txt
Labels: category: cmake / build

#1724 Add more samples to ci check
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/encrypted_model_causal_lm.cpp
Labels: category: GHA, category: samples

#1733 docs: 2024-2025
  README.md
  samples/cpp/image_generation/README.md
  samples/cpp/text_generation/README.md
  samples/cpp/visual_language_chat/README.md
  samples/cpp/whisper_speech_recognition/README.md
  samples/python/text_generation/README.md
  src/README.md
  src/docs/BUILD.md
  src/docs/HOW_IT_WORKS.md
  tools/llm_bench/README.md
Labels: category: llm_bench, category: samples, no-match-files

#1700 Make `TextStreamer` public & add unit-tests
  .github/labeler.yml
  src/cpp/include/openvino/genai/text_streamer.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/text_callback_streamer.hpp
  src/cpp/src/text_streamer.cpp
  src/cpp/src/threaded_streamer.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/whisper/streamer.cpp
  src/cpp/src/whisper/streamer.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_openvino_genai.cpp
  src/python/py_streamers.cpp
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_text_streamer.py
  tests/python_tests/test_tokenizer.py
Labels: bug, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: speculative decoding, category: GHA, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files, category: prompt lookup

#1731 [GHA] macOS pipeline refactoring
  .github/workflows/mac.yml
Labels: category: GHA

#1739 Simplify installation verification
  src/docs/BUILD.md
Labels: no-match-files

#1652 Update for LoRA Adapters: Derived adapters and support for FLUX (#1602) (master)
  SUPPORTED_MODELS.md
  samples/cpp/image_generation/progress_bar.hpp
  samples/cpp/text_generation/lora_greedy_causal_lm.cpp
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/lora_common.hpp
  src/cpp/src/lora_helper.cpp
  src/cpp/src/lora_helper.hpp
  src/cpp/src/lora_names_mapping.cpp
  src/cpp/src/lora_names_mapping.hpp
  src/cpp/src/utils.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_lora_adapter.cpp
Labels: category: text to image, category: continuous batching, category: LoRA, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1715 Threaded streamer: add tests
  .github/workflows/causal_lm_cpp.yml
  tests/cpp/threaded_streamer.cpp
Labels: category: GHA, no-match-files

#1741 Revert "Threaded streamer: add tests"
  .github/workflows/causal_lm_cpp.yml
  tests/cpp/threaded_streamer.cpp
Labels: category: GHA, no-match-files

#1736 [llm bench] improve catch unicode encoding errors during generated print
  tools/llm_bench/llm_bench_utils/metrics_print.py
Labels: category: llm_bench

#1740 tokenizer: don't store CompiledModel
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1686 Set English language by default for all the LLM models
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1745 PYTHON: remove py::object as ov::Any
  src/python/py_utils.cpp
Labels: category: Python API

#1635 [LLM] [NPU] StaticLLMPipeline: support weightless caching
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM, category: NPU

#1749 [WWB]: Fixed internvl inference with Transformers lib
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

#1752 do not convert tokenizer on the fly in llm bench
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1754 TESTS: skip test_perf_metrics
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#1732 [GHA][WIN] Use self-hosted runners
  .github/workflows/windows.yml
Labels: category: GHA

#1750 Add flag to use full history on each generation in chat mode
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
Labels: no-match-files

#1667 [JS] Add a dependency on the openvino-node package
  .github/workflows/linux.yml
  samples/js/text_generation/package-lock.json
  samples/js/text_generation/package.json
  src/cpp/CMakeLists.txt
  src/docs/BUILD.md
  src/js/BUILD.md
  src/js/CMakeLists.txt
  src/js/README.md
  src/js/package-lock.json
  src/js/package.json
Labels: category: GHA, category: cmake / build, category: samples, no-match-files

#1760 Revert "VLM: updated chat template mapping for llava-next"
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1747 Add benchmark_genai python sample to precommit
  .github/workflows/causal_lm_cpp.yml
Labels: category: GHA

#1748 Clean up Static LLM Pipeline
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: LLM, no-match-files

#1734 [LLM bench]: remove convert.py and split requirements
  .github/workflows/genai-tools.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/convert.py
  tools/llm_bench/llm_bench_utils/conversion_utils/better_transformer_patch.py
  tools/llm_bench/llm_bench_utils/conversion_utils/convert_patch.py
  tools/llm_bench/llm_bench_utils/conversion_utils/export_configs.py
  tools/llm_bench/llm_bench_utils/conversion_utils/helpers.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/nncf_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/requirements.txt
  tools/llm_bench/requirements/requirements_conversion.txt
  tools/llm_bench/requirements/requirements_gptq.txt
Labels: category: llm_bench, category: GHA

#1405 add performance statistics for image generation
  .github/workflows/lcm_dreamshaper_cpp.yml
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/image_generation/README.md
  samples/cpp/image_generation/benchmark_image_gen.cpp
  samples/python/image_generation/README.md
  samples/python/image_generation/benchmark_image_gen.py
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/image_generation_perf_metrics.hpp
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/image_generation_perf_metrics.cpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: GHA, category: cmake / build, category: Python API, category: samples, category: GenAI C++ API

#1758 [TESTS] Retry model downloading and conversion
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_text_streamer.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_vlm_pipeline.py
  tests/python_tests/test_whisper_pipeline.py
  tests/python_tests/test_whisper_pipeline_static.py
  tests/python_tests/utils/hugging_face.py
  tests/python_tests/utils/network.py
Labels: category: visual language, category: continuous batching, category: whisper, category: tokenizers, no-match-files

#1770 Whisper samples: align timestamps precision
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
Labels: category: samples

#1772 Update README.md to update OV2025.0 GenAI Whisper NPU requirement
  samples/cpp/whisper_speech_recognition/README.md
  samples/python/whisper_speech_recognition/README.md
Labels: category: samples

#1767 Speculative decoding fix
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: speculative decoding

#1737 SD3 Img2Img and Inpainting
  SUPPORTED_MODELS.md
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/ischeduler.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: text to image, category: Python API, category: GenAI C++ API, no-match-files

#1761 Fix "images" parameter in VLM to allow single image.
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

#1718 [ Test ][ PR3 ] Splitting Common.py
  tests/python_tests/common.py
  tests/python_tests/data/models.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/utils/constants.py
  tests/python_tests/utils/hugging_face.py
  tests/python_tests/utils/ov_genai_pipelines.py
  tests/python_tests/utils/tokenizers.py
Labels: category: continuous batching, category: LLM, category: sampling, category: tokenizers, no-match-files

#1723 Whisper pipeline: use remote tensor for encoder->decoder
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper_pipeline.cpp
Labels: category: whisper

#1776 VLMPipeline: remove duplicate reset
  src/cpp/src/visual_language/pipeline.cpp
Labels: bug, category: visual language

#1771 Fix speculative decoding internal metrics
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.cpp
  src/cpp/src/timer.hpp
Labels: category: continuous batching, category: speculative decoding

#1661 [GHA] Samples tests refactoring
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  pyproject.toml
  tests/python_tests/README.md
  tests/python_tests/pytest.ini
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_lora.py
  tests/python_tests/samples/test_multinomial_causal_lm.py
  tests/python_tests/samples/test_utils.py
  tests/python_tests/samples/test_whisper_speech_recognition.py
  tests/python_tests/utils/network.py
Labels: category: GHA, category: cmake / build, no-match-files

#1735 Parsing model names of deepseek and flan-t5-xxl
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#1781 GHA: pin OpenVINO commit
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1722 [ Test ][ PR4 ] Splitting & Refactoring Common.py
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tests/python_tests/utils/ov_genai_pipelines.py
  tests/python_tests/utils/tokenizers.py
Labels: category: continuous batching, category: LLM, category: sampling, category: Python API, no-match-files

#1716 Move tokenized/templated history difference handling to KVCacheState
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: LLM, no-match-files

#1785 Deprecated API usage
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/python/py_continuous_batching_pipeline.cpp
Labels: category: text to image, category: continuous batching, category: Python API

#1786 VLM: more informative error message
  src/cpp/src/visual_language/inputs_embedder.cpp
Labels: category: visual language

#1792 reduce sleep during memcomp measurement, handle unicode in input
  tools/llm_bench/llm_bench_utils/memory_profile.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1784 Update SUPPORTED_MODELS.md
  SUPPORTED_MODELS.md
Labels: no-match-files

#1790 [JS] Basic configuration of typescrtipt for nodejs package
  src/js/.gitignore
  src/js/.npmignore
  src/js/BUILD.md
  src/js/README.md
  src/js/eslint.config.ts
  src/js/lib/addon.ts
  src/js/lib/index.ts
  src/js/lib/pipelines/llmPipeline.ts
  src/js/package-lock.json
  src/js/package.json
  src/js/tests/bindings.test.js
  src/js/tests/module.test.js
  src/js/tsconfig.json
Labels: no-match-files

#1793 [GHA] Replaced cpp-beam_search_causal_lm-ubuntu
  .github/workflows/causal_lm_cpp.yml
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_utils.py
Labels: category: GHA, no-match-files

#1704 Continuous Batching in VLM [Draft]
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/continuous_batching_adapter.hpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/pipeline_base.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: continuous batching, category: LLM, category: Python API, category: GenAI C++ API, no-match-files

#1804 Fixed path to the Supported Models Section
  src/README.md
Labels: no-match-files

#1794 [GHA] Replaced cpp-speculative_decoding_lm-ubuntu
  .github/workflows/causal_lm_cpp.yml
  samples/cpp/text_generation/speculative_decoding_lm.cpp
  samples/python/text_generation/speculative_decoding_lm.py
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_speculative_decoding_lm.py
Labels: category: GHA, category: samples, no-match-files

#1807 Streaming: use write with vector
  src/cpp/include/openvino/genai/whisper_pipeline.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lm_encoding.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: LLM, category: whisper, category: Python API, category: GenAI C++ API

#1780 [GHA][WIN] Samples tests
  .github/workflows/windows.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_beam_search_causal_lm.py
Labels: category: GHA, no-match-files

#1604 Samples build instructions
  src/docs/BUILD.md
Labels: no-match-files

#1812 StatefulLLMPipeline: Fix attention mask
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: GHA

#1788 LLaVA: align the number of tokens in history and kv_cache
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#1768 Text2ImagePipeline heterogenous compile
  samples/cpp/image_generation/heterogeneous_stable_diffusion.cpp
  samples/python/image_generation/heterogeneous_stable_diffusion.py
  src/cpp/include/openvino/genai/image_generation/clip_text_model.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model_with_projection.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: Python API, category: samples, category: GenAI C++ API

#1810 Fixed VLM metrics test.
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#1797 [TEST][PR5] Implementing test infra
  tests/python_tests/common.py
  tests/python_tests/data/test_dataset.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tests/python_tests/utils/ov_genai_pipelines.py
Labels: category: continuous batching, category: LLM, category: sampling, no-match-files

#1813 InputsEmbedderLLaVANext: push_back() embeddings
  src/cpp/src/visual_language/llava_next/classes.cpp
Labels: category: visual language

#1822 Allow build w/o python
  CMakeLists.txt
Labels: category: cmake / build

#1821 GHA: pinned OpenVINO
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1823 Tokenizer: fixed decode of special tokens during init stage
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1824 Add ov::Tensor from_npy(), remove duplicate print_tensor()
  src/cpp/src/debug_utils.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: continuous batching, no-match-files

#1818 SD3 Reshape + Heterogenous Compile
  src/cpp/include/openvino/genai/image_generation/sd3_transformer_2d_model.hpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_dynamic.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_static_bs1.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
Labels: category: text to image, category: GenAI C++ API

#1825 [ImageGeneration] FLUX pipeline assert for strength
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/schedulers/ddim.cpp
  src/cpp/src/image_generation/schedulers/euler_ancestral_discrete.cpp
  src/cpp/src/image_generation/schedulers/euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/lcm.cpp
  src/cpp/src/image_generation/schedulers/lms_discrete.cpp
  src/cpp/src/image_generation/schedulers/pndm.cpp
Labels: category: text to image
