Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-03, with the labels that each got.

#1828 flux_pipeline: Add support for heterogeneous compile
  src/cpp/src/image_generation/flux_pipeline.hpp
Labels: category: text to image

#1834 update supported model_ids
  tools/llm_bench/llm_bench_utils/config_class.py
Labels: category: llm_bench

#1677 Switch NPU LLM execution to ov::genai::StatefulLLMPipeline
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  tests/python_tests/test_llm_pipeline_static.py
Labels: category: LLM, no-match-files

#1835 Revert "GHA: pinned OpenVINO"
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1816 [GHA] Use TinyLlama-1.1B-Chat-v1.0 instead of LaMini-GPT-124M
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_multinomial_causal_lm.py
  tests/python_tests/utils/network.py
Labels: no-match-files

#1806 Add support for inpainting/image2image pipeline to llm_bench
  .github/workflows/genai-tools.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/parse_json_data.py
  tools/llm_bench/prompts/stable-diffusion-i2i.jsonl
  tools/llm_bench/prompts/stable-diffusion-inpainting.jsonl
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: GHA

#1738 [JS] Setup genai nodejs bindings compilation for macos
  .github/workflows/mac.yml
  src/cpp/CMakeLists.txt
  src/js/CMakeLists.txt
Labels: category: GHA, category: cmake / build

#1552 [CB]: allow int8 KV cache precision for CPU
  src/cpp/src/continuous_batching_impl.cpp
Labels: category: continuous batching

#1842 [JS] Fix NPM CPACK_GENERATOR
  CMakeLists.txt
  cmake/features.cmake
Labels: category: cmake / build

#1836 [GHA] reworked lcm_dreamshaper and stable_diffusion_1_5_cpp pipelines
  .github/workflows/lcm_dreamshaper_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
  tests/python_tests/pytest.ini
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_benchmark_image_gen.py
  tests/python_tests/samples/test_heterogeneous_stable_diffusion.py
  tests/python_tests/samples/test_image2image.py
  tests/python_tests/samples/test_inpainting.py
  tests/python_tests/samples/test_lora.py
  tests/python_tests/samples/test_lora_text2image.py
  tests/python_tests/samples/test_text2image.py
  tests/python_tests/samples/test_whisper_speech_recognition.py
Labels: category: GHA, no-match-files

#1843 [llm_bench] Fix way with relative path of media for json prompts
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench

#1838 CB: rely on CPU logic for KV cache precision and shape
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  src/cpp/src/continuous_batching_impl.cpp
Labels: category: continuous batching, category: GHA

#1817 [GHA] replaced benchmark_genai-ubuntu
  .github/workflows/causal_lm_cpp.yml
  tests/python_tests/samples/test_benchmark_genai.py
Labels: category: GHA, no-match-files

#1802 [GHA] Replaced visual_language_chat_sample-ubuntu-llava
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/linux.yml
  tests/python_tests/pytest.ini
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_utils.py
  tests/python_tests/samples/test_visual_language_chat.py
Labels: category: GHA, no-match-files

#1847 Strengthen perf_metrics test, rename var
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#1417 Use get_max_new_tokens() insted of max_new_tokens field when stopping…
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: continuous batching, category: speculative decoding, category: prompt lookup

#1849 Fixed inference of HF version of internvl
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1841 Prefix caching for sequences with embeddings.
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/sequence_group.cpp
  src/cpp/src/sequence_group.hpp
  tests/cpp/scheduler.cpp
Labels: category: continuous batching

#1783 Extend VLM to run LM on NPU
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/python/visual_language_chat/visual_language_chat.py
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: LLM, category: samples, no-match-files

#1693 CB: added error messages when CB backend is explicitly asked, but not available
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM

#1853 [WWB]: align phi3_v
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1725 Implement CANCEL for streaming with VLM Pipeline
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: LLM, no-match-files

#1778 Add C API for LLMPipeline
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/CMakeLists.txt
  samples/c/text_generation/CMakeLists.txt
  samples/c/text_generation/benchmark_genai_c.c
  samples/c/text_generation/chat_sample_c.c
  samples/c/text_generation/greedy_causal_lm_c.c
  src/c/include/openvino/genai/c/generation_config.h
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/include/openvino/genai/c/perf_metrics.h
  src/c/src/generation_config.cpp
  src/c/src/llm_pipeline.cpp
  src/c/src/perf_metrics.cpp
  src/c/src/types_c.h
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/visibility.hpp
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_benchmark_genai.py
  tests/python_tests/samples/test_greedy_causal_lm.py
Labels: category: GHA, category: cmake / build, category: samples, category: GenAI C++ API, no-match-files

#1713 Use Sampler for StaticWhisperPipeline
  src/cpp/src/whisper_pipeline_static.cpp
  src/cpp/src/whisper_pipeline_static.hpp
Labels: category: whisper, category: NPU

#1848 CB: rely on GPU logic for KV cache precision and shape
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  tests/cpp/helper.cpp
Labels: category: continuous batching, no-match-files

#1857 [Image Generation] Flux Fill inpainting pipeline
  SUPPORTED_MODELS.md
  samples/cpp/image_generation/README.md
  samples/python/image_generation/README.md
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/src/image_generation/flux_fill_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: text to image, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1858 MiniCPM-V-2_6: add native tag
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: GenAI C++ API

#1860 [tokenizer] Fix setting max_legth and special tokens flags
  src/cpp/src/make_tokenizer_stateful.cpp
  src/cpp/src/tokenizer.cpp
  tests/python_tests/test_tokenizer.py
Labels: bug, category: tokenizers

#1865 GHA pin OpenVINO
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1864 FLUX: move FluxPipeline with pipeline type to protected
  src/cpp/src/image_generation/flux_pipeline.hpp
Labels: category: text to image

#1859 [JS] Split building and testing NodeJS for Linux CI
  .github/workflows/linux.yml
  src/js/BUILD.md
Labels: category: GHA, no-match-files

#1867 NPU LLM: Add prefill hint (dynamic/static)
  src/cpp/src/utils.cpp
Labels: no-match-files

#1862 Add averaged results dumping to llm_bench output json
  tools/llm_bench/llm_bench_utils/output_json.py
Labels: category: llm_bench

#1868 Add heterogenous compile API for image2image & inpainting
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/inpainting_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
Labels: category: text to image, category: Python API, category: GenAI C++ API

#1863 CB constructor from ModelsMap
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/visual_language/continuous_batching_adapter.hpp
Labels: category: visual language, category: continuous batching, category: LLM, category: GenAI C++ API

#1869 BUILD: set rpath for GenAI to OpenVINO C when building wheel
  pyproject.toml
  src/python/CMakeLists.txt
Labels: bug, category: cmake / build, category: Python API

#1876 SD3: fix case w/o T5
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
Labels: bug, category: text to image

#1880 Revert "GHA pin OpenVINO"
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1884 Qwen2-VL: add native tag
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: Python API, category: GenAI C++ API

#1866 Update tests to check encoded inputs with chat
  src/cpp/src/llm_pipeline_stateful.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM, no-match-files

#1871 Adjust the LLM pipeline C API to ensure it can determine the required sufficient size for the output.
  samples/c/text_generation/benchmark_genai_c.c
  samples/c/text_generation/chat_sample_c.c
  samples/c/text_generation/greedy_causal_lm_c.c
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/src/llm_pipeline.cpp
Labels: Code Freeze, category: samples, no-match-files

#1872 Chat mode for VLM Continuous Batching
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
Labels: Code Freeze, no-match-files

#1892 Removed LMS Discrete
  src/cpp/include/openvino/genai/image_generation/scheduler.hpp
  src/cpp/src/image_generation/schedulers/lms_discrete.cpp
  src/cpp/src/image_generation/schedulers/lms_discrete.hpp
  src/cpp/src/image_generation/schedulers/scheduler.cpp
  src/cpp/src/image_generation/schedulers/types.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  src/python/py_streamers.cpp
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench, category: text to image, category: Python API, category: GenAI C++ API

#1896 Dedicated library for OpenVINO GenAI C
  samples/c/text_generation/CMakeLists.txt
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/visual_language_chat/CMakeLists.txt
  samples/cpp/whisper_speech_recognition/CMakeLists.txt
  src/CMakeLists.txt
  src/c/CMakeLists.txt
  src/c/include/openvino/genai/c/generation_config.h
  src/c/include/openvino/genai/c/perf_metrics.h
  src/c/include/openvino/genai/c/visibility.h
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/visibility.hpp
  src/python/CMakeLists.txt
Labels: Code Freeze, category: cmake / build, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1893 [Docs] Align list of supported LLMs with Optimum-Intel
  site/docs/supported-models/_components/llm-models-table/models.ts
Labels: no-match-files

#1898 Update cpp sample CMakeLists.txt
  samples/cpp/text_generation/CMakeLists.txt
Labels: category: cmake / build, category: samples

#1894 Fixed stubgen issue
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_llm_pipeline.cpp
  src/python/py_openvino_genai.cpp
Labels: bug, category: LLM, category: Python API

#1903 [GHA] Mac pipeline fixes
  src/CMakeLists.txt
  tests/python_tests/samples/test_utils.py
Labels: Code Freeze, category: cmake / build, no-match-files

#1908 Added C API to cpack
  CMakeLists.txt
Labels: Code Freeze, category: cmake / build

#1888 [GHA] Removed visual_language_chat_sample-ubuntu-internvl2 and visual_language_chat_sample-ubuntu-qwen2vl
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_visual_language_chat.py
Labels: category: GHA, no-match-files

#1902 VLM: fix image separators
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: Code Freeze, category: visual language, category: Python API, category: GenAI C++ API, no-match-files

#1833 Use circular buffer of infer requests in VLM components
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
Labels: Code Freeze, category: visual language, category: continuous batching, category: LLM, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#1895 Update perf metrics for image generation pipeline to use get_performance_metrics
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, Code Freeze

#1906 [llm_bench] Allow to provide scheduler config for vlm
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1901 Store EncodedImage's in VLM CB chat history.
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/internvl_chat/classes.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava/classes.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  src/cpp/src/visual_language/vision_encoder.hpp
Labels: Code Freeze, category: visual language, no-match-files

#1904 Move speculative decoding from streamer to metrics benchmarking approach
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench

#1909 [GHA] Replaced isual_language_chat_sample-ubuntu-minicpm_v2_6 job
  .github/workflows/causal_lm_cpp.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_benchmark_image_gen.py
  tests/python_tests/samples/test_benchmark_vlm.py
  tests/python_tests/samples/test_image2image.py
  tests/python_tests/samples/test_inpainting.py
  tests/python_tests/samples/test_visual_language_chat.py
Labels: category: GHA, no-match-files

#1913 [GHA] Replaced cpp-chat_sample-ubuntu pipeline
  .github/workflows/causal_lm_cpp.yml
  tests/python_tests/samples/test_chat_sample.py
Labels: category: GHA, no-match-files

#1919 GHA: switch to 2025.1 branches
  .github/workflows/coverity.yml
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1924 [GHA] Introduce SDL pipeline
  .github/dependency_review.yml
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/sdl.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1889 Switch Download OpenVINO step to aks-medium-runner
  .github/workflows/coverity.yml
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
Labels: category: GHA

#1910 [GHA] Replaced cpp-continuous-batching
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/cpp/CMakeLists.txt
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_continuous_batching_tools.py
  tools/continuous_batching/accuracy/CMakeLists.txt
  tools/continuous_batching/benchmark/CMakeLists.txt
Labels: category: GHA, category: cmake / build, no-match-files

#1925 Update dependencies in samples
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: samples

#1927 Fix image_id unary error
  src/cpp/src/visual_language/phi3_vision/classes.cpp
Labels: category: visual language

#1877 [Docs] Image generation use case
  site/docs/getting-started/introduction.mdx
  site/docs/guides/_category_.json
  site/docs/guides/lora-adapters.mdx
  site/docs/guides/model-preparation/_category_.json
  site/docs/guides/model-preparation/_use_cases_note.mdx
  site/docs/guides/model-preparation/convert-to-openvino.mdx
  site/docs/guides/model-preparation/download-openvino-models.mdx
  site/docs/how-to-guides/_category_.json
  site/docs/how-to-guides/build-chat-agent.md
  site/docs/how-to-guides/hugging-face-to-openvino.md
  site/docs/how-to-guides/image-generation.md
  site/docs/how-to-guides/llm.md
  site/docs/how-to-guides/lora-adapters.md
  site/docs/how-to-guides/model-download-hugging-face.md
  site/docs/how-to-guides/model-scope-to-openvino.md
  site/docs/how-to-guides/speech-to-text.md
  site/docs/how-to-guides/vlm.md
  site/docs/use-cases/1-LLM-pipeline/_sections/_convert_model.mdx
  site/docs/use-cases/1-LLM-pipeline/_sections/_run_model/index.mdx
  site/docs/use-cases/1-LLM-pipeline/_sections/_usage_options/_lora_adapters.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_image2image_cpp.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_image2image_python.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_inpainting_cpp.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_inpainting_python.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_text2image_cpp.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/_text2image_python.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_run_model/index.mdx
  site/docs/use-cases/2-Image-Generation/_sections/_usage_options/index.mdx
  site/docs/use-cases/2-Image-Generation/index.mdx
  site/docs/use-cases/_category_.json
  site/src/components/OptimumCLI/index.tsx
  site/src/components/image-generation.tsx
  site/src/components/image-processing.tsx
  site/src/components/speech-to-text.tsx
  site/src/components/text-generation.tsx
Labels: no-match-files

#1897 Add perf metrics for CB VLM
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/visual_language/continuous_batching_adapter.hpp
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: enhancement, feature, category: visual language, category: continuous batching, category: Python API, category: GenAI C++ API, no-match-files

#1940 Enhance the flexibility of the c streamer
  samples/c/text_generation/chat_sample_c.c
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/src/llm_pipeline.cpp
Labels: category: samples, no-match-files

#1941 Enhance the flexibility of the c streamer
  samples/c/text_generation/chat_sample_c.c
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/src/llm_pipeline.cpp
Labels: category: samples, no-match-files

#1942 add Gemma3 LLM to supported models
  site/docs/supported-models/_components/llm-models-table/models.ts
Labels: no-match-files

#1933 Added GPTQ/AWQ support with HF Transformers
  tools/who_what_benchmark/requirements.txt
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/utils.py
Labels: category: WWB

#1851 Add --static_reshape option to llm_bench, to force static reshape + compilation at pipeline creation
  .github/workflows/genai-tools.yml
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench, category: GHA

#1944 Revert perf regression changes
  src/cpp/src/tokenizer.cpp
Labels: category: GHA, category: tokenizers, category: samples, no-match-files

#1949 Revert perf regression changes
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1930 Add running greedy_causal_lm for JS to the sample tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/js/text_generation/greedy_causal_lm.js
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_greedy_causal_lm.py
Labels: category: GHA, category: samples, no-match-files

#1907 [Docs] Add VLM use case
  site/docs/guides/chat-scenario.mdx
  site/docs/guides/model-preparation/convert-to-openvino.mdx
  site/docs/guides/model-preparation/download-openvino-models.mdx
  site/docs/guides/streaming.mdx
  site/docs/use-cases/1-LLM-pipeline/_sections/_usage_options/_generation_parameters.mdx
  site/docs/use-cases/1-LLM-pipeline/_sections/_usage_options/index.mdx
  site/docs/use-cases/1-LLM-pipeline/index.mdx
  site/docs/use-cases/2-Image-Generation/index.mdx
  site/docs/use-cases/3-Processing-speech-whisper.md
  site/docs/use-cases/4-Processing-images-using-VLMs.md
  site/docs/use-cases/_shared/_basic_generation_configuration.mdx
  site/docs/use-cases/_shared/_chat_scenario.mdx
  site/docs/use-cases/_shared/_convert_model.mdx
  site/docs/use-cases/_shared/_streaming.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_image2image_cpp.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_image2image_python.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_inpainting_cpp.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_inpainting_python.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_text2image_cpp.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/_text2image_python.mdx
  site/docs/use-cases/image-generation/_sections/_run_model/index.mdx
  site/docs/use-cases/image-generation/_sections/_usage_options/index.mdx
  site/docs/use-cases/image-generation/index.mdx
  site/docs/use-cases/image-processing/_sections/_run_model/_code_example_cpp.mdx
  site/docs/use-cases/image-processing/_sections/_run_model/_code_example_python.mdx
  site/docs/use-cases/image-processing/_sections/_run_model/index.mdx
  site/docs/use-cases/image-processing/_sections/_usage_options/index.mdx
  site/docs/use-cases/image-processing/index.mdx
  site/docs/use-cases/speech-processing.md
  site/docs/use-cases/text-generation/_sections/_run_model/_code_example_cpp.mdx
  site/docs/use-cases/text-generation/_sections/_run_model/_code_example_python.mdx
  site/docs/use-cases/text-generation/_sections/_run_model/index.mdx
  site/docs/use-cases/text-generation/_sections/_usage_options/_generation_parameters.mdx
  site/docs/use-cases/text-generation/_sections/_usage_options/_lora_adapters.mdx
  site/docs/use-cases/text-generation/_sections/_usage_options/_speculative_decoding.mdx
  site/docs/use-cases/text-generation/_sections/_usage_options/index.mdx
  site/docs/use-cases/text-generation/index.mdx
  site/src/components/image-generation.tsx
  site/src/components/image-processing.tsx
  site/src/components/speech-to-text.tsx
  site/src/components/text-generation.tsx
Labels: no-match-files

#1945 Added possibility to generate base text on GPU for text evaluation.
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
Labels: category: WWB

#1948 VLM: change infer to start_async/wait
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language

#1953 [WWB]: Addressed issues with validation on Windows
  tools/who_what_benchmark/requirements.txt
Labels: category: WWB

#1955 Added possibility to generate base text on GPU for text evaluation
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
Labels: category: WWB

#1956 [GHA] Remove bandit pipeline
  .github/workflows/bandit.yml
Labels: category: GHA

#1952 Disable MSVC debug assertions, addressing false positives in iterator checking
  src/cpp/src/sequence_group.cpp
Labels: category: continuous batching

#1954 [GHA] Replaced genai-tools pipeline
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_tools_llm_benchmark.py
Labels: category: GHA, no-match-files

#1963 configurable delay
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/memory_profile.py
Labels: category: llm_bench

#1961 Reset pipeline cache usage statistics on each generate call
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
Labels: category: continuous batching, category: GenAI C++ API

#1976 Updated logic whether PA backend is explicitly required
  src/cpp/src/llm_pipeline.cpp
Labels: category: LLM

#1977 [GHA] [MAC] Use latest_available_commit OV artifacts
  .github/workflows/mac.yml
Labels: category: GHA

#1986 [GHA] Set HF_TOKEN
  .github/workflows/linux.yml
  .github/workflows/mac.yml
Labels: category: GHA

#1962 [GHA] Setup ov_cache
  .github/workflows/cleanup_caches.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA
