Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-08, with the labels that each got.

#2505 [CI][GHA]Fix RAG sample pytest import error
  tests/python_tests/samples/test_rag_sample.py
Labels: no-match-files

#2330 [GPU][QWen2-VL][QWen2.5-VL] improve SDPA performance with cu_seqlens and cu_window_seqlens
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  src/cpp/src/visual_language/vl_sdpa_transformations.cpp
  src/cpp/src/visual_language/vl_sdpa_transformations.hpp
Labels: category: visual language

#2528 Add stderr check for retry_request
  tests/python_tests/utils/network.py
Labels: no-match-files

#2530 Creating image generation pipeline type from another type fix
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: category: image generation

#2465 update xgrammar and openvino_tokenizers
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/cpp/CMakeLists.txt
  src/cpp/src/sampling/structured_output/xgrammar_backend.cpp
  src/cpp/src/sampling/structured_output/xgrammar_backend.hpp
Labels: category: sampling, category: GHA, category: cmake / build, category: structured output generation

#2547 Add long prompts to wwb for LLMPipeline
  tools/who_what_benchmark/setup.py
  tools/who_what_benchmark/whowhatbench/prompts/text_long_prompts.yaml
  tools/who_what_benchmark/whowhatbench/prompts/text_prompts.yaml
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2545 [OV JS] Implement PerfMetrics for the LLMPipeline
  samples/js/text_generation/beam_search_causal_lm.js
  samples/js/text_generation/greedy_causal_lm.js
  src/bindings_utils.hpp
  src/js/CMakeLists.txt
  src/js/include/addon.hpp
  src/js/include/helper.hpp
  src/js/include/perf_metrics.hpp
  src/js/lib/index.ts
  src/js/lib/pipelines/llmPipeline.ts
  src/js/lib/utils.ts
  src/js/src/addon.cpp
  src/js/src/helper.cpp
  src/js/src/llm_pipeline/llm_pipeline_wrapper.cpp
  src/js/src/perf_metrics.cpp
  src/js/tests/module.test.js
  src/python/CMakeLists.txt
  src/python/py_image_generation_pipelines.cpp
  src/python/py_perf_metrics.cpp
  src/python/py_utils.hpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
Labels: category: image generation, category: visual language, category: whisper, category: cmake / build, category: Python API, category: LLM samples, no-match-files, category: JS API

#2585 Log only if there is error
  .github/actions/install_wheel/dist/index.js
  .github/actions/install_wheel/src/install_packages.js
Labels: category: GHA

#2439 Enable minja as chat template engine
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/llm/pipeline_static.cpp
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/data/tokenizer_configs.py
  tests/python_tests/test_gguf_reader.py
  tests/python_tests/test_tokenizer.py
  third-party-programs.txt
Labels: Code Freeze, category: LLM, category: cmake / build, category: tokenizers, category: Python API, category: CPP API, no-match-files, category: GGUF

#2595 [NPUW] Disable chunking on NPU for VLM pipeline
  src/cpp/src/visual_language/pipeline.cpp
Labels: Code Freeze, category: visual language

#2340 Enable gemma3-4b-it in VLM Pipeline
  samples/cpp/visual_language_chat/benchmark_vlm.cpp
  site/docs/supported-models/_components/vlm-models-table/models.ts
  site/docs/use-cases/image-processing/_sections/_usage_options/index.mdx
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/continuous_batching/model_runner.hpp
  src/cpp/src/continuous_batching/pipeline_base.cpp
  src/cpp/src/continuous_batching/pipeline_base.hpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/continuous_batching/pipeline_impl.hpp
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/gemma3/classes.cpp
  src/cpp/src/visual_language/gemma3/classes.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: Code Freeze, category: visual language, category: continuous batching, category: LLM, category: speculative decoding, category: tokenizers, category: Python API, category: CPP API, no-match-files, category: prompt lookup, category: GH Pages Docs, category: GGUF, category: VLM samples

#2596 [JS] Upgrade the js package versions to the upcoming releases
  samples/js/package-lock.json
  samples/js/package.json
  src/js/BUILD.md
  src/js/README.md
  src/js/package-lock.json
  src/js/package.json
Labels: Code Freeze, no-match-files, category: JS API

#2597 Add jinja2 in requirements for chat-template
  tools/llm_bench/requirements.txt
  tools/who_what_benchmark/requirements.txt
Labels: category: llm_bench, category: WWB

#2561 [CMAKE] Added an option to disable tests, samples and tools build
  CMakeLists.txt
  cmake/features.cmake
  pyproject.toml
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#2598 Bump safetensors from 0.5.3 to 0.6.2 in /samples
  samples/export-requirements.txt
Labels: category: samples dependencies

#2599 Bump pybind11-stubgen from 2.5.4 to 2.5.5
  pyproject.toml
  requirements-build.txt
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
Labels: category: cmake / build, category: Python API

#2591 Fix SnapKV scoring
  src/cpp/include/openvino/genai/cache_eviction.hpp
  src/cpp/src/continuous_batching/cache_eviction.cpp
  src/cpp/src/continuous_batching/cache_eviction.hpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/continuous_batching/scheduler.hpp
  tests/cpp/cache_eviction.cpp
Labels: category: continuous batching, category: CPP API

#2416 Fix get_max_new_tokens()
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/generation_config.cpp
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_sampling.py
  tests/python_tests/utils/hugging_face.py
Labels: category: continuous batching, category: sampling, category: GGUF

#2603 [wwb] Add tests for mac/win to ci
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB, category: GHA

#2621 Test logging
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_generation_config.cpp
  tests/python_tests/samples/test_encrypted_model_vlm.py
  tests/python_tests/samples/test_prompt_lookup_decoding_lm.py
  tests/python_tests/samples/test_speculative_decoding_lm.py
  tests/python_tests/samples/test_utils.py
Labels: category: sampling, category: speculative decoding, category: GHA, category: Python API, category: LLM samples, no-match-files, category: GGUF

#2649 [CMAKE] Fix samples installation
  CMakeLists.txt
  samples/CMakeLists.txt
Labels: category: cmake / build

#2650 [CMAKE][MERGE] Fix samples installation
  CMakeLists.txt
  samples/CMakeLists.txt
Labels: category: cmake / build

#2631 [JS] Add prettier and align eslint
  .github/workflows/windows.yml
  src/js/.prettierrc
  src/js/BUILD.md
  src/js/README.md
  src/js/eslint.config.cjs
  src/js/eslint.config.ts
  src/js/lib/addon.ts
  src/js/lib/index.ts
  src/js/lib/pipelines/llmPipeline.ts
  src/js/lib/pipelines/textEmbeddingPipeline.ts
  src/js/lib/utils.ts
  src/js/package-lock.json
  src/js/package.json
  src/js/scripts/download-runtime.cjs
  src/js/tests/bindings.test.js
  src/js/tests/models.js
  src/js/tests/module.test.js
  src/js/tests/setup.js
  src/js/tests/textEmbeddingsPipeline.test.js
  src/js/tests/tokenizer.test.js
  src/js/tests/utils.js
  src/js/tsconfig.json
Labels: category: GHA, category: JS API

#2449 Implement text embedding pipeline shape fix
  src/cpp/include/openvino/genai/rag/text_embedding_pipeline.hpp
  src/cpp/src/json_utils.hpp
  src/cpp/src/rag/text_embedding_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_rag.cpp
  tests/python_tests/test_rag.py
  tests/python_tests/utils/hugging_face.py
Labels: category: Python API, category: CPP API, no-match-files, category: GGUF, category: RAG

#2668 downgrade xgrammar version in master
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#2648 Extend chat template test models
  tests/python_tests/data/tokenizer_configs.py
  tests/python_tests/test_tokenizer.py
Labels: category: tokenizers, category: GGUF

#2657 [NPU]Enable chunk prefill for VLM.
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

#2537 [JS] Add build NodeJS bindings into Manylinux 2_28
  .github/workflows/manylinux_2_28.yml
Labels: category: GHA

#2671 WWB empty_adapters mode
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB
