Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-04, with the labels that each got.

#1995 [GHA] Changed cleanup runner
  .github/workflows/cleanup_caches.yml
Labels: category: GHA

#1975 Added mutex to methods which use blocks map.
  src/cpp/src/block_manager.hpp
Labels: category: continuous batching

#1960 Add documentation and sample on KV cache eviction
  samples/python/text_generation/limit_checker.py
  site/docs/concepts/optimization-techniques/kvcache-eviction-algorithm.md
  site/static/img/kv-cache-areas-diagram.svg
Labels: category: samples, category: GH Pages Docs

#1915 StaticLLMPipeline: Simplify compile_model call logic
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: LLM, no-match-files

#1994 Fix reshape in heterogeneous SD samples
  samples/cpp/image_generation/heterogeneous_stable_diffusion.cpp
  samples/python/image_generation/heterogeneous_stable_diffusion.py
Labels: bug, category: text to image, category: samples

#2001 Fix for long prompt NPU issue
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, no-match-files

#2004 Revert "VLM: change infer to start_async/wait "
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language

#2006 Set xfail to failing tests.
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_benchmark_genai.py
  tests/python_tests/samples/test_chat_sample.py
  tests/python_tests/samples/test_continuous_batching_tools.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_multinomial_causal_lm.py
Labels: no-match-files

#1979 [GHA] Use cpack bindings in the samples tests
  .github/workflows/mac.yml
Labels: category: GHA

#2012 [Docs]: add Phi3.5MoE to supported models
  site/docs/supported-models/_components/llm-models-table/models.ts
Labels: category: GH Pages Docs

#2013 add TensorArt SD3.5 models to supported list
  site/docs/supported-models/_components/image-generation-models-table/models.ts
Labels: category: GH Pages Docs

#1997 Move MiniCPM resampler to vision encoder
  src/cpp/include/openvino/genai/common_types.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
Labels: category: visual language, category: LLM, category: GenAI C++ API

#2008 [GHA] Fix ccache on Win/Mac
  .github/dependabot.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2010 VLM concurrency fix
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language, category: continuous batching, category: LLM

#2007 samples/python/text_generation/lora.py -> samples/python/text_generation/lora_greedy_causal_lm.py
  samples/python/text_generation/lora_greedy_causal_lm.py
  tests/python_tests/samples/test_lora.py
Labels: category: samples, no-match-files

#1918 Whisper timestamp fix
  src/cpp/src/whisper/timestamps.cpp
  src/cpp/src/whisper/timestamps.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper_pipeline_static.cpp
Labels: bug, category: whisper

#1970 Unskip Qwen2-VL-2B-Instruct sample test
  .github/workflows/windows.yml
  tests/python_tests/samples/test_visual_language_chat.py
  tests/python_tests/utils/network.py
Labels: category: GHA, no-match-files

#2000 [GHA] Use developer openvino packages
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  pyproject.toml
  tests/cpp/CMakeLists.txt
Labels: category: GHA, category: cmake / build

#1974 Added NNCF to export-requirements.txt
  samples/export-requirements.txt
  tests/python_tests/samples/conftest.py
Labels: category: samples, no-match-files

#2020 Use OV_CACHE for python tests
  tests/python_tests/conftest.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_whisper_pipeline.py
  tests/python_tests/utils/constants.py
  tests/python_tests/utils/hugging_face.py
  tests/python_tests/utils/ov_genai_pipelines.py
Labels: category: continuous batching, category: LLM, category: whisper, category: sampling, no-match-files

#2033 [JS] Prepare to publish openvino-genai-node@2025.1.0-preview to npm
  samples/js/text_generation/package-lock.json
  samples/js/text_generation/package.json
  src/js/.npmignore
  src/js/README.md
  src/js/package-lock.json
  src/js/package.json
Labels: category: samples, no-match-files

#1916 Add python bindings to VLMPipeline for encrypted models
  samples/cpp/visual_language_chat/CMakeLists.txt
  samples/cpp/visual_language_chat/encrypted_model_vlm.cpp
  samples/python/visual_language_chat/encrypted_model_vlm.py
  src/cpp/src/visual_language/pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/samples/test_encrypted_model_vlm.py
Labels: category: visual language, category: cmake / build, category: Python API, category: samples, no-match-files

#2034 CB: auto plugin support
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline.cpp
Labels: category: continuous batching, category: LLM

#1990 Enable cache and add cache encryption to samples
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/encrypted_model_causal_lm.cpp
  samples/python/text_generation/encrypted_model_causal_lm.py
  src/python/py_utils.cpp
  tests/python_tests/samples/test_encrypted_model_causal_lm.py
Labels: category: cmake / build, category: Python API, category: samples, no-match-files

#2022 Fix VLM concurrency
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/visual_language/embedding_model.cpp
  src/cpp/src/visual_language/embedding_model.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language, category: continuous batching, category: LLM

#2009 Move Phi3 vision projection model to vision encoder
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/vision_encoder.hpp
Labels: category: visual language

#2029 [Docs] Enable autogenerated samples docs
  samples/cpp/image_generation/README.md
  samples/python/image_generation/README.md
  site/.gitignore
  site/docs/samples/_category_.json
  site/docs/samples/_components/samples-list/index.tsx
  site/docs/samples/index.mdx
  site/docs/samples/sample.md
  site/docusaurus.config.ts
  site/package.json
  site/src/components/image-generation.tsx
  site/src/components/image-processing.tsx
  site/src/components/speech-recognition.tsx
  site/src/components/text-generation.tsx
  site/src/plugins/genai-samples-docs-plugin.ts
Labels: category: samples, category: GH Pages Docs

#1993 Synchronize entire embeddings calculation phase (#1967)
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language, no-match-files

#2036 Add missing finish reason set when finishing the sequence
  src/cpp/src/sampler.cpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: sampling, category: Python API

#2040 Add README for C Samples
  samples/c/text_generation/README.md
Labels: category: samples

#2042 Use ov_cache for test_vlm_pipeline
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#2041 increase timeouts
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1991 [GHA] Use azure runners for python tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_generation_config.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_whisper_pipeline.py
Labels: category: continuous batching, category: LLM, category: whisper, category: GHA, category: tokenizers, no-match-files

#2046 [WWB]: move diffusers imports closer to usage
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/utils.py
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
Labels: category: WWB

#2050 [llm bench] allow loading onnx models using optimum-intel
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#2038 Add cache encryption to vlm sample
  samples/cpp/visual_language_chat/encrypted_model_vlm.cpp
  samples/python/visual_language_chat/encrypted_model_vlm.py
Labels: category: samples

#2053 Remove note about GPU for phi3v
  SUPPORTED_MODELS.md
  site/docs/supported-models/index.mdx
Labels: no-match-files, category: GH Pages Docs

#2064 Update requirement according to memory_monitor needs
  tools/llm_bench/requirements.txt
Labels: category: llm_bench

#2070 Propose chat template fixes
  src/cpp/src/tokenizer.cpp
Labels: category: tokenizers

#1978 Add `tiny-random-internvl2` to python tests
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#2054 Don't download on import
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#2066 Revert "Set xfail to failing tests. (#2006)"
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_benchmark_genai.py
  tests/python_tests/samples/test_chat_sample.py
  tests/python_tests/samples/test_continuous_batching_tools.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_multinomial_causal_lm.py
Labels: no-match-files

#2044 Fix perf metrics update in prompt lookup decoding pipeline
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/utils/ov_genai_pipelines.py
Labels: category: continuous batching, no-match-files, category: prompt lookup

#2078 GHA: pin OpenVINO
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2060 Disable contituous batching if cannot get context
  src/cpp/src/cache_manager.hpp
Labels: category: continuous batching

#2076 add internvl3 to supported VLM
  site/docs/supported-models/_components/vlm-models-table/models.ts
Labels: category: GH Pages Docs

#2059 Add get_vocab Method to Tokenizer
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/conftest.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/utils/tokenizers.py
Labels: category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#2079 GHA: pin OpenVINO
  .github/workflows/mac.yml
Labels: category: GHA

#1996 Raise exception if input prompt exceeds its configured max size on NPU
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_stateful.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: NPU, no-match-files

#2037 Optimize get_inputs_embeds() for Qwen2VL.
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/internvl_chat/classes.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava/classes.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language, no-match-files

#2088 Revert "GHA: pin OpenVINO"
  .github/workflows/mac.yml
Labels: category: GHA

#2087 Revert "GHA: pin OpenVINO"
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2084 Bump diffusers and relax test_image_model_genai
  tests/python_tests/requirements.txt
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, no-match-files

#2089 add sentencepiece to requirements.txt
  tools/who_what_benchmark/requirements.txt
Labels: category: WWB

#2086 Revert "Add get_vocab Method to Tokenizer (#2059)"
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/conftest.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/utils/tokenizers.py
Labels: category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#2083 Revert optimum-intel freeze
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: GHA, category: samples, no-match-files

#2071 [C] Add ov::Property as arguments to the ov_genai_llm_pipeline_create function
  samples/c/text_generation/benchmark_genai_c.c
  samples/c/text_generation/chat_sample_c.c
  samples/c/text_generation/greedy_causal_lm_c.c
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/src/llm_pipeline.cpp
  src/c/src/types_c.h
Labels: category: samples, no-match-files

#2093 Use reordered images grid in `create_position_ids` method for Qwen2VL
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: bug, category: visual language

#2100 Disable /sdl for gguf-tools
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#2073 Fix VLM CB metrics.
  src/cpp/src/icontinuous_batching.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, no-match-files

#2105 Fixed whisper tests
  tests/python_tests/test_whisper_pipeline.py
Labels: category: whisper

#2098 fix llm_bench and wwb parameters for new transformers
  tools/llm_bench/llm_bench_utils/hook_greedy_search.py
  tools/llm_bench/llm_bench_utils/hook_sample_v51.py
  tools/llm_bench/task/speech_to_text_generation.py
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/utils.py
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
Labels: category: llm_bench, category: WWB

#2106 [llm bench] Avoid crash of memory monitor when framework/pipeline change by exception
  tools/llm_bench/llm_bench_utils/memory_monitor.py
Labels: category: llm_bench

#2095 GGUF support Qwen2.5 with type of Q4_K Q6_K
  src/cpp/src/gguf_utils/building_blocks.cpp
  src/cpp/src/gguf_utils/building_blocks.hpp
  src/cpp/src/gguf_utils/gguf.cpp
  src/cpp/src/gguf_utils/gguf.hpp
  src/cpp/src/gguf_utils/gguf_modeling.cpp
  src/cpp/src/gguf_utils/gguf_modeling.hpp
  src/cpp/src/gguf_utils/gguf_quants.cpp
Labels: no-match-files

#2108 fix whisper optimum run via llm_bench
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/speech_to_text_generation.py
Labels: category: llm_bench

#2110 GGUF WA for GPU
  src/cpp/src/gguf_utils/building_blocks.cpp
  src/cpp/src/gguf_utils/building_blocks.hpp
  src/cpp/src/gguf_utils/gguf_modeling.cpp
Labels: no-match-files

#2091 llava: add universal tag
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: Python API, category: GenAI C++ API

#2104 promp look up : store encoder stats
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
Labels: bug, category: prompt lookup

#1980 support 4bit cache copy
  src/cpp/src/cache_manager.hpp
Labels: category: continuous batching

#2111 Fix of filling of pixel_values tensor in llava_image_embed_make_with_bytes_slice()
  src/cpp/src/visual_language/minicpm/classes.cpp
Labels: bug, category: visual language

#2112 Update type hints in genai: dict
  samples/python/text_generation/limit_checker.py
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_whisper_pipeline.py
  tools/cacheviz/cacheviz.py
  tools/llm_bench/llm_bench_utils/ov_model_classes.py
Labels: category: llm_bench, category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: tokenizers, category: Python API, category: samples, no-match-files

#2065 Print speculative decoding perf metrics in Debug mode
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/docs/DEBUG_LOG.md
Labels: category: speculative decoding, no-match-files, category: prompt lookup

#2116 Fix license filter
  .github/dependency_review.yml
Labels: category: GHA

#2115 Increase max_retries
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#2117 [VLM] Clear inputs embedder cache when chat is finished.
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language, no-match-files

#2114 InternVL2, LLaVA-NeXT: add universal tag
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/internvl_chat/classes.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava/classes.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: Python API, category: GenAI C++ API

#2101 docs: fix path to kv-cache-areas-diagram.svg
  site/docs/concepts/optimization-techniques/kvcache-eviction-algorithm.md
  site/docusaurus.config.ts
Labels: category: GH Pages Docs

#2121 Update llm_bench requirements.txt to contain sentencepiece
  tools/llm_bench/requirements.txt
Labels: category: llm_bench

#2107 Bring Back get_vocab
  pyproject.toml
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_vlm_pipeline.py
  tests/python_tests/utils/tokenizers.py
Labels: category: visual language, category: cmake / build, category: tokenizers, category: Python API, category: GenAI C++ API, no-match-files

#2120 GGUF support load split files for Qwen2.5
  src/cpp/src/gguf_utils/gguf.cpp
  src/cpp/src/gguf_utils/gguf_modeling.cpp
  src/cpp/src/gguf_utils/gguf_quants.cpp
Labels: no-match-files, category: GGUF

#2028 samples: Adds optional device selection to some samples
  samples/cpp/text_generation/chat_sample.cpp
  samples/cpp/visual_language_chat/visual_language_chat.cpp
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/python/text_generation/chat_sample.py
  samples/python/visual_language_chat/visual_language_chat.py
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
Labels: category: samples

#2123 [GHA] Fixed dependabot trigger for github actions
  .github/dependabot.yml
  .github/dependency_review.yml
  .github/workflows/sdl.yml
Labels: category: GHA

#1852 Add remove adapters for LLMpipeline
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_lora_adapter.cpp
Labels: category: LLM, category: speculative decoding, category: LoRA, category: Python API, category: GenAI C++ API, no-match-files, category: prompt lookup

#2124 Coverity: exclude C++ and Python Tokenizers
  .github/workflows/coverity.yml
Labels: category: GHA

#2128 [llm bench]: fix hook for beam search for optimum
  tests/python_tests/samples/test_tools_llm_benchmark.py
  tools/llm_bench/llm_bench_utils/hook_beam_search.py
Labels: category: llm_bench, no-match-files

#2134 Update type hints in genai
  samples/python/text_generation/limit_checker.py
  samples/python/text_generation/multinomial_causal_lm.py
  samples/python/visual_language_chat/encrypted_model_vlm.py
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_perf_metrics.cpp
  src/python/py_vlm_pipeline.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/data/test_dataset.py
  tests/python_tests/test_generation_config.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_whisper_pipeline.py
  tests/python_tests/utils/comparation.py
  tests/python_tests/utils/hugging_face.py
  tests/python_tests/utils/ov_genai_pipelines.py
  tests/python_tests/utils/tokenizers.py
  tools/cacheviz/cacheviz.py
  tools/llm_bench/llm_bench_utils/hook_beam_search.py
  tools/llm_bench/llm_bench_utils/hook_greedy_search.py
  tools/llm_bench/llm_bench_utils/hook_sample.py
  tools/llm_bench/llm_bench_utils/hook_sample_v43.py
  tools/llm_bench/llm_bench_utils/hook_sample_v45.py
  tools/llm_bench/llm_bench_utils/hook_sample_v51.py
  tools/llm_bench/llm_bench_utils/memory_monitor.py
  tools/llm_bench/llm_bench_utils/ov_model_classes.py
  tools/who_what_benchmark/whowhatbench/utils.py
Labels: category: llm_bench, category: WWB, category: text to image, category: visual language, category: continuous batching, category: LLM, category: whisper, category: sampling, category: Python API, category: samples, no-match-files

#2127 Copy tags to docs
  site/docs/guides/chat-scenario.mdx
  site/docs/use-cases/_shared/_chat_scenario.mdx
  site/docs/use-cases/image-processing/_sections/_usage_options/index.mdx
Labels: category: GH Pages Docs

#2138 Removed KVCacheConfig from internal API
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/paged_attention_transformations.cpp
  src/cpp/src/paged_attention_transformations.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils.hpp
  tests/cpp/cache_manager.cpp
  tests/cpp/scheduler.cpp
Labels: category: continuous batching, category: speculative decoding, no-match-files

#1809 Alias CLIPTextModelWithProjection as CLIPTextModel
  src/cpp/include/openvino/genai/image_generation/clip_text_model_with_projection.hpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_models.cpp
Labels: category: text to image, category: Python API, category: GenAI C++ API

#2139 [GGUF] Optimize Load GGUF with Threading
  src/cpp/src/gguf_utils/gguf_quants.cpp
Labels: no-match-files

#2144 Continuous batching minor improvements
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/paged_attention_transformations.cpp
  tests/cpp/block_hash_store.cpp
Labels: category: continuous batching, category: GenAI C++ API
