Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-06, with the labels that each got.

#2304 Revert switch to CB changes.
  src/cpp/src/continuous_batching/pipeline_base.cpp
  src/cpp/src/continuous_batching/pipeline_base.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/internvl_chat/classes.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava/classes.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/phi4mm/classes.cpp
  src/cpp/src/visual_language/phi4mm/classes.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language, category: continuous batching

#1943 [GHA] Save artifacts to cloud share
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2289 [GHA][[COVERITY] added manual trigger
  .github/workflows/coverity.yml
Labels: category: GHA

#2328 [Test] Skip gguf test on MacOS due to sporadic failure
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM

#2273 [GGUF] support Qwen3 architecture
  src/cpp/src/gguf_utils/building_blocks.cpp
  src/cpp/src/gguf_utils/gguf.cpp
  src/cpp/src/gguf_utils/gguf_modeling.cpp
  src/cpp/src/gguf_utils/gguf_tokenizer.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM, category: GGUF

#2327 [llm_bench] Increase max_num_batched_tokens to the largest positive integer
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#2325 Fix system_message forwarding
  src/cpp/src/continuous_batching/pipeline.cpp
  src/cpp/src/llm/pipeline_continuous_batching_adapter.hpp
  tests/python_tests/test_llm_pipeline.py
Labels: category: continuous batching, category: LLM

#2336 [llm bench] Avoid using not supported by beam_search parameters for beam_search case
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#2329 [Test][GGUF] Add DeepSeek-R1-Distill-Qwen GGUF in CI
  tests/python_tests/data/models.py
Labels: no-match-files

#2341 [llm_bench] Remove default scheduler config
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#2352 [WWB] Add try-except block for processor loading
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2353 [WWB] Bring back eager attention implementation by default
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

#2351 [WWB] Fix loading the tokenizer for VLMs
  tools/who_what_benchmark/whowhatbench/text2image_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2362 Remove misspelled CMAKE_CURRENT_SOUCE_DIR
  .github/workflows/windows.yml
  samples/cpp/visual_language_chat/CMakeLists.txt
Labels: category: GHA, category: cmake / build, category: VLM samples

#2227 CB: Hetero pipeline parallel support
  src/cpp/src/continuous_batching/cache_manager.hpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
Labels: category: continuous batching

#2369 [Port] Fix paths with unicode for tokenizers (#2337)
  src/cpp/src/tokenizer/tokenizer.cpp
  src/cpp/src/tokenizer/tokenizers_path.cpp
  src/cpp/src/tokenizer/tokenizers_path.hpp
Labels: category: tokenizers, port to 2025.2

#2156 Merge stderr from failed samples
  tests/python_tests/samples/test_utils.py
Labels: no-match-files

#2360 Align PromptLookupDecoding with greedy when dynamic_split_fuse works
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/sampling/sampler.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  tests/python_tests/test_continuous_batching.py
Labels: category: continuous batching, category: sampling, category: speculative decoding, category: prompt lookup

#2383 Update genai version
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: LLM samples, category: Whisper samples, category: Image generation samples, category: VLM samples

#2295 Structured Output generation with `XGrammar`
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  cmake/features.cmake
  samples/deployment-requirements.txt
  samples/python/text_generation/README.md
  samples/python/text_generation/structured_output_generation.py
  samples/requirements.txt
  src/README.md
  src/cpp/CMakeLists.txt
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/sampling/logit_processor.hpp
  src/cpp/src/sampling/logit_transformers.hpp
  src/cpp/src/sampling/sampler.cpp
  src/cpp/src/sampling/sampler.hpp
  src/cpp/src/sampling/structured_output/structured_output_controller.cpp
  src/cpp/src/sampling/structured_output/structured_output_controller.hpp
  src/cpp/src/sampling/structured_output/xgrammar_backend.cpp
  src/cpp/src/sampling/structured_output/xgrammar_backend.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/docs/BUILD.md
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_generation_config.cpp
  src/python/py_tokenizer.cpp
  tests/cpp/logit_filtering.cpp
  tests/python_tests/samples/test_structured_output_sample.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_structured_output.py
Labels: enhancement, feature, category: LLM, category: sampling, category: GHA, category: cmake / build, category: tokenizers, category: Python API, category: LLM samples, category: CPP API, no-match-files, category: Whisper samples, category: Image generation samples, category: VLM samples

#2389 Disable XGrammar on Android
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#2349 [wwb] Take prompts from different categories for def dataset for VLM
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
Labels: category: WWB
