Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-09, with the labels that each got.

#2678 Updating KVCrush hyperparameters
  site/docs/concepts/optimization-techniques/kvcache-eviction-algorithm.md
  tests/python_tests/test_kv_cache_eviction.py
Labels: category: continuous batching, category: GH Pages Docs, category: GGUF

#2690 [Docs] Convert whisper as stateless in the quantization example
  README.md
Labels: no-match-files

#2684 print genai version
  samples/python/text_generation/benchmark_genai.py
  samples/python/visual_language_chat/benchmark_vlm.py
  tools/llm_bench/benchmark.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: LLM samples, category: VLM samples

#2695 [speculative decoding] Move from ManualTimer to pure metrics
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
Labels: category: speculative decoding

#2692 [CI] [GHA] Use custom `actions/download-artifact` action with the fixed retries logic
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
Labels: category: GHA, github_actions

#2694 Enable VLM generation on NPU without image input
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: GGUF

#2715 [CI] Fix NodeJS tests for manylinux
  .github/workflows/manylinux_2_28.yml
Labels: category: GHA

#2717 Fixed clearing of kv-cache for GPU
  src/cpp/src/continuous_batching/cache_manager.hpp
Labels: category: continuous batching

#2464 Test LLM samples with GGUF models
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/c/text_generation/README.md
  samples/cpp/text_generation/README.md
  samples/js/text_generation/README.md
  samples/python/text_generation/README.md
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_prompt_lookup_decoding_lm.py
  tests/python_tests/samples/test_speculative_decoding_lm.py
Labels: category: GHA, category: LLM samples, category: GGUF

#2741 [llm bench] Add mem info on initial/compilation phase to json/csv
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/memory_monitor.py
  tools/llm_bench/llm_bench_utils/output_csv.py
  tools/llm_bench/llm_bench_utils/output_json.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
Labels: category: llm_bench

#2743 Increase timeouts
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2763 [llm_bench] Fix OpenVINO config not being passed for speech-to-text and Whisper models
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#2726 OPT & Clean code of openvino_vision_embeddings_merger_model inputs processing
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
Labels: category: visual language

#2760 Update transformers to 4.53.3
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
Labels: category: GGUF, category: samples dependencies, category: tests dependencies

#2728 [llm_bench] Add reranking pipeline
  tests/python_tests/samples/test_tools_llm_benchmark.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/hook_common.py
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
  tools/llm_bench/prompts/texts_for_rerank.jsonl
  tools/llm_bench/requirements.txt
  tools/llm_bench/task/pipeline_utils.py
  tools/llm_bench/task/text_reranker.py
Labels: category: llm_bench, category: GGUF

#2424 torchcodec for linux to use the latest datasets
  tests/python_tests/requirements.txt
  tools/who_what_benchmark/requirements.txt
Labels: category: WWB, category: GGUF, category: tests dependencies

#2733 [VLM] Add nanoLLaVA
  site/docs/supported-models/_components/vlm-models-table/models.ts
  site/docs/use-cases/image-processing/_sections/_usage_options/index.mdx
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/clip.cpp
  src/cpp/src/visual_language/clip.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/nanollava/classes.cpp
  src/cpp/src/visual_language/nanollava/classes.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: Python API, category: CPP API, category: GH Pages Docs, category: GGUF

#2750 Remove unused get_model_kv_cache_precision()
  src/cpp/src/continuous_batching/pipeline_impl.cpp
Labels: category: continuous batching

#2776 hook supports transformers 4.55.0
  tools/llm_bench/llm_bench_utils/hook_beam_search.py
  tools/llm_bench/llm_bench_utils/hook_greedy_search.py
  tools/llm_bench/llm_bench_utils/llm_hook_beam_search/hook_beam_search_v55.py
  tools/llm_bench/llm_bench_utils/llm_hook_sample/hook_sample_v55.py
Labels: category: llm_bench
