Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-10, with the labels that each got.

#2768 Remove hardcoded fields and pass special variables to `apply_chat_template()`
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/json_utils.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/cpp/src/tokenizer/tokenizer_impl.cpp
  src/cpp/src/tokenizer/tokenizer_impl.hpp
  src/js/lib/pipelines/llmPipeline.ts
  src/js/src/helper.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  src/python/py_utils.cpp
  src/python/py_utils.hpp
  tests/python_tests/test_tokenizer.py
Labels: category: tokenizers, category: Python API, category: CPP API, no-match-files, category: GGUF, category: JS API

#2533 [CI] [GHA] Migrate `mac` workflow to mac-14 arm64
  .github/workflows/mac.yml
  samples/export-requirements.txt
  src/js/tests/module.test.js
  tests/python_tests/requirements.txt
  tests/python_tests/samples/test_beam_search_causal_lm.py
  tests/python_tests/samples/test_benchmark_genai.py
  tests/python_tests/samples/test_chat_sample.py
  tests/python_tests/samples/test_greedy_causal_lm.py
  tests/python_tests/samples/test_prompt_lookup_decoding_lm.py
  tests/python_tests/samples/test_react_sample.py
  tests/python_tests/samples/test_speculative_decoding_lm.py
  tests/python_tests/samples/test_structured_output_sample.py
  tests/python_tests/test_gguf_reader.py
  tests/python_tests/test_rag.py
  tests/python_tests/test_whisper_pipeline.py
  tools/who_what_benchmark/tests/test_cli_image.py
  tools/who_what_benchmark/tests/test_cli_text.py
  tools/who_what_benchmark/tests/test_cli_vlm.py
Labels: category: WWB, category: whisper, category: GHA, category: LLM samples, category: GGUF, category: JS API, category: RAG, category: Structured Output samples, category: samples dependencies, category: tests dependencies

#2800 [NPUW] Disable chunking and F16IC for gemma3 as they are not supported currently
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language

#2802 Skip qwen3 embeddings test for mac
  tests/python_tests/test_rag.py
Labels: category: GGUF, category: RAG

#2787 [wwb] Add text embeddings pipeline
  tools/who_what_benchmark/tests/test_cli_embeddings.py
  tools/who_what_benchmark/whowhatbench/__init__.py
  tools/who_what_benchmark/whowhatbench/embeddings_evaluator.py
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/whowhat_metrics.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2775 Support One Element Vector in Chat Scenario
  src/cpp/src/llm/pipeline_stateful.cpp
Labels: category: LLM

#2808 [WWB] Fix to support miniCPM-o.
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
Labels: category: WWB

#2799 Introduce JsonContainer for chat history
  src/cpp/include/openvino/genai/json_container.hpp
  src/cpp/src/json_container.cpp
  src/cpp/src/json_utils.hpp
  tests/cpp/test_json_container.cpp
Labels: category: CPP API, no-match-files
