Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-07, with the labels that each got.

#2387 Fix missing use cases for inpainting models and defining use case with relative path
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#2396 temporary skip failing whisper tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  tests/python_tests/test_whisper_pipeline.py
Labels: category: whisper, category: GHA

#2205 Optimize VisionEncoderQwen2VL::encode
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language

#2377 Update calculation of TPOT for cases with non equitable batch size
  src/cpp/src/perf_metrics.cpp
Labels: no-match-files

#2413 Fix debug build for `XGrammar` on Windows
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#2408 Remove nightly test label
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  pyproject.toml
  tests/python_tests/README.md
  tests/python_tests/conftest.py
  tests/python_tests/data/models.py
  tests/python_tests/pytest.ini
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_generation_config.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_structured_output.py
  tests/python_tests/test_tokenizer.py
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: continuous batching, category: LLM, category: sampling, category: GHA, category: cmake / build, category: tokenizers, no-match-files

#2418 Remove NPU from lora
  samples/cpp/image_generation/lora_text2image.cpp
  samples/python/image_generation/lora_text2image.py
Labels: category: Image generation samples

#2398 Add performance metrics for StructuredOutput generation
  .github/workflows/linux.yml
  src/cpp/include/openvino/genai/perf_metrics.hpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/perf_metrics.cpp
  src/cpp/src/sampling/sampler.cpp
  src/cpp/src/sampling/sampler.hpp
  src/cpp/src/sampling/structured_output/structured_output_controller.cpp
  src/cpp/src/sampling/structured_output/structured_output_controller.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_perf_metrics.cpp
  src/python/py_utils.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: feature, category: continuous batching, category: LLM, category: sampling, category: GHA, category: Python API, category: CPP API, no-match-files, category: structured output generation

#2423 Add C++ sample for Structured output generation
  .github/labeler.yml
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/structured_output_generation.cpp
  tests/python_tests/samples/test_structured_output_sample.py
Labels: category: GHA, category: cmake / build, category: LLM samples, category: Structured Output samples

#2443 Increase timeout
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2444 [llm_bench] Fix typos for 1st token info and names of memory monitoring phase
  tools/llm_bench/llm_bench_utils/hook_forward_whisper.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#2445 Cache get_pil_image_by_link()
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language

#2395 LoRA lm_head and embed_tokens constants support
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/lora/adapter.cpp
Labels: category: continuous batching, category: LoRA

#2442 Fixed compitibility OV version
  CMakeLists.txt
Labels: category: cmake / build

#2448 Increase whisper timeout
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2450 Temporarily disable failed ImageGeneration and LoRA tests
  tests/python_tests/samples/test_lora_text2image.py
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: Image generation samples

#2446 benchmark_vlm: Fixed vLLM failure on NPU
  samples/cpp/visual_language_chat/benchmark_vlm.cpp
Labels: category: VLM samples

#2463 [TTS] Correct perf metrics for second or so generation
  src/cpp/src/speech_generation/speecht5_tts_model.cpp
Labels: category: speech generation

#2468 Revert "Optimize VisionEncoderQwen2VL::encode (#2205)"
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
Labels: category: visual language

#2469 [DOCS] Fix README.md for text generation
  samples/cpp/text_generation/README.md
Labels: category: LLM samples

#2476 Update pybind11 to 3.0.0
  src/python/CMakeLists.txt
  src/python/compare_pyi.cmake
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/remove_abi_specific_info.cmake
Labels: category: cmake / build, category: Python API

#2440 LoRA for text2image
  tools/who_what_benchmark/README.md
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2456 Fix pybind warning
  src/python/py_continuous_batching_pipeline.cpp
Labels: category: continuous batching, category: Python API

#2459 add lock mutex to `StructuredOutputController::get_times()`
  src/cpp/src/sampling/structured_output/structured_output_controller.cpp
  src/cpp/src/sampling/structured_output/structured_output_controller.hpp
Labels: category: sampling, category: structured output generation

#2460 [llm_bench] Remove unused processor for genAI vlm pipeline
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#2473 Skip NPU failing tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
Labels: category: LLM, category: GHA

#2475 [llm_bench] Add apply_chat_template for LLM
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#2392 [GGUF] Revert GGUF WA for GPU
  src/cpp/src/gguf_utils/building_blocks.cpp
  src/cpp/src/gguf_utils/building_blocks.hpp
  src/cpp/src/gguf_utils/gguf_modeling.cpp
  tests/python_tests/data/models.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/utils/ov_genai_pipelines.py
Labels: category: LLM, no-match-files, category: GGUF

#2433 [WIN] Set binaries details
  .github/workflows/windows.yml
  CMakeLists.txt
  cmake/templates/vs_version.rc.in
  cmake/vs_version.cmake
  src/c/CMakeLists.txt
  src/cpp/CMakeLists.txt
Labels: category: GHA, category: cmake / build, category: C API

#2470 Run finish_chat() before start_chat() in VLM pipeline.
  src/cpp/src/continuous_batching/pipeline.cpp
  src/cpp/src/continuous_batching/pipeline_base.cpp
  src/cpp/src/visual_language/pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: continuous batching, category: Python API

#2472 Increase VLM timeout
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2492 Test optimized generation longbench trust_remote_code=true
  tests/python_tests/test_kv_cache_eviction.py
Labels: category: continuous batching

#2493 xfail image generation-samples
  tests/python_tests/samples/test_benchmark_image_gen.py
  tests/python_tests/samples/test_heterogeneous_stable_diffusion.py
  tests/python_tests/samples/test_image2image.py
  tests/python_tests/samples/test_inpainting.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
Labels: category: LLM, category: Image generation samples

#2488 [GHA][CI] Separate GGUF Reader Test
  .github/components.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/manylinux_2_28.yml
  .github/workflows/windows.yml
  tests/python_tests/test_gguf_reader.py
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM, category: GHA, no-match-files

#2494 wwb: no chat template for VLMs
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#2474 Add TextEmbedinPipeline documentation
  samples/cpp/rag/text_embeddings.cpp
  samples/python/rag/text_embeddings.py
  site/docs/use-cases/text-embedding/_sections/_run_model/_code_example_cpp.mdx
  site/docs/use-cases/text-embedding/_sections/_run_model/_code_example_python.mdx
  site/docs/use-cases/text-embedding/_sections/_run_model/index.mdx
  site/docs/use-cases/text-embedding/_sections/_usage_options/index.mdx
  site/docs/use-cases/text-embedding/index.mdx
  site/src/pages/_sections/UseCasesSection/components/text-embedding.tsx
  site/src/pages/_sections/UseCasesSection/index.tsx
Labels: category: GH Pages Docs, category: RAG samples

#2438 Add TTS to llm_bench
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_tools_llm_benchmark.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/doc/PROMPT.md
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/output_file.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/llm_bench_utils/pt_utils.py
  tools/llm_bench/task/text_to_speech_generation.py
Labels: category: llm_bench, no-match-files

#2517 [llm_bench] Update logging info for stable-diffusion pipeline
  tools/llm_bench/llm_bench_utils/metrics_print.py
Labels: category: llm_bench
