Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-01, with the labels that each got.

#1459 Updated real_models list
  tests/python_tests/models/real_models
Labels: no-match-files

#1467 Removed usage of deprecated ov::affinity property
  src/python/py_utils.cpp
Labels: category: Python API

#1473 Don't throw when some generation parameters are ignored
  src/cpp/src/generation_config.cpp
  tests/python_tests/test_generation_config.py
Labels: category: sampling, no-match-files

#1472 Hardcoded optimum version
  samples/export-requirements.txt
Labels: category: samples

#1465 Move tests on sampling to test_sampling.py
  .github/workflows/mac.yml
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_llm_pipeline_static.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_vlm_pipeline.py
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: visual language, category: continuous batching, category: LLM, category: sampling, category: GHA, category: Python API, no-match-files

#1261 Add slice before matmut transformation for CB scenario
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/utils/paged_attention_transformations.hpp
Labels: category: continuous batching, category: sampling, category: speculative decoding, no-match-files

#1431 StaticLLMPipeline: Support more generation options
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/sequence_group.hpp
  tests/python_tests/test_llm_pipeline_static.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench, category: continuous batching, category: LLM, category: sampling, no-match-files

#1477 [Python] Use texts instead of cast operator
  src/python/py_vlm_pipeline.cpp
Labels: category: visual language, category: Python API

#1478 [Tests] Fixed HF warning
  tests/python_tests/common.py
  tests/python_tests/test_llm_pipeline.py
Labels: category: LLM, no-match-files

#1240 Static llm pipeline: stateful model
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM, category: NPU

#1480 [LLM Bench] Added support of OpenVINO pre-releases install and test
  .github/workflows/genai-tools.yml
  tests/python_tests/common.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_vlm_pipeline.py
  tools/llm_bench/requirements.txt
  tools/who_what_benchmark/requirements.txt
Labels: category: llm_bench, category: WWB, category: visual language, category: continuous batching, category: GHA, no-match-files

#1481 [llm bench] remove outdated code from pt models loading
  tools/llm_bench/llm_bench_utils/pt_utils.py
Labels: category: llm_bench

#1485 [TESTS] Use FP32 inference precision, FP16 KV cache precision for pipelines
  samples/export-requirements.txt
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/requirements.txt
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: continuous batching, category: Python API, category: samples, no-match-files

#1486 [llm_bench] add support granite and granitemoe models
  tools/llm_bench/llm_bench_utils/config_class.py
Labels: category: llm_bench

#1490 Pinned optimum to keep compatibility with 2024.6.0
  README.md
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
Labels: category: samples, no-match-files

#1466 Update VLM example code in README
  README.md
Labels: no-match-files

#1487 Fix text streaming in samples
  samples/python/multinomial_causal_lm/multinomial_causal_lm.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: bug, category: llm_bench, category: samples

#1461 Added ability to compare results vs. llama.cpp
  tools/who_what_benchmark/whowhatbench/model_loaders.py
  tools/who_what_benchmark/whowhatbench/text_evaluator.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1489 Replace 'CACHE_DIR' with 'NPUW_CACHE_DIR' in StatefulLLMPipeline
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM, category: NPU

#1479 Ported several PRs to releases/2024/6
  README.md
  samples/export-requirements.txt
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/generation_handle.cpp
  src/cpp/src/generation_stream.hpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  src/cpp/src/utils/paged_attention_transformations.hpp
  src/cpp/src/visual_language/pipeline.cpp
  tests/python_tests/test_generate_api.py
Labels: category: text to image, category: visual language, category: continuous batching, category: LLM, category: speculative decoding, category: samples, no-match-files

#1402 Enable ov_add_api_validator_post_build_step
  src/cpp/CMakeLists.txt
Labels: category: cmake / build

#1497 [CB] Fix key cache shape for GPU
  src/cpp/src/device_config.hpp
Labels: category: continuous batching

#1498 Finally drop old LLM bench folder
  llm_bench/python/README.md
  llm_bench/python/who_what_benchmark/README.md
Labels: no-match-files

#1500 Add complete version information
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  CMakeLists.txt
  cmake/templates/__version__.py.in
  cmake/templates/version.cpp.in
  cmake/templates/version.hpp.in
  cmake/version.cmake
  src/cpp/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/clean_version.cmake
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_openvino_genai.cpp
Labels: category: GHA, category: cmake / build, category: Python API

#1502 Update README.md with link to SUPPORTED_MODELS.md
  README.md
Labels: no-match-files

#1503 Update README.md
  README.md
Labels: no-match-files

#1504 Added information about LoRA support
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  README.md
  SUPPORTED_MODELS.md
  samples/cpp/visual_language_chat/README.md
  samples/cpp/whisper_speech_recognition/README.md
  samples/python/whisper_speech_recognition/README.md
Labels: category: GHA, category: samples, no-match-files

#1505 Replaced chatglm2-6b with chatglm3-6b
  SUPPORTED_MODELS.md
  tests/python_tests/models/real_models
  tests/python_tests/ov_genai_test_utils.py
Labels: no-match-files

#1496 Whisper pipeline: refactor tests, disable `return_timestamps` check
  .github/workflows/windows.yml
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tests/python_tests/test_whisper_pipeline.py
Labels: category: whisper, category: GHA, category: samples, no-match-files

#1509 DOCS: unify package name usage across snippets in README.md
  README.md
Labels: no-match-files

#1511 GHA: use latest OpenVINO master
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1510 [GHA] Increase timeout for cpp-multinomial-greedy_causal_lm-ubuntu
  .github/workflows/causal_lm_cpp.yml
Labels: category: GHA

#1512 [Image generation] added progress bar to C++ samples
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/image_generation/heterogeneous_stable_diffusion.cpp
  samples/cpp/image_generation/image2image.cpp
  samples/cpp/image_generation/inpainting.cpp
  samples/cpp/image_generation/lora_text2image.cpp
  samples/cpp/image_generation/progress_bar.hpp
  samples/cpp/image_generation/text2image.cpp
Labels: category: cmake / build, category: samples

#1514 Fixed copy-pasted error message
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/inpainting_pipeline.cpp
Labels: category: text to image

#1513 Fixed SEGFAULT when empty encoded inputs are passed to LLM
  src/cpp/src/sequence_group.hpp
  tests/cpp/block_manager.cpp
  tests/python_tests/test_llm_pipeline.py
Labels: bug, category: continuous batching, category: LLM

#1517 Tokenizers: use tensor names instead of indices
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/job_vlm_sample_llava.yml
  .github/workflows/lcm_dreamshaper_cpp.yml
  src/cpp/src/tokenizer.cpp
Labels: bug, category: GHA, category: tokenizers

#1469 Whisper: Fix decoder inputs for static pipeline
  src/cpp/src/whisper_pipeline_static.cpp
  src/cpp/src/whisper_pipeline_static.hpp
Labels: category: whisper, category: NPU

#1526 [LLM][NPU] Fixed GENERATE_HINT
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1527 LCMScheduler fix
  src/cpp/src/image_generation/schedulers/lcm.cpp
Labels: bug, category: text to image

#1523 add internvl2.5 to supported models
  SUPPORTED_MODELS.md
Labels: no-match-files

#1525 [llm_bench] update optimum bench hook for transformer-based imagegen
  tools/llm_bench/llm_bench_utils/hook_forward.py
  tools/llm_bench/llm_bench_utils/metrics_print.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench

#1530 LLM Bench: fix warning print
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1528 SD3: fixed padding with negative size
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
Labels: bug, category: text to image

#1520 PYTHON: remove WA for size_t types because of ov::Any
  src/python/py_utils.cpp
Labels: category: Python API

#1425 Move lm model to async infer
  src/cpp/src/lm_encoding.cpp
Labels: category: LLM

#1529 [WWB]: Enhanced parsing output in tests
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB

#1534 Update bandit.yml
  .github/workflows/bandit.yml
Labels: category: GHA

#1411 [Samples] merge LLM samples to "text_generation" folder
  .github/workflows/causal_lm_cpp.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/CMakeLists.txt
  samples/cpp/beam_search_causal_lm/CMakeLists.txt
  samples/cpp/beam_search_causal_lm/README.md
  samples/cpp/benchmark_genai/CMakeLists.txt
  samples/cpp/benchmark_genai/README.md
  samples/cpp/chat_sample/CMakeLists.txt
  samples/cpp/chat_sample/README.md
  samples/cpp/lora_greedy_causal_lm/CMakeLists.txt
  samples/cpp/multinomial_causal_lm/CMakeLists.txt
  samples/cpp/multinomial_causal_lm/README.md
  samples/cpp/prompt_lookup_decoding_lm/CMakeLists.txt
  samples/cpp/prompt_lookup_decoding_lm/README.md
  samples/cpp/speculative_decoding_lm/CMakeLists.txt
  samples/cpp/speculative_decoding_lm/README.md
  samples/cpp/text_generation/CMakeLists.txt
  samples/cpp/text_generation/README.md
  samples/cpp/text_generation/beam_search_causal_lm.cpp
  samples/cpp/text_generation/benchmark_genai.cpp
  samples/cpp/text_generation/chat_sample.cpp
  samples/cpp/text_generation/lora_greedy_causal_lm.cpp
  samples/cpp/text_generation/multinomial_causal_lm.cpp
  samples/cpp/text_generation/prompt_lookup_decoding_lm.cpp
  samples/cpp/text_generation/speculative_decoding_lm.cpp
  samples/python/beam_search_causal_lm/README.md
  samples/python/benchmark_genai/README.md
  samples/python/chat_sample/README.md
  samples/python/multinomial_causal_lm/README.md
  samples/python/prompt_lookup_decoding_lm/README.md
  samples/python/speculative_decoding_lm/README.md
  samples/python/text_generation/README.md
  samples/python/text_generation/beam_search_causal_lm.py
  samples/python/text_generation/benchmark_genai.py
  samples/python/text_generation/chat_sample.py
  samples/python/text_generation/multinomial_causal_lm.py
  samples/python/text_generation/prompt_lookup_decoding_lm.py
  samples/python/text_generation/speculative_decoding_lm.py
  src/README.md
Labels: category: GHA, category: cmake / build, category: samples, no-match-files

#1474 Whisper pipeline: support stateful decoder
  .github/workflows/windows.yml
  src/README.md
  src/cpp/src/logger.hpp
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/decoder.hpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/models/with_past_decoder.cpp
  src/cpp/src/whisper/models/with_past_decoder.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/cpp/src/whisper/whisper_models.hpp
  src/cpp/src/whisper_pipeline.cpp
  tests/python_tests/requirements.txt
  tests/python_tests/test_whisper_pipeline.py
Labels: category: whisper, category: GHA, no-match-files

#1492 Fix streaming hieroglyphs
  samples/python/multinomial_causal_lm/multinomial_causal_lm.py
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  tests/python_tests/test_generate_api.py
  tests/python_tests/test_vlm_api.py
Labels: bug, category: visual language, category: LLM, category: samples, no-match-files, port to master

#1535 Update bandit.yml
  .github/workflows/bandit.yml
Labels: category: GHA

#1536 StaticLLMPipeline: Support prefill & generate config extension
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1507 [LLM][NPU] Ported sampler from Stateless to Stateful pipeline
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: category: LLM, category: NPU

#1524 CB: added PerfMetrics support
  src/cpp/include/openvino/genai/continuous_batching_pipeline.hpp
  src/cpp/include/openvino/genai/generation_handle.hpp
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/perf_metrics.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
Labels: enhancement, category: continuous batching, category: LLM, category: Python API, category: GenAI C++ API, no-match-files

#1532 [Speculative decoding][Prompt lookup] Handle exceptions for Assisting generations streaming
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/icontinuous_batching.hpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
Labels: category: continuous batching, category: speculative decoding, no-match-files, category: prompt lookup

#1515 [LLM] [NPU] StaticLLMPipeline: Compiler DQ update
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM, category: NPU

#1539 [LLM_BENCH] disable use_cb if NPU
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#1541 SAMPLES: fix benchmark_genai to have required args
  samples/cpp/text_generation/benchmark_genai.cpp
  samples/python/text_generation/benchmark_genai.py
Labels: bug, category: samples

#1542 Fixed tokenization time metric in VLM.
  src/cpp/src/visual_language/inputs_embedder.cpp
Labels: category: visual language

#1546 Upgrade to new bandit version
  .github/workflows/bandit.yml
  bandit.yml
Labels: category: GHA, no-match-files

#1494 [LLM] [NPU] StaticLLMPipeline: Import model if blob file is present in Stateful pipeline
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/llm_pipeline_static.hpp
Labels: Code Freeze, category: LLM, category: NPU

#1446 [GenAI tools] Updated testing models
  .github/workflows/genai-tools.yml
  src/cpp/src/image_generation/flux_pipeline.hpp
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: text to image, category: GHA

#1554 Fix finish generation from streamer
  src/cpp/src/lm_encoding.cpp
Labels: category: LLM

#1551 Static pipeline: use default properties when run on CPU
  tests/python_tests/test_llm_pipeline_static.py
Labels: no-match-files

#1558 [LLM] [NPU] StaticLLMPipeline: Enable CACHE_DIR
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM

#1560 Fixed pass of ++PREFILL_CONFIG, ++GENERATE_CONFIG via Python
  src/python/py_utils.cpp
Labels: category: Python API

#1557 WA to fix TTFT in CB for Linux
  src/cpp/src/cache_manager.hpp
Labels: category: continuous batching

#1567 WA for NPU plugin issue
  .github/workflows/genai-tools.yml
  .github/workflows/linux.yml
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1548 Image generation: rely on activation_scale_factor for GPU
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
Labels: Code Freeze, category: text to image

#1540 Fixed streamer without corrupting hieroglyphs
  samples/python/text_generation/multinomial_causal_lm.py
  src/cpp/src/text_callback_streamer.cpp
  src/cpp/src/text_callback_streamer.hpp
  tests/python_tests/common.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tests/python_tests/test_vlm_pipeline.py
Labels: bug, Code Freeze, category: visual language, category: LLM, category: sampling, category: samples, no-match-files

#1568 [CB] Fix Memory leak in CBPipeImpl Constructor
  src/cpp/src/cache_state_dumper.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/scheduler.hpp
Labels: bug, Code Freeze, category: continuous batching

#1573 skip failing Chinese prompt on Win
  tests/python_tests/test_sampling.py
Labels: category: sampling

#1571 Bump product version 2025.1
  CMakeLists.txt
  pyproject.toml
Labels: category: cmake / build

#1570 [LLM_BENCH] relax md5 checks and allow pass cb config without use_cb
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1553 [VLM] Add Qwen2VL
  .github/workflows/causal_lm_cpp.yml
  SUPPORTED_MODELS.md
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
Labels: category: visual language, category: LLM, category: GHA, no-match-files

#1585 Fix links, remind about ABI
  samples/cpp/image_generation/README.md
  samples/cpp/visual_language_chat/README.md
  samples/cpp/whisper_speech_recognition/README.md
  src/docs/BUILD.md
Labels: category: samples, no-match-files

#1582 Add nightly to instructions similar to requirements
  src/docs/BUILD.md
Labels: no-match-files

#1561 NPU LLM Pipeline: Switch to STATEFUL by default
  src/cpp/src/llm_pipeline_static.cpp
Labels: Code Freeze, category: LLM

#1574 Verify not empty rendered chat template
  src/cpp/src/tokenizer.cpp
  tests/python_tests/test_tokenizer.py
Labels: category: tokenizers

#1588 [RTTI] Fix passes rtti definitions
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/whisper_pipeline_static.cpp
Labels: category: LLM, category: whisper, category: LoRA

#1586 Test `add_special_tokens` properly
  tests/python_tests/test_continuous_batching.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_tokenizer.py
Labels: category: continuous batching, category: LLM, category: tokenizers

#1584 Add indentation for llm_bench json report dumping
  tools/llm_bench/llm_bench_utils/output_json.py
Labels: category: llm_bench

#1587 prioretize config model type under path-based task determination
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench, port to releases/latest

#1579 Replace openvino.runtime imports with openvino
  tools/llm_bench/benchmark.py
  tools/llm_bench/convert.py
  tools/llm_bench/llm_bench_utils/ov_model_classes.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1250 Add tests for Whisper static pipeline
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/cpp/src/whisper_pipeline_static.cpp
  src/cpp/src/whisper_pipeline_static.hpp
  tests/python_tests/test_whisper_pipeline_static.py
Labels: category: whisper, category: GHA, category: NPU, no-match-files

#1594 CB: removed handle_dropped() misuse
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sequence_group.hpp
Labels: category: continuous batching, category: LLM

#1583 Change openvino.runtime imports to openvino for 2025.0
  tools/llm_bench/benchmark.py
  tools/llm_bench/convert.py
  tools/llm_bench/llm_bench_utils/ov_model_classes.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1605 NPU LLM Pipeline: Switch to STATEFUL by default
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1599 [ Speculative decoding ][ Prompt lookup ] Enable Perf Metrics for assisting pipelines
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.hpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.hpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.hpp
  src/cpp/src/timer.hpp
Labels: category: continuous batching, category: sampling, category: speculative decoding, category: prompt lookup

#1601 [LLM] [NPU] StaticLLMPipeline: Export blob
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1607 [llm_bench] enable prompt permutations for prevent prefix caching and fix vlm image load
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench, port to releases/latest

#1611 LLM: use set_output_seq_len instead of WA
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lm_encoding.cpp
Labels: category: LLM

#1603 [LLM] [NPU] StaticLLMPipeline: Export blob
  src/cpp/src/llm_pipeline_static.cpp
Labels: category: LLM

#1610 CB: support different number of K and V heads per layer
  src/cpp/src/device_config.hpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/device_config.cpp
  tests/cpp/scheduler.cpp
Labels: category: continuous batching, port to releases/latest

#1602 Update for LoRA Adapters: Derived adapters and support for FLUX
  samples/cpp/image_generation/progress_bar.hpp
  samples/cpp/text_generation/lora_greedy_causal_lm.cpp
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/lora_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/clip_text_model_with_projection.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/llm_pipeline.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/lora_adapter.cpp
  src/cpp/src/lora_common.hpp
  src/cpp/src/lora_helper.cpp
  src/cpp/src/lora_helper.hpp
  src/cpp/src/lora_names_mapping.cpp
  src/cpp/src/lora_names_mapping.hpp
  src/cpp/src/utils.hpp
Labels: category: text to image, category: continuous batching, category: LLM, category: LoRA, category: samples, category: GenAI C++ API, no-match-files, port to master

#1613 Update samples readme (#1545)
  samples/cpp/text_generation/README.md
  samples/python/text_generation/README.md
Labels: category: samples

#1616 LLM: fixed Slice / Gather of last MatMul
  src/cpp/src/utils.cpp
Labels: no-match-files, port to releases/latest

#1614 CB: removed handle_dropped() misuse [2025.0]
  src/cpp/src/block_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/sequence_group.hpp
Labels: category: continuous batching, category: LLM

#1598 Switch to VS 2022
  .github/workflows/stable_diffusion_1_5_cpp.yml
  .github/workflows/windows.yml
Labels: category: GHA

#1609 Add Phi-3.5-vision-instruct and Phi-3-vision-128k-instruct
  .github/workflows/mac.yml
  SUPPORTED_MODELS.md
  src/cpp/src/visual_language/clip.cpp
  src/cpp/src/visual_language/clip.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: GHA, no-match-files

#1590 [Port] Add Qwen2VL & check not empty rendered chat template
  .github/workflows/causal_lm_cpp.yml
  SUPPORTED_MODELS.md
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/lm_encoding.hpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/processor_config.cpp
  src/cpp/src/visual_language/processor_config.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vision_encoder.hpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/cpp/src/visual_language/vlm_model_type.hpp
  tests/python_tests/test_tokenizer.py
Labels: category: visual language, category: LLM, category: GHA, category: tokenizers, no-match-files

#1623 Whisper pipeline: apply slice matmul
  src/cpp/src/whisper/models/statefull_decoder.cpp
Labels: category: whisper

#1622 GHA: use OV master in mac.yml
  .github/workflows/mac.yml
Labels: category: GHA

#1621 [Image Generation] Image2Image for FLUX
  SUPPORTED_MODELS.md
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/image_processor.cpp
  src/cpp/src/image_generation/schedulers/euler_ancestral_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.cpp
  src/cpp/src/image_generation/schedulers/flow_match_euler_discrete.hpp
  src/cpp/src/image_generation/schedulers/ischeduler.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_image_generation_pipelines.cpp
  tools/who_what_benchmark/tests/test_cli_image.py
Labels: category: WWB, category: text to image, category: Python API, category: GenAI C++ API, no-match-files

#1625 add missed ignore_eos in generation config
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#1626 Master increase priority for rt info to fix Phi-3.5-vision-instruct and Phi-3-vision-128k-instruct
  src/cpp/src/tokenizer.cpp
  tests/python_tests/common.py
  tests/python_tests/ov_genai_test_utils.py
  tests/python_tests/test_tokenizer.py
Labels: category: tokenizers, no-match-files

#1624 Correct model name
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#987 Token rotation
  src/cpp/include/openvino/genai/cache_eviction.hpp
  src/cpp/src/cache_eviction.cpp
  src/cpp/src/cache_eviction.hpp
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/continuous_batching_pipeline.cpp
  src/cpp/src/device_config.hpp
  src/cpp/src/model_runner.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/utils/paged_attention_transformations.cpp
  src/cpp/src/utils/paged_attention_transformations.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/cpp/CMakeLists.txt
  tests/cpp/cache_eviction.cpp
  tests/cpp/data/cache_rotation_poc_ref_coefficients_per_block_0.txt
  tests/cpp/data/cache_rotation_poc_ref_coefficients_per_block_1.txt
  tests/cpp/data/cache_rotation_poc_ref_coefficients_per_block_2.txt
  tests/cpp/data/cache_rotation_poc_ref_coefficients_per_block_3.txt
  tests/python_tests/common.py
  tests/python_tests/data/long_prompts.txt
  tests/python_tests/test_kv_cache_eviction.py
  tests/python_tests/test_whisper_pipeline.py
  tests/python_tests/test_whisper_pipeline_static.py
Labels: category: continuous batching, category: whisper, category: cmake / build, category: Python API, category: GenAI C++ API, no-match-files

#1628 port llm bench fixes to release
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/config_class.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench

#1615 Whisper pipeline: use Sampler
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/src/debug_utils.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/logger.hpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/whisper/logit_processor.cpp
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/decoder.hpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/models/with_past_decoder.cpp
  src/cpp/src/whisper/models/with_past_decoder.hpp
  src/cpp/src/whisper/whisper.cpp
  src/cpp/src/whisper/whisper.hpp
  src/cpp/src/whisper/whisper_utils.cpp
  src/cpp/src/whisper/whisper_utils.hpp
  src/cpp/src/whisper_generation_config.cpp
  src/cpp/src/whisper_pipeline.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/test_whisper_pipeline.py
Labels: category: continuous batching, category: LLM, category: whisper, category: sampling, category: Python API, category: GenAI C++ API, no-match-files

#1629 Fix setting eos_token_id with kwarg
  src/cpp/src/generation_config.cpp
  tests/python_tests/test_generation_config.py
Labels: bug, category: sampling, no-match-files

#1630 Extract cacheopt E2E tests into separate test matrix field
  .github/workflows/linux.yml
Labels: category: GHA

#1544 [CB] Split token streaming and generation to different threads for all CB based pipelines
  samples/cpp/text_generation/speculative_decoding_lm.cpp
  samples/python/text_generation/speculative_decoding_lm.py
  src/cpp/include/openvino/genai/generation_handle.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  src/cpp/src/synchronized_queue.hpp
  src/cpp/src/text_callback_streamer.cpp
  src/python/py_continuous_batching_pipeline.cpp
  src/python/py_llm_pipeline.cpp
  src/python/py_utils.cpp
  tests/python_tests/test_continuous_batching.py
Labels: category: continuous batching, category: LLM, category: speculative decoding, category: tokenizers, category: Python API, category: samples, category: GenAI C++ API, category: prompt lookup

#1633 Test invalid fields assignment raises in GenerationConfig
  tests/python_tests/test_generation_config.py
Labels: no-match-files

#1637 do_sample=False for NPU in chat_sample, add NPU to README
  samples/cpp/text_generation/README.md
  samples/python/text_generation/README.md
Labels: category: samples

#1193 [JS] Add GenAI Node.js bindings
  .github/workflows/linux.yml
  CMakeLists.txt
  cmake/features.cmake
  pyproject.toml
  samples/js/text_generation/.gitignore
  samples/js/text_generation/README.md
  samples/js/text_generation/chat_sample.js
  samples/js/text_generation/package-lock.json
  samples/js/text_generation/package.json
  samples/js/text_generation/tests/usage.test.js
  src/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/js/.gitignore
  src/js/.npmignore
  src/js/CMakeLists.txt
  src/js/README.md
  src/js/include/addon.hpp
  src/js/include/helper.hpp
  src/js/include/llm_pipeline/finish_chat_worker.hpp
  src/js/include/llm_pipeline/init_worker.hpp
  src/js/include/llm_pipeline/llm_pipeline_wrapper.hpp
  src/js/include/llm_pipeline/start_chat_worker.hpp
  src/js/lib/bindings.cjs
  src/js/lib/module.js
  src/js/package-lock.json
  src/js/package.json
  src/js/src/addon.cpp
  src/js/src/helper.cpp
  src/js/src/llm_pipeline/finish_chat_worker.cpp
  src/js/src/llm_pipeline/init_worker.cpp
  src/js/src/llm_pipeline/llm_pipeline_wrapper.cpp
  src/js/src/llm_pipeline/start_chat_worker.cpp
  src/js/tests/bindings.test.js
  src/js/tests/models.js
  src/js/tests/module.test.js
  src/js/tests/setup.js
  src/js/tests/utils.js
  src/js/thirdparty/node-lib.def
  src/js/thirdparty/win_delay_load_hook.cc
Labels: category: GHA, category: cmake / build, category: samples, no-match-files

#1634 CB: preparation for relying on KV cache precisions from plugins
  .github/labeler.yml
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/device_config.hpp
  src/cpp/src/paged_attention_transformations.cpp
  src/cpp/src/paged_attention_transformations.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  tests/cpp/CMakeLists.txt
  tests/cpp/cache_manager.cpp
  tests/cpp/device_config.cpp
  tests/cpp/helper.cpp
  tests/cpp/helper.hpp
  tests/cpp/scheduler.cpp
  tests/cpp/speculative_decoding.cpp
Labels: category: continuous batching, category: speculative decoding, category: GHA, category: cmake / build, no-match-files

#1644 [LLM bench]support providing adapter config mode
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/llm_bench_utils/ov_utils.py
Labels: category: llm_bench

#1533 Automatically apply chat template in non-chat scenarios
  .github/workflows/causal_lm_cpp.yml
  README.md
  samples/cpp/text_generation/README.md
  samples/python/text_generation/README.md
  src/README.md
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/include/openvino/genai/whisper_generation_config.hpp
  src/cpp/src/generation_config.cpp
  src/cpp/src/icontinuous_batching.cpp
  src/cpp/src/llm_pipeline_stateful.cpp
  src/cpp/src/llm_pipeline_static.cpp
  src/cpp/src/tokenizer.cpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/whisper_generation_config.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_generation_config.cpp
  src/python/py_tokenizer.cpp
  tests/python_tests/common.py
  tests/python_tests/test_generation_config.py
  tests/python_tests/test_llm_pipeline.py
  tests/python_tests/test_sampling.py
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: llm_bench, category: WWB, category: visual language, category: LLM, category: whisper, category: sampling, category: GHA, category: tokenizers, category: Python API, category: samples, category: GenAI C++ API, no-match-files

#1639 beam_search_causal_lm.cpp: delete wrong comment
  samples/cpp/text_generation/beam_search_causal_lm.cpp
Labels: category: samples

#1643 [WWB]: Fixed chat template usage in VLM GenAI pipeline
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1646 [WWB]: Fixed nano-Llava preprocessor selection
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1638 [WWB]: Added config to preprocessor call in VLMs
  tools/who_what_benchmark/whowhatbench/visualtext_evaluator.py
Labels: category: WWB

#1640 CB: remove DeviceConfig class
  .github/labeler.yml
  src/cpp/src/cache_manager.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/continuous_batching_impl.hpp
  src/cpp/src/device_config.hpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/paged_attention_transformations.cpp
  src/cpp/src/paged_attention_transformations.hpp
  src/cpp/src/scheduler.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  tests/cpp/cache_manager.cpp
  tests/cpp/scheduler.cpp
Labels: category: text to image, category: continuous batching, category: speculative decoding, category: GHA

#1649 [WWB]: Added initialization of nano-llava in case of Transformers model
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

#1650 WWB: simplify code around start_chat / use_template
  tools/who_what_benchmark/whowhatbench/wwb.py
Labels: category: WWB

#1655 DOCS: reorganized support models for image generation
  SUPPORTED_MODELS.md
Labels: documentation, no-match-files

#1651 Fix using lm_bemch/wwb with version w/o apply_chat_template
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench

#1252 Parallel sampling with threadpool
  .github/workflows/causal_lm_cpp.yml
  src/cpp/src/continuous_batching_adapter.hpp
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/sampler.cpp
  src/cpp/src/sampler.hpp
  src/cpp/src/threadpool.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: continuous batching, category: sampling, category: GHA, no-match-files

#1657 [Coverity] Enabling coverity scan
  .github/workflows/coverity.yml
Labels: category: GHA

#1647 [ CB ] Fix streaming in case of empty outputs
  src/cpp/src/continuous_batching_impl.cpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/prompt_lookup/prompt_lookup_impl.cpp
  src/cpp/src/sequence_group.hpp
  src/cpp/src/speculative_decoding/speculative_decoding_impl.cpp
  tests/python_tests/test_continuous_batching.py
Labels: bug, category: continuous batching, category: LLM, category: speculative decoding, category: prompt lookup

#1654 Allow overriding eos_token_id
  src/cpp/src/generation_config.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: sampling
