Repository openvinotoolkit/openvino.genai, pull requests merged in 2025-05, with the labels that each got.

#2148 Remove extra call
  tests/python_tests/test_tokenizer.py
Labels: category: tokenizers

#1926 Add a sample of LLM ReAct Agent
  samples/deployment-requirements.txt
  samples/python/text_generation/README.md
  samples/python/text_generation/react_sample.py
  tests/python_tests/pytest.ini
  tests/python_tests/samples/test_react_sample.py
Labels: category: samples, no-match-files

#2145 Tokenizer: patch simplified_chat_template
  src/cpp/include/openvino/genai/tokenizer.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_tokenizer.cpp
  tests/python_tests/test_tokenizer.py
Labels: bug, category: tokenizers, category: Python API, category: C++ API

#2125 [llm_bench] Fix batch size processing while image gen benchmark
  tools/llm_bench/task/image_generation.py
Labels: category: llm_bench

#2140 [VLM] Add Qwen2.5-VL model support
  site/docs/supported-models/_components/vlm-models-table/models.ts
  site/docs/use-cases/image-processing/_sections/_usage_options/index.mdx
  src/cpp/include/openvino/genai/visual_language/pipeline.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  src/cpp/src/visual_language/vision_encoder.cpp
  src/cpp/src/visual_language/vlm_config.cpp
  src/cpp/src/visual_language/vlm_config.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_vlm_pipeline.cpp
  tests/python_tests/test_vlm_pipeline.py
Labels: category: visual language, category: Python API, category: C++ API, category: GH Pages Docs

#2149 Use full float for hash
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/src/sequence_group.cpp
  src/cpp/src/sequence_group.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
Labels: category: continuous batching, category: Python API, category: C++ API

#2057 [RAG] Add text embedding pipeline
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/cpp/include/openvino/genai/rag/text_embedding_pipeline.hpp
  src/cpp/src/rag/text_embedding_pipeline.cpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_openvino_genai.cpp
  src/python/py_rag.cpp
  src/python/py_utils.cpp
  src/python/py_whisper_pipeline.cpp
  tests/python_tests/requirements.txt
  tests/python_tests/test_rag.py
  tests/python_tests/utils/hugging_face.py
Labels: category: whisper, category: GHA, category: Python API, category: C++ API, no-match-files

#2142 [C] Implement type conversion for the property values of MAX_PROMPT_LEN and MIN_RESPONSE_LEN
  src/c/include/openvino/genai/c/llm_pipeline.h
  src/c/src/llm_pipeline.cpp
Labels: no-match-files

#2158 Added smart CI for Linux workflow
  .github/components.yml
  .github/labeler.yml
  .github/workflows/linux.yml
Labels: category: GHA

#2160 [GHA] Unique ov_cache
  .github/workflows/cleanup_caches.yml
  tests/python_tests/samples/conftest.py
  tests/python_tests/utils/constants.py
Labels: category: GHA, no-match-files

#2157 Zero out other half of int64 for hash
  src/cpp/src/sequence_group.cpp
Labels: category: continuous batching

#2164 Added smart CI for Windows and macOS
  .github/components.yml
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2166 Fix whisper pipeline beam search decoding
  samples/cpp/whisper_speech_recognition/whisper_speech_recognition.cpp
  samples/python/whisper_speech_recognition/whisper_speech_recognition.py
  src/cpp/src/whisper/models/decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/models/statefull_decoder.hpp
  src/cpp/src/whisper/whisper.cpp
  tests/python_tests/test_whisper_pipeline.py
Labels: category: whisper, category: Whisper samples

#2161 add phi4 reasoning to supported
  site/docs/supported-models/_components/llm-models-table/models.ts
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
Labels: category: tokenizers, category: GH Pages Docs

#2168 Adjusted smart CI / labeler configs
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: GHA

#2167 Add Text Embedding pipeline samples
  .github/components.yml
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  README.md
  SUPPORTED_MODELS.md
  samples/CMakeLists.txt
  samples/cpp/rag/CMakeLists.txt
  samples/cpp/rag/README.md
  samples/cpp/rag/text_embeddings.cpp
  samples/python/rag/README.md
  samples/python/rag/text_embeddings.py
  samples/python/whisper_speech_recognition/README.md
  tests/python_tests/pytest.ini
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_text_embedding_pipeline.py
  tests/python_tests/test_rag.py
Labels: category: GHA, category: cmake / build, no-match-files, category: Whisper samples, category: RAG

#2170 Add backoff to requirements_conversion.txt
  samples/export-requirements.txt
  tools/llm_bench/requirements/requirements_conversion.txt
Labels: category: llm_bench, no-match-files

#2174 Fix race cond. Move get_awaiting_requests method to base class
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/continuous_batching/pipeline_impl.hpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.cpp
  src/cpp/src/prompt_lookup/continuous_batching_for_prompt_lookup.hpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.cpp
  src/cpp/src/speculative_decoding/continuous_batching_for_speculative_decoding_impl.hpp
Labels: category: continuous batching, category: speculative decoding, category: prompt lookup

#2187 Add SD3 LoRA Adapter Support
  SUPPORTED_MODELS.md
  src/cpp/include/openvino/genai/image_generation/sd3_transformer_2d_model.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_dynamic.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_static_bs1.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/lora/adapter.cpp
Labels: category: image generation, category: LoRA, category: CPP API, no-match-files

#2182 [llm_bench] fix vlm processing without image and add more supported models
  tools/llm_bench/llm_bench_utils/model_utils.py
Labels: category: llm_bench

#2184 [Coverity] Fix null pointer dereferences
  samples/python/text_generation/limit_checker.py
  tools/llm_bench/llm_bench_utils/hook_forward_whisper.py
Labels: category: llm_bench, category: LLM samples

#2199 [llm_bench] fix overwriting bos token
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#2203 Fix Whisper tests
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tests/python_tests/test_whisper_pipeline.py
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: whisper, category: LLM samples, no-match-files, category: Whisper samples, category: Image generation samples, category: VLM samples

#2189 Added info to Scheduler docstring, optimized calculation of hash during prefix caching.
  src/cpp/include/openvino/genai/scheduler_config.hpp
  src/cpp/src/sequence_group.cpp
Labels: category: continuous batching, category: CPP API, no-match-files

#2198 Explain MODE_STATIC vs MODE_FUSE
  src/cpp/include/openvino/genai/lora_adapter.hpp
Labels: category: LoRA, category: CPP API

#2201 Whisper static pipeline: fix for fp8 models
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: whisper, category: NPU

#2210 LoRA scaling fix
  samples/cpp/image_generation/README.md
  src/cpp/src/lora/adapter.cpp
Labels: category: LoRA, category: Image generation samples

#2183 Benchmark add empty lora test
  tests/python_tests/samples/test_tools_llm_benchmark.py
  tools/llm_bench/benchmark.py
  tools/llm_bench/llm_bench_utils/model_utils.py
  tools/llm_bench/task/image_generation.py
  tools/llm_bench/task/text_generation.py
Labels: category: llm_bench

#2102 LLM: release plugin once pipeline is removed and WA for GPU
  src/cpp/include/openvino/genai/llm_pipeline.hpp
  src/cpp/src/continuous_batching/pipeline_base.cpp
  src/cpp/src/continuous_batching/pipeline_base.hpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/llm/pipeline.cpp
  src/cpp/src/llm/pipeline_stateful.cpp
  src/cpp/src/llm/pipeline_stateful.hpp
  src/cpp/src/llm/pipeline_static.cpp
  src/cpp/src/llm/pipeline_static.hpp
  src/cpp/src/tokenizer/tokenizer.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
Labels: category: continuous batching, category: LLM, category: tokenizers, category: CPP API, no-match-files

#2217 [llm_bench] `first_token_time` should not be scaled by `batch_size`
  tools/llm_bench/task/text_generation.py
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench

#2230 [Coverity] Removed dead code in preprocess_clip_image_llava().
  src/cpp/src/visual_language/llava/classes.cpp
Labels: Code Freeze, category: visual language

#2222 Fix Coverity issues
  src/cpp/src/speculative_decoding/speculative_decoding_metrics.cpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
Labels: Code Freeze, category: visual language, category: speculative decoding

#2209 [TTS] Introduce Text-to-speech pipeline API and support SpeechT5 TTS
  .github/components.yml
  .github/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  SUPPORTED_MODELS.md
  samples/CMakeLists.txt
  samples/cpp/speech_generation/CMakeLists.txt
  samples/cpp/speech_generation/README.md
  samples/cpp/speech_generation/audio_utils.cpp
  samples/cpp/speech_generation/audio_utils.hpp
  samples/cpp/speech_generation/text2speech.cpp
  samples/python/speech_generation/README.md
  samples/python/speech_generation/create_speaker_embedding.py
  samples/python/speech_generation/text2speech.py
  src/cpp/include/openvino/genai/speech_generation/speech_generation_config.hpp
  src/cpp/include/openvino/genai/speech_generation/speech_generation_perf_metrics.hpp
  src/cpp/include/openvino/genai/speech_generation/text2speech_pipeline.hpp
  src/cpp/src/speech_generation/default_speaker_embedding.hpp
  src/cpp/src/speech_generation/speech_generation_config.cpp
  src/cpp/src/speech_generation/speech_generation_perf_metrics.cpp
  src/cpp/src/speech_generation/speecht5_tts_decoder.cpp
  src/cpp/src/speech_generation/speecht5_tts_decoder.hpp
  src/cpp/src/speech_generation/speecht5_tts_model.cpp
  src/cpp/src/speech_generation/speecht5_tts_model.hpp
  src/cpp/src/speech_generation/text2speech_pipeline.cpp
  src/cpp/src/speech_generation/text2speech_pipeline_impl.cpp
  src/cpp/src/speech_generation/text2speech_pipeline_impl.hpp
  src/python/openvino_genai/__init__.py
  src/python/openvino_genai/__init__.pyi
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_openvino_genai.cpp
  src/python/py_speech_generation.cpp
  tests/python_tests/pytest.ini
  tests/python_tests/samples/conftest.py
  tests/python_tests/samples/test_text2speech.py
Labels: Code Freeze, category: GHA, category: cmake / build, category: Python API, category: CPP API, no-match-files

#2220 Remove commented code
  src/cpp/src/continuous_batching/model_runner.hpp
Labels: category: continuous batching

#2237 [llm_bench] Include #egg=optimum-intel to avoid issues when freezing …
  tools/llm_bench/requirements.txt
Labels: category: llm_bench

#2223 Dont include debug_utils.hpp
  src/cpp/src/continuous_batching/model_runner.hpp
  src/cpp/src/continuous_batching/pipeline.cpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/lm_encoding.cpp
  src/cpp/src/whisper/models/statefull_decoder.cpp
  src/cpp/src/whisper/pipeline_static.cpp
Labels: category: image generation, category: visual language, category: continuous batching, category: LLM, category: whisper

#2129 Switch VLM to ContinuousBatching by default.
  src/cpp/src/continuous_batching/pipeline_base.cpp
  src/cpp/src/continuous_batching/pipeline_base.hpp
  src/cpp/src/llm/pipeline.cpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/inputs_embedder.cpp
  src/cpp/src/visual_language/inputs_embedder.hpp
  src/cpp/src/visual_language/internvl_chat/classes.cpp
  src/cpp/src/visual_language/internvl_chat/classes.hpp
  src/cpp/src/visual_language/llava/classes.cpp
  src/cpp/src/visual_language/llava/classes.hpp
  src/cpp/src/visual_language/llava_next/classes.cpp
  src/cpp/src/visual_language/llava_next/classes.hpp
  src/cpp/src/visual_language/minicpm/classes.cpp
  src/cpp/src/visual_language/minicpm/classes.hpp
  src/cpp/src/visual_language/phi3_vision/classes.cpp
  src/cpp/src/visual_language/phi3_vision/classes.hpp
  src/cpp/src/visual_language/pipeline.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.cpp
  src/cpp/src/visual_language/qwen2_5_vl/classes.hpp
  src/cpp/src/visual_language/qwen2vl/classes.cpp
  src/cpp/src/visual_language/qwen2vl/classes.hpp
  tests/python_tests/test_vlm_pipeline.py
Labels: Code Freeze, category: visual language, category: continuous batching, category: LLM, no-match-files

#2228 add qwen3 chat template to mapping
  site/docs/supported-models/_components/llm-models-table/models.ts
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
Labels: category: tokenizers, category: GH Pages Docs

#2235 [JS] Add an interrupt option for LLMPipeline
  src/js/include/helper.hpp
  src/js/lib/index.ts
  src/js/lib/pipelines/llmPipeline.ts
  src/js/lib/utils.ts
  src/js/src/helper.cpp
  src/js/src/llm_pipeline/llm_pipeline_wrapper.cpp
  src/js/tests/module.test.js
Labels: category: JS API

#2238 Increased VLM tests timeout.
  .github/workflows/windows.yml
Labels: category: GHA

#2232 Fix Coverity issues
  samples/cpp/whisper_speech_recognition/audio_utils.cpp
  src/cpp/include/openvino/genai/generation_config.hpp
  src/cpp/src/continuous_batching/scheduler.hpp
  src/cpp/src/generation_config.cpp
Labels: Code Freeze, category: continuous batching, category: sampling, category: CPP API, category: Whisper samples

#2252 Add simplified chat template for falcon-7b-instruct
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
Labels: Code Freeze, category: tokenizers

#2242 [NPUW] Re-fixed issue with long prompt for NPU
  src/cpp/src/llm/pipeline_stateful.cpp
Labels: Code Freeze, category: LLM

#2276 [WWB] Additional processing of native phi4mm
  tools/who_what_benchmark/whowhatbench/model_loaders.py
Labels: category: WWB

#2275 Update ov genai version in samples
  samples/deployment-requirements.txt
  samples/export-requirements.txt
Labels: category: LLM samples, category: Whisper samples, category: Image generation samples, category: VLM samples

#2279 use chat templates in vlm
  tools/llm_bench/task/visual_language_generation.py
Labels: category: llm_bench

#2277 Remove LoRA scaling fix
  src/cpp/src/lora/adapter.cpp
Labels: category: LoRA

#2249 Update Whisper README.md as "--disable-stateful" is no longer required to export models for NPU
  samples/cpp/whisper_speech_recognition/README.md
  samples/python/whisper_speech_recognition/README.md
Labels: category: Whisper samples

#2190 Image generation multiconcurrency
  samples/cpp/image_generation/CMakeLists.txt
  samples/cpp/image_generation/README.md
  samples/cpp/image_generation/image2image_concurrency.cpp
  samples/cpp/image_generation/text2image_concurrency.cpp
  src/cpp/include/openvino/genai/image_generation/autoencoder_kl.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model.hpp
  src/cpp/include/openvino/genai/image_generation/clip_text_model_with_projection.hpp
  src/cpp/include/openvino/genai/image_generation/flux_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/image2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/sd3_transformer_2d_model.hpp
  src/cpp/include/openvino/genai/image_generation/t5_encoder_model.hpp
  src/cpp/include/openvino/genai/image_generation/text2image_pipeline.hpp
  src/cpp/include/openvino/genai/image_generation/unet2d_condition_model.hpp
  src/cpp/src/image_generation/diffusion_pipeline.hpp
  src/cpp/src/image_generation/flux_pipeline.hpp
  src/cpp/src/image_generation/image2image_pipeline.cpp
  src/cpp/src/image_generation/models/autoencoder_kl.cpp
  src/cpp/src/image_generation/models/clip_text_model.cpp
  src/cpp/src/image_generation/models/flux_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3_transformer_2d_model.cpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_dynamic.hpp
  src/cpp/src/image_generation/models/sd3transformer_2d_inference_static_bs1.hpp
  src/cpp/src/image_generation/models/t5_encoder_model.cpp
  src/cpp/src/image_generation/models/unet2d_condition_model.cpp
  src/cpp/src/image_generation/models/unet_inference.hpp
  src/cpp/src/image_generation/models/unet_inference_dynamic.hpp
  src/cpp/src/image_generation/models/unet_inference_static_bs1.hpp
  src/cpp/src/image_generation/stable_diffusion_3_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_pipeline.hpp
  src/cpp/src/image_generation/stable_diffusion_xl_pipeline.hpp
  src/cpp/src/image_generation/text2image_pipeline.cpp
  tests/python_tests/samples/test_image2image.py
  tests/python_tests/samples/test_text2image.py
Labels: category: image generation, category: cmake / build, category: CPP API, category: Image generation samples

#2285 [GHA][DEV] Fixed coverity path creation
  .github/workflows/coverity.yml
Labels: category: GHA

#2286 [GHA][DEV]Save coveity tool to cache
  .github/workflows/coverity.yml
Labels: category: GHA

#2278 Implement SnapKV (#2067) - release branch PR
  src/cpp/include/openvino/genai/cache_eviction.hpp
  src/cpp/src/continuous_batching/cache_eviction.cpp
  src/cpp/src/continuous_batching/cache_eviction.hpp
  src/cpp/src/continuous_batching/model_runner.hpp
  src/cpp/src/continuous_batching/paged_attention_transformations.cpp
  src/cpp/src/continuous_batching/pipeline_impl.cpp
  src/cpp/src/continuous_batching/pipeline_impl.hpp
  src/cpp/src/continuous_batching/scheduler.hpp
  src/python/openvino_genai/py_openvino_genai.pyi
  src/python/py_continuous_batching_pipeline.cpp
  tests/cpp/cache_eviction.cpp
  tests/python_tests/test_kv_cache_eviction.py
Labels: category: continuous batching, category: Python API, category: CPP API

#2296 Switch to SDPA for VLMs
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
  src/cpp/src/utils.cpp
  src/cpp/src/utils.hpp
  src/cpp/src/visual_language/pipeline.cpp
Labels: category: visual language, category: tokenizers, no-match-files

#2247 Unskip whisper tests & update optimum-intel
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  samples/export-requirements.txt
  tests/python_tests/requirements.txt
  tools/llm_bench/requirements.txt
Labels: category: llm_bench, category: GHA, category: LLM samples, no-match-files, category: Whisper samples, category: Image generation samples, category: VLM samples

#2294 Update README.md with text-to-speech
  README.md
Labels: no-match-files

#2298 add new chat template for qwen3 release
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
Labels: category: tokenizers

#2297 add new chat template for qwen3
  src/cpp/src/tokenizer/chat_template_fallback_map.hpp
Labels: category: tokenizers
